.about_banner{
    
    h1{
        margin-left: 80px;
        color: #0f3d3e;
        @include pad {
            margin-left: 27px;
        }   
    }
    
    img{
        width: 100%;
        height: 320px;
        object-fit: cover;
        @include pad {
            width: 100%;
            height: 200px;
        }
    }
}

.about {
    .about_title{
        margin-top: 20px;
        margin-bottom: 20px;
        h2{
            color: #0f3d3e;
            text-align: center;
            font-weight: bold;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }            
    }
    
    .about_content{
        max-width: 1280x;
        margin: 0 auto;
        padding:  0 105px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include pad{
            padding: 0 65px;
        }
        @include mobile{
            padding: 0 27px;
        }

        

        .part1{
            display: flex;
            margin-bottom: 100px;
            width: 100%;
            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }
            .part1_img{
                width: 70%;
                max-height: 425px;
                overflow: hidden;
                @include pad{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .part1_info{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @include pad{
                    align-items: flex-start;
                    width: 100%;
                }

                h2{
                    padding-top: 15%;
                    line-height: 1.2;
                    @include pad{
                        padding-top: 3%;
                    }
                }

                h4{
                    border-bottom: 1px solid #0f3d3e;
                    width: 130%;
                    text-align: right;
                    padding-bottom: 15px;
                    @include pad{
                        text-align: left;
                        width: 100%;
                    }
                }

                .text1{
                    text-align: justify;
                    width: 250%;
                    text-indent: 44px;
                    letter-spacing: 1px;
                    margin-top: 15px;
                    position: relative;
                    padding-bottom: 40px;
                    @include pad(){
                        width: 100%;
                        text-indent: 0;
                    }

                    .text2{
                        color: #fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 60%;
                        overflow: hidden;
                        @include pad(){
                            display: none;
                        }
                        .text_white{
                            width: 167%;
                        }
                    }
                }

                

            }
        }
        .part2{
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 100px;
            width: 100%;
            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }
            .part2_img{
                width: 70%;
                max-height: 425px;
                overflow: hidden;
                @include pad{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .part2_info{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include pad{
                    
                    width: 100%;
                }

                h2{
                    padding-top: 15%;
                    line-height: 1.2;
                    @include pad{
                        padding-top: 3%;
                    }
                }

                h4{
                    border-bottom: 1px solid #0f3d3e;
                    width: 130%;
                    text-align: left;
                    padding-bottom: 15px;
                    @include pad{
                        text-align: left;
                        width: 100%;
                    }
                }

                .text1{     
                    width: 250%;
                    direction: rtl;
                    text-align: left;
                    margin-top: 15px;
                    position: relative;
                    padding-bottom: 40px;
                    @include pad(){
                        width: 100%;
                        text-indent: 0;
                    }

                    .text2{
                        color: #fff;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 60%;
                        overflow: hidden;
                        @include pad(){
                            display: none;
                        }
                        .text_white{
                            width: 167%;
                        }
                    }
                }

                

            }
        }
        .part3{
            display: flex;
            margin-bottom: 100px;
            width: 100%;
            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }
            .part3_img{
                width: 70%;
                max-height: 425px;
                overflow: hidden;
                @include pad{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .part3_info{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @include pad{
                    align-items: flex-start;
                    width: 100%;
                }

                h2{
                    padding-top: 15%;
                    line-height: 1.2;
                    @include pad{
                        padding-top: 3%;
                    }
                }

                h4{
                    border-bottom: 1px solid #0f3d3e;
                    width: 130%;
                    text-align: right;
                    padding-bottom: 15px;
                    @include pad{
                        text-align: left;
                        width: 100%;
                    }
                }

                .text1{
                    text-align: justify;
                    width: 250%;
                    text-indent: 44px;
                    letter-spacing: 1px;
                    margin-top: 15px;
                    position: relative;
                    padding-bottom: 40px;
                    @include pad(){
                        width: 100%;
                        text-indent: 0;
                    }

                    .text2{
                        color: #fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 60%;
                        overflow: hidden;
                        @include pad(){
                            display: none;
                        }
                        .text_white{
                            width: 167%;
                        }
                    }
                }

                

            }
        }
        
    }
}

.serve{
    width: 100%;
    height: 1163px;
    background-color: #E2DCC8,;
    @include pad{
        height: 863px;
    }
    .serve_title{
        margin: 50px 0;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    .serve_grid {
        width: 90%;
        height: 800px;
        margin: 0 auto;
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(3, 1fr);
        gap: 5px;
        @include pad{
            height: 640px;
            grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        }
        .reserve{
            background-image: url(../../img/about_img/about_box_reserve.jpg);
            background-size: cover;
            grid-column: 1 / 3;
            grid-row: 1 / 3;

            position: relative;
            
            @include pad{
                grid-column: 1/3;
                grid-row: 1/2;
            }
            h4{
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color: rgba(0, 0, 0, .3);
                color: white;
                font-size: 22px;
                width: 100%;
                height: 100%;
                top: 0;
            }          
        }
        .reserve:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                transition: opacity 0.8s;
                color: #fff;
                
            }
        }
        .shopmall{
            background-image: url(../../img/about_img/about_box_shopmall.jpg);
            background-size: cover;
            grid-column: 1 / 2;
            grid-row: 3 / 6; 

            position: relative;

            @include pad{
                grid-column: 1/2;
                grid-row: 2/4;
            }
            h4{
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color: rgba(0, 0, 0, .3);
                color: white;
                font-size: 22px;
                width: 100%;
                height: 100%;
                top: 0;
                @include pad{
                    height: 100%;
                    
                }
            }
        }
        .shopmall:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                transition: opacity 0.8s;
                color: #fff;
            }
        }
        .menu_grid{
            background-image: url(../../img/about_img/about_box_menu.jpg);
            background-size: cover;
            grid-column: 2 / 3;
            grid-row: 3 / 6;

            position: relative;

            @include pad{
                grid-column: 2/3;
                grid-row: 2/4;
            }
            h4{
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color: rgba(0, 0, 0, .3);
                color: white;
                font-size: 22px;
                width: 100%;
                height: 100%;
                top: 0;
                @include pad{
                    height: 100%;
                    
                }
            } 
        }
        .menu_grid:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                transition: opacity 0.8s;
                color: #fff;
            }
        }
        .team{
            background-image: url(../../img/about_img/about_box_team.jpg);
            background-size: cover;
            grid-column: 3 / 4;
            grid-row: 1 / 6;

            position: relative;

            @include pad{
                background-image: url(../../img/about_img/about_box_team_rwd.jpg);
                grid-column: 1/3;
                grid-row: 4/5;
            }
            h4{
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color: rgba(0, 0, 0, .3);
                color: white;
                font-size: 22px;
                width: 100%;
                height: 100%;
                top: 0;
                
            } 
        }
        .team:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                transition: opacity 0.8s;
                color: #fff;
            }
        }  
    }
    
    
    
}

.contact{
    max-width: 80%;
    margin:0 auto;
    padding-bottom: 150px;
    .contact_title{
        margin: 50px 0;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }   
    }
    .name_email_wrapper{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
        .yourname{
            width: 450px;
            input{
                width: 100%;
                line-height: 30px;
                outline: none;
            }
        }
        .yourphone{
            width: 450px;
            input{
                width: 100%;
                line-height: 30px;
                outline: none;
            }
        }
        .youremail{
            width: 450px;
            input{
                width: 100%;
                line-height: 30px;
                outline: none;
            }
        }
        .suggest_type{
            width: 450px;
            input{
                width: 100%;
                line-height: 30px;
                outline: none;
            }
        }
        
        
        .subject_message_submit_wrapper{
            width: 910px;
            position: relative;
            @media all and (max-width: 1163px){
                width: 450px;
            }
            textarea{
                width: 100%;
                outline: none;
                resize:none;
            }
            .btn_view{
                position: absolute;
                right: 0;
                top: 250px;
            }
        }
    }
    

}

.qanda{
    width: 80%;
    margin: 0 auto;
    .qa_title{
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    .accordion{
        color: black;
        background-color: white;    
    }

    h1{
        text-align: center;
    }

    .container{
        position: relative;
        margin: 10px 10px;

        .label{
            position: relative;
            padding: 10px 0;
            font-size: 20px;
            color: black;
            cursor: pointer;
        }

        .label::before{
            content: '+';
            color: black;
            position: absolute;
            top: 50%;
            right: -5px;
            font-size: 20px;
            transform: translateY(-50%);
        }

        .content{
            position: relative;
            background: white;
            height: 0;
            font-size: 20px;
            text-align: justify;
            width: 780px;
            overflow: hidden;
            transition: 0.5s;
        }
    }

    .container.active{
        .content{
            height: 25px;
        }

        .label::before {
            content: '-';
            font-size: 20px;
        }
    }

    
}
