.banner{
    
    h1{
        margin-left: 80px;
        color: #0f3d3e;
    }
    
    img{
        width: 100%;
        object-fit: cover;
        height: 320px;
    }
}

.about {
    color: #0f3d3e;
    height: 1870px;
    .about_title{
        margin: 50px 0;
        h2{
            text-align: center;
            font-weight: bold;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }            
    }
    .part1_img{
        height: 425px; /*can be anything*/
        width: 740px; /*can be anything*/
        position: relative;
        img{
            max-height: 100%;  
            max-width: 100%; 
            width: auto;
            height: auto;
            position: absolute;  
            top: 0;  
            bottom: 0;  
            left: 120px;  
            right: 0;  
            margin: auto;
        }
    }
    .part1_content{
        height: 100px;
        position: absolute;  
        top: 620px;  
        bottom: 0;  
        left: 420px;  
        right: 0;  
        margin: auto;
        /* ---------------- 底下文字 ---------------- */
        div:nth-of-type(1) {
            /*(一)減短左邊文字長度*/
            position: relative;
            left:20px;     /*(四)兩邊文字對齊*/
            top:47px;
            width: 800px;   /*(二)增加右邊文字長度*/
        }

        div {
            overflow: hidden;
        }

        div h5 {
            width: 900px;   /*調整全文字長度*/
            
            
        }
        


        /* ---------------- 上面文字 ---------------- */

        div:nth-of-type(2) {
            color: #fff;
            position: absolute;
            left: 20px;     /*(四)兩邊文字對齊*/
            top: 150px;
            width: 420px;   /*(二)增加右邊文字長度*/
        }

        div {
            overflow: hidden;
        }

        div:nth-of-type(2) p {
            left: -550px;  /*(三)對齊文字*/
            position: relative;
        }

        div h5 {
            width: 900px;
        }
        h2{
            margin-right: 100px;
            text-align: right;
            
        }
        h4{
            text-align: right;
            margin-right: 100px;
        }
        p{
            width: 400px;
            border-bottom: solid 2px #0f3d3e;
            position: absolute;
            left:340px;
            top:100px;
        }
    }

    .part2_img{
        height: 425px; /*can be anything*/
        width: 740px; /*can be anything*/
        position: relative;
        img{
            max-height: 100%;  
            max-width: 100%; 
            width: auto;
            height: auto;
            position: absolute;  
            top: 150px;  
            bottom: 0;  
            left: 420px;  
            right: 0;  
            margin: auto;
        }
    }
    .part2_content{
        height: 100px;
        position: absolute;  
        top: 1200px;  
        bottom: 0;  
        left: 420px;  
        right: 0;  
        margin: auto;
        /* ---------------- 底下文字 ---------------- */
        div:nth-of-type(1) {
            color: #fff;
            /*(一)減短左邊文字長度*/
            position: absolute;
            left:-300px;     /*(四)兩邊文字對齊*/
            top:150px;
            width: 800px;   /*(二)增加右邊文字長度*/
        }
    
        div {
            overflow: hidden;
        }
    
        div h5 {
            width: 900px;   /*調整全文字長度*/
            
            
        }
        
    
    
        /* ---------------- 上面文字 ---------------- */
    
        div:nth-of-type(2) {
            color: #0f3d3e;
            position: absolute;
            left: -300px;     /*(四)兩邊文字對齊*/
            top: 150px;
            width: 300px;   /*(二)增加右邊文字長度*/
        }
    
        div {
            overflow: hidden;
        }
    
        div:nth-of-type(2) p {
            left: -550px;  /*(三)對齊文字*/
            position: relative;
        }
    
        div h5 {
            width: 900px;
        }
        h2{
            margin-left: -300px;
        }
        h4{
            margin-left: -300px;
        }
        p{
            width: 400px;
            border-bottom: solid 2px #0f3d3e;
            position: absolute;
            left:-300px;
            top:100px;
        }
    }
    .part3_img{
        height: 425px; /*can be anything*/
        width: 740px; /*can be anything*/
        position: relative;
        img{
            max-height: 100%;  
            max-width: 100%; 
            width: auto;
            height: auto;
            position: absolute;  
            top: 400px;  
            bottom: 0;  
            left: 120px;  
            right: 0;  
            margin: auto;
        }
    }
    .part3_content{
        height: 100px;
        position: absolute;  
        top: 1800px;  
        bottom: 0;  
        left: 420px;  
        right: 0;  
        margin: auto;
        /* ---------------- 底下文字 ---------------- */
        div:nth-of-type(1) {
            /*(一)減短左邊文字長度*/
            position: absolute;
            left:20px;     /*(四)兩邊文字對齊*/
            top:150px;
            width: 800px;   /*(二)增加右邊文字長度*/
        }
    
        div {
            overflow: hidden;
        }
    
        div h5 {
            width: 900px;   /*調整全文字長度*/
            
            
        }
        
    
    
        /* ---------------- 上面文字 ---------------- */
    
        div:nth-of-type(2) {
            color: #fff;
            position: absolute;
            left: 20px;     /*(四)兩邊文字對齊*/
            top: 150px;
            width: 420px;   /*(二)增加右邊文字長度*/
        }
    
        div {
            overflow: hidden;
        }
    
        div:nth-of-type(2) p {
            left: -550px;  /*(三)對齊文字*/
            position: relative;
        }
    
        div h5 {
            width: 900px;
        }
        h2{
            margin-right: 100px;
            text-align: right;
            
        }
        h4{
            text-align: right;
            margin-right: 100px;
        }
        p{
            width: 400px;
            border-bottom: solid 2px #0f3d3e;
            position: absolute;
            left:340px;
            top:100px;
        }
    }
}
.serve{
    height: 1163px;
    background-color: #E2DCC8,;
    .serve_title{
        margin: 50px 0;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    .serve_grid{
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
        
        .reserve{
            grid-column: 1/3;
            grid-row: 1/3;
            display: flex;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
            .info{
                width: 663px;
                height: 305px;
                display: none;
                background-color: rgba(0,0,0,0.5);
                transition: 0.5s;
                opacity: 0;
                
            }          
        }
        .reserve:hover{
            .info{
                opacity: 1;
                display: block;
                position: absolute;
                color: #fff;
                h4{
                    text-align: center;
                    padding-top: 20%;
                }
            }
        }
        .shopmall{
            grid-column: 1/2;
            grid-row: 3/6;
            display: flex;
            img{
                height: 32%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
            .info{
                width: 327px;
                height: 470px;
                display: none;
                background-color: rgba(0,0,0,0.5);
                transition: 1s;
                opacity: 0;
            }
        }
        .shopmall:hover{
            .info{
                opacity: 1;
                display: block;
                position: absolute;
                color: #fff;
                h4{
                    text-align: center;
                    padding-top: 60%;
                }
            }
        }
        .menu{
            grid-column: 2/3;   
            grid-row: 3/6;
            display: flex;
            img{
                height: 32%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
            .info{
                width: 327px;
                height: 470px;
                display: none;
                background-color: rgba(0,0,0,0.5);
                transition: 0.5s;
                opacity: 0;
            } 
        }
        .menu:hover{
            .info{
                opacity: 1;
                display: block;
                position: absolute;
                color: #fff;
                h4{
                    text-align: center;
                    padding-top: 60%;
                }
            }
        }
        .team{
            grid-column-start: 3/4;
            grid-row: 1/6;
            display: flex;
            img{
                height: 44%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
            .info{
                width: 327px;
                height: 785px;
                display: none;
                background-color: rgba(0,0,0,0.5);
                transition: 0.5s;
                opacity: 0;
            } 
        }
        .team:hover{
            .info{
                opacity: 1;
                display: block;
                position: absolute;
                color: #fff;
                h4{
                    text-align: center;
                    padding-top: 110%;
                }
            }
        }
        
    }
}
.contact{
    padding-bottom: 50px;
    .contact_title{
        margin: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }   
    }
    .name_email_wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .yourname{
            margin-left: 50px;
        }
        .yourphone{
            margin-left: 25px;
        }
        .youremail{
            margin-left: 50px;
            margin-top: 20px;
        }
        .suggest_type{
            margin-left: 25px;
            margin-top: 20px;
        }
        input{
            width: 450px;
            line-height: 30px;
        }
    }
    .subject_message_submit_wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        position: relative;
        textarea{
            width: 925px;
            height: 164px;
        }
        .serve_btn{
            margin-top: 20px;
            width: 50px;
            position: absolute;
            top: 190px;
            left: 875px;
        }
    }

}
.qanda{
    width: 80%;
    margin: 0 auto;
    .qa_title{
        margin: 50px 0;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    
}