.about_banner{
    
    h1{
        margin-left: 80px;
        color: #0f3d3e;
        @include pad {
            margin-left: 27px;
        }   
    }
    
    img{
        width: 100%;
        height: 320px;
        object-fit: cover;
        @include pad {
            width: 100%;
            height: 200px;
        }
    }
}

.about {
    .about_title{
        margin-top: 20px;
        margin-bottom: 20px;
        h2{
            color: $green-1;
            text-align: center;
            font-weight: bold;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }            
    }
    
    .about_content{
        max-width: 1125px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @include pad{
            max-width: 720px;
        }

        .part1{
            text-align: right;
            margin-bottom: 100px;

            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }

            .part1_img{
                position: relative;

                @include pad{
                    height: 425px;
                }

                img{
                    max-width: 740px;
                    max-height: 425px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            
            .part1_info{
                @include pad{
                    text-align: left;
                    margin: 20px;
                }
                .content_line{
                    width: 200px;
                    border-top: solid 2px #0f3d3e;
                    margin-left: 920px;
                    @include pad{
                        width: 100%;
                        border-top: solid 2px #0f3d3e;
                        margin-left: -20px;
                        margin-bottom: 30px;
                    }
                }
                .word_box{
                    margin: 40px 0 100px 400px;
                    position: relative;
                    text-align: right;
                    letter-spacing: 1px;
                    @include pad{
                        margin: 0;
                        text-align: left;
                    }
                }
                
                .word_box > div:nth-of-type(1){
                    width: 740px;
                    @include pad{
                        width: 650px;
                    }
                }

                .word_box > div {
                    overflow: hidden;
                }

                .word_box > div h6 {
                    width: 740px;
                    text-align: left;
                    @include pad{
                        width: 650px;
                    }
                }

                /* -------------------- 左邊文字 ------------------*/
                .word_box > div:nth-of-type(2) {
                    color: #fff;
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 340px;
                    @include pad{
                        width: 0px;
                    }
                }
                
                .word_box > div {
                    overflow: hidden;
                }

                .word_box > div:nth-of-type(2) p {
                    left: 0px;
                    position: relative;
                }

                .word_box > div p {
                    width: 445px;
                }
            }
        }
        .part2{
            margin-bottom: 100px;

            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
            }

            .part2_img{
                position: relative;

                @include pad{
                    height: 425px;
                }

                img{
                    max-width: 740px;
                    max-height: 425px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include pad{
                        left: 0;
                    }
                }
            }
            
            .part2_info{
                @include pad{
                    text-align: left;
                    margin: 20px;
                }
                .content_line{
                    width: 200px;
                    border-top: solid 2px #0f3d3e;
                    margin-left: 0;
                    @include pad{
                        width: 100%;
                        border-top: solid 2px #0f3d3e;
                        margin-left: -20px;
                        margin-bottom: 30px;
                    }
                }
                .word_box{
                    margin: 40px 0 100px 0px;
                    position: relative;
                    text-align: right;
                    letter-spacing: 1px;
                    @include pad{
                        margin: 0;
                        text-align: left;
                    }
                }
                
                .word_box > div:nth-of-type(1){
                    color: #fff;
                    width: 740px;
                    @include pad{
                        
                        width: 0px;
                    }
                }

                .word_box > div {
                    overflow: hidden;
                }

                .word_box > div h6 {
                    width: 740px;
                    text-align: left;
                    @include pad{
                        
                        width: 0px;
                    }
                }

                /* -------------------- 左邊文字 ------------------*/
                .word_box > div:nth-of-type(2) {
                    
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 385px;
                    @include pad{
                        
                        width: 650px;
                    }
                }
                
                .word_box > div {
                    overflow: hidden;
                }

                .word_box > div:nth-of-type(2) p {
                    left: 0px;
                    position: relative;
                }

                .word_box > div h6 {
                    width: 650px;
                }
            }
        }
        .part3{
            text-align: right;
            margin-bottom: 100px;

            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            .part3_img{
                position: relative;

                @include pad{
                    height: 425px;
                }

                img{
                    max-width: 740px;
                    max-height: 425px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            
            .part3_info{
                @include pad{
                    text-align: left;
                    margin: 20px;
                }
                .content_line{
                    width: 200px;
                    border-top: solid 2px #0f3d3e;
                    margin-left: 920px;
                    @include pad{
                        width: 100%;
                        border-top: solid 2px #0f3d3e;
                        margin-left: -20px;
                        margin-bottom: 30px;
                    }
                }
                .word_box{
                    margin: 40px 0 100px 400px;
                    position: relative;
                    text-align: right;
                    letter-spacing: 1px;
                    @include pad{
                        margin: 0;
                        text-align: left;
                    }
                }
                
                .word_box > div:nth-of-type(1){
                    width: 740px;
                    @include pad{
                        width: 650px;
                    }
                }

                .word_box > div {
                    overflow: hidden;
                }

                .word_box > div h6 {
                    width: 740px;
                    text-align: left;
                    @include pad{
                        width: 650px;
                    }
                }

                /* -------------------- 左邊文字 ------------------*/
                .word_box > div:nth-of-type(2) {
                    color: #fff;
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 340px;
                    @include pad{
                        width: 0px;
                    }
                }
                
                .word_box > div {
                    overflow: hidden;
                }

                .word_box > div:nth-of-type(2) p {
                    left: 0px;
                    position: relative;
                }

                .word_box > div p {
                    width: 445px;
                }
            }
        }
        
    }
}
.serve{
    width: 100%;
    height: 1163px;
    background-color: #E2DCC8,;
    @include pad{
        height: 1750px;
    }
    .serve_title{
        margin: 50px 0;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    .serve_grid {
        width: 1050px;
        height: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(160px, 1fr));
        gap: 5px;
        @include pad{
            width: 660px;
            height: 1500px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        .reserve{
            background-image: url(../../img/about_img/about_box_reserve.jpg);
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            @include pad{
                grid-column: 1/3;
                grid-row: 1/2;
            }
            h4{
                height: 100%;
                line-height: 400px;
                background-color: rgba(0,0,0,0.5);
                text-align: center;
                transition: 0.5s;
                opacity: 0;
                
            }          
        }
        .reserve:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                color: #fff;
                
            }
        }
        .shopmall{
            background-image: url(../../img/about_img/about_box_shopmall.jpg);
            grid-column: 1 / 2;
            grid-row: 3 / 6; 
            @include pad{
                grid-column: 1/2;
                grid-row: 2/4;
            }
            h4{
                height: 100%;
                line-height: 478px;
                background-color: rgba(0,0,0,0.5);
                text-align: center;
                transition: 0.5s;
                opacity: 0;
                @include pad{
                    height: 100%;
                    line-height: 930px;
                }
            }
        }
        .shopmall:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                color: #fff;
            }
        }
        .menu_grid{
            background-image: url(../../img/about_img/about_box_menu.jpg);
            grid-column: 2 / 3;
            grid-row: 3 / 6;
            @include pad{
                grid-column: 2/3;
                grid-row: 2/4;
            }
            h4{
                height: 100%;
                line-height: 478px;
                background-color: rgba(0,0,0,0.5);
                text-align: center;
                transition: 0.5s;
                opacity: 0;
                @include pad{
                    height: 100%;
                    line-height: 930px;
                }
            } 
        }
        .menu_grid:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                color: #fff;
            }
        }
        .team{
            background-image: url(../../img/about_img/about_box_team.jpg);
            grid-column: 3 / 4;
            grid-row: 1 / 6;
            @include pad{
                background-image: url(../../img/about_img/about_box_team_rwd.jpg);
                grid-column: 1/3;
                grid-row: 4/5;
            }
            h4{
                height: 100%;
                line-height: 800px;
                background-color: rgba(0,0,0,0.5);
                transition: 0.5s;
                opacity: 0;
                text-align: center;
                @include pad{
                    height: 318px;
                    line-height: 318px;
                }
            } 
        }
        .team:hover{
            cursor: pointer;
            h4{
                opacity: 1;
                color: #fff;
            }
        }  
    }
    .serve_grid >* {
        background-size: cover;
    }
    
    
}

.contact{
    max-width: 1280px;
    margin:0 auto;
    padding-bottom: 50px;
    .contact_title{
        margin: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }   
    }
    .name_email_wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .yourname{
            margin-left: 50px;
        }
        .yourphone{
            margin-left: 25px;
        }
        .youremail{
            margin-left: 50px;
            margin-top: 20px;
        }
        .suggest_type{
            margin-left: 25px;
            margin-top: 20px;
        }
        input{
            width: 450px;
            line-height: 30px;
        }
    }
    .subject_message_submit_wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        position: relative;
        textarea{
            width: 925px;
            height: 164px;
        }
        .serve_btn{
            margin-top: 20px;
            width: 50px;
            position: absolute;
            top: 190px;
            left: 875px;
        }
    }

}
.qanda{
    width: 80%;
    margin: 0 auto;
    .qa_title{
        margin: 50px 0;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
        }
        .border{
            margin: 0 auto;
            width: 72px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    
}
