
div.back_feedback {
    .backwrapper {
        display: flex;
        gap: 7%;

        header {
            display: flex;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 73%;

            // 表格
            main.right_content {
                margin-bottom: 50px;
                width: 100%;

                .section1 {
                    margin-top: 100px;

                    .back_from {
                        width: 100%;

                        h4 {
                            margin-bottom: 30px;
                        }

                        .back_from_wrapper {
                            .grid_container {
                                margin: 0 auto;
                                // border: 1px solid #ccc;
                                display: grid;
                                width: 100%;
                                text-align: center;
                                align-items: center;
                                grid-template: repeat(1, 1fr) / repeat(3, 1fr) 250px 1fr 250px;

                                &:first-child {
                                    background-color: $Camel-3;
                                }
                                .grid_item:nth-child( n + 1){
                                    border-bottom: .5px solid #ccc; // 加底线
                                }
                                .grid_item {
                                    padding: 20px;

                                    // switch btn
                                    .switch {
                                        position: relative;
                                        display: inline-block;
                                        width: 50px;
                                        height: 25.59px; // 同高

                                        input {
                                            opacity: 0;
                                            width: 0;
                                            height: 0;

                                            &:checked+.slider {
                                                background-color: green;
                                            }

                                            &:checked+.slider:before {
                                                transform: translateX(26px);
                                                transform: translateX(26px);
                                                transform: translateX(26px);
                                            }
                                        }

                                        .slider {
                                            position: absolute;
                                            cursor: pointer;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: red;
                                            transition: .4s;
                                            transition: .4s;
                                            border-radius: 34px;

                                            &:before {
                                                position: absolute;
                                                content: "";
                                                height: 20px;
                                                width: 20px;
                                                left: 2px;
                                                top: 2px;
                                                background-color: white;
                                                transition: .4s;
                                                transition: .4s;
                                                border-radius: 50%;
                                            }

                                            & p {
                                                position: absolute;
                                                left: 0px;
                                                top: 0px;
                                            }
                                        }
                                        // 上架
                                        .slider_content{
                                            position: absolute;
                                            top: 0px;
                                            left: 60px;
                                            right: 0px;
                                            width: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // 頁簽
                    .page {
                        .page_ul {
                            position: unset; // 取消原本的属性
                            display: flex;
                            justify-content: center;

                            li {
                                line-height: 30.5px;
                                margin-left: 12px;
                                width: 33px;
                                height: 33px;
                                border-radius: 50%;
                                background-color: #F9F4EC;
                                margin: 39px 0 25px 21px;
                                border: 1px solid #000;

                                a {
                                    display: block;
                                    text-decoration: none;
                                    text-align: center;
                                    color: #000;
                                }
                            }
                        }
                    }

                }
            }
        }

    }
    div.section_feedback { 
        border: 1px solid #000;      
        width: 650px;
        height: 720px;
        margin: 0 auto;
        .feedback_top{
            height: 45px;
            text-align: center;
            background-color: #F9F4EC;
            p{
                line-height: 45px;
            }
        }
        .feedback_info{
            width: 95%;
            margin: 0 auto;
            h6{
                font-size: 16px;
                margin-top: 10px;
            }
        }
        .feedback_star{
            width: 95%;
            margin: 0 auto;
            border-top: 1px solid #000;
            display: flex;

            p{
                font-size: 16px;
                margin-top: 10px;

            }

            .evaluate_star{
                margin-top: 10px;
                margin-left: 10px;
                color: #f5cb35;
            }
        }
        .feedback_content{
            width: 95%;
            margin: 0 auto;
            textarea{
                width: 615px;
                height: 160px;
                background-color: #f9f4ec;
                outline: none;
                resize:none;
                margin-top: 10px;
            }

            h6{
                font-size: 16px;
                margin-top: 10px;

            }

            p{
                font-size: 12px;
                text-align: right;
                margin-right: 15px;
            }
            .feedback_pic{
                height: 200px;
            }

            .feedback_content_btn{
                width: 85px;
                height: 27px;
                margin: 50px auto;
            }
        }
        
    }
    div.check_feedback{
        border: 1px solid #000;      
        width: 650px;
        height: 390px;
        margin: 0 auto;
        .check_top{
            height: 45px;
            text-align: center;
            background-color: #F9F4EC;
            p{
                line-height: 45px;
            }
        }
        .check_main{
            width: 95%;
            margin: 0 auto;
            h6{
                font-size: 16px;
                margin-top: 10px;
            }
            .feedback_star{
                display: flex;
                p{
                    font-size: 16px;
                    margin-top: 10px;
                }
                .evaluate_star{
                    margin-top: 10px;
                    margin-left: 10px;
                    color: #f5cb35;
                }
            }
            textarea{
                width: 510px;
                height: 115px;
                background-color: #f9f4ec;
                outline: none;
                resize:none;
                margin-top: 10px;
                margin-left: 50px;
            }
        }
    }
}