.back_login {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    top: 0;
    background-image: url(../img/landpage_img/back_login.jpg);
    background-position:center center;
    background-size: cover;

    
    .container{
        background-color: #fff;
        width: 470px;
        height: 350px;
        padding: 0 50px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        box-shadow: 0 0 10px rgba( 0, 0, 0, .5);
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        
        // border: 1px solid #000;
        @include mobile() {
            width: 325px;
            height: 440px;
            padding: 25px 23px;

        }

        .login_tab {
            display: flex;
            width: 70%;
            justify-content: space-between;
            margin: 0 auto 30px;
            cursor: pointer;

            .tab_line {
                border-bottom: 1px solid $green-1;
                color: $green-1;
            }

            @include mobile() {
                font-size: 14px;
            }

        }

        // 此欄位尚未填寫
        .text_no {
            font-size: 12px;
            color: $red;
            margin-top: -20px;
            margin-bottom: 1px;
            text-align: right;
            opacity: 0;
        }

        .appear {
            opacity: 1;
        }

        //所有表單
        .login_enter {
            input {
                border: 0px;
                width: 100%;
                line-height: 40px;
                // margin-top: 10px;
                margin-bottom: 20px;
                letter-spacing: 1px;
                outline: 0;
                border-radius: 2px;
                padding-left: 12px;
                background-color: rgba(255, 255, 255, 0.95);
            }

            #login_pwd_again {
                margin-bottom: 5px
            }

            .login_pwd {
                position: relative;
                margin-top: 20px;
                i {
                    position: absolute;
                    top: 15px;
                    right: 12px;
                    cursor: pointer;
                }
            }

            .btn_forget {
                display: block;
                text-align: center;
                margin-bottom: 30px;
                font-size: 16px;
                cursor: pointer;
            }

        }

        // 登入表單
        .login_enter {
            margin-top: 66px;
        }

        // 全部按鈕
        .btn_login{
            width: 100%;
            background-color: $red;
            border: 0;
            color: #fff;
            line-height: 45px;
            cursor: pointer;
            margin: 30px 0;
            border-radius: 2px;

            @include mobile() {
                line-height: 30px;
                font-size: 14px;
                margin: 10px 0;
            }
        }
    }
    .none {
        display: none !important;
    }
}

