div.back_contactUs {
  div.backwrapper {
    display: flex;
    gap: 7%;

    header {
      display: flex;
      height: 100vh;
    }

        div.container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 73%;

      main.right_content {
        margin-bottom: 50px;
        width: 100%;

        section.section1 {
          margin-top: 100px;

          div.back_from {
            width: 100%;

            h4 {
              margin-bottom: 30px;
            }

            div.back_from_wrapper {
              height: 550px;
              overflow-y: scroll;
              div.grid_container {
                margin: 0 auto;
                display: grid;
                width: 100%;
                text-align: center;
                align-items: center;
                grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
                border-bottom: 0.5px solid #ccc;
                &:first-child {
                  background-color: $Camel-3;
                }

                // .grid_item:nth-child( n + 1){
                //     border-bottom: .5px solid #ccc; // 加底线
                // }

                // Popup點擊hover
                .checked:hover {
                  cursor: pointer;
                  color: #ccc;
                }

                div.grid_item {
                  padding: 20px;
                }


              }
            }
          }
        }
      }

      div.modal {
        z-index: 999;
        position: fixed; /* 固定定位 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6); 
        
        
        .modal-content {
          width: 580px;
          height: 400px;
          margin: 100px auto;
          background-color: #fff;
          h6 {
            font-size: 16px;
          }
          .contactus_top {
            height: 45px;
            text-align: center;
            background-color: #f9f4ec;
            h6 {
              line-height: 45px;
            }
          }
          .contactus_mail {
            width: 95%;
            margin: 0 auto;
            display: flex;
            margin-top: 15px;
          }
          .contactus_date {
            width: 95%;
            margin: 0 auto;
            display: flex;
            margin-top: 15px;
          }
          .contactus_name_phone {
            width: 95%;
            margin: 0 auto;
            display: flex;
            margin-top: 15px;
            h6 {
              margin-right: 35px;
            }
            p {
              height: 300px;
            }
          }
          .contactus_type {
            width: 95%;
            margin: 0 auto;
            display: flex;
            margin-top: 15px;
          }
          .contactus_content {
            width: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            p {
              height: 120px;
              background-color: #f9f4ec;
              font-size: 12px;
              padding: 10px;
            }
            .contactus_content_btn {
              width: 80px;
              height: 20px;
              margin: 5px auto;
            }
          }
        }
      }
    }
  }
}
