
.land{
    display: flex;
    flex-direction: column;
    background-image: url(../../img/landpage_img/banner.jpg);
    background-size: cover;
    background-position: center;
    

    @include pad(){
        min-height:900px;
    }
   
    img{
        width: 30%;
        margin: 0 auto;
        @include pad(){
            width: 50%;
            margin: auto;
        }
        @include mobile(){
            margin-top: 50%;
            margin-bottom: 0;
        }
    }
    
    main{
        display: flex;
        justify-content: space-around;
        margin: 0 20%;
        @include pad(){
            margin: auto;
        }
        @include mobile(){
            margin: 10%;
            margin-bottom: 70%;
        }
        a{
            width: 50%;
            margin: 5%;
            text-decoration: none;
            color: $Camel-3;  
            border: 1px solid $Camel-3;

            &:hover{
                background-color: $Camel-3;
                color: #898989;
            }

            h2{
                text-align: center;
                padding: 6%;
            }

        }
    }

}