.banner{
    margin-bottom: 20px;
    h1{
        margin-left: 80px;
        color: #0f3d3e;
    }
    
    img{
        width: 100%;
    }
}



.menu {
    color: #0f3d3e;
    height: 1400px;
    
    
    .menu_content{
        max-width: 1150px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .part1{
            text-align: right;
            background-image: url(../../img/menu_img/menu_reserve01.jpg);
            background-size: 860px 450px;
            background-position: left;
            background-repeat: no-repeat;
            margin-bottom: 100px;
            .content_line{
                width: 200px;
                border-top: solid 2px #0f3d3e;
                margin-left: 950px;
            }
            .word_box{
                margin: 40px 0 100px 600px;
                position: relative;
                text-align: right;
                letter-spacing: 1px;
            }
            
            .word_box > div:nth-of-type(1){
                width: 540px;
            }

            .word_box > div {
                overflow: hidden;
            }

            .word_box > div h6 {
                width: 540px;
                text-align: left;
            }

            /* -------------------- 左邊文字 ------------------*/
            .word_box > div:nth-of-type(2) {
                color: #fff;
                position: absolute;
                left: 0px;
                top: 0;
                width: 258px;
            }
            
            .word_box > div {
                overflow: hidden;
            }

            .word_box > div:nth-of-type(2) p {
                left: 0px;
                position: relative;
            }

            .word_box > div p {
                width: 445px;
            }
        }
        .part2{
            background-image: url(../../img/menu_img/menu_reserve02.jpg);
            background-size: 860px 450px;
            background-position: right;
            background-repeat: no-repeat;
            margin-bottom: 100px;
            .content_line{
                width: 200px;
                border-top: solid 2px #0f3d3e;
            }
            .word_box{
                margin: 40px 0 150px 0;
                position: relative;
                letter-spacing: 1px;
            }
            
            .word_box > div:nth-of-type(1){
                width: 740px;
                color: #fff;
            }

            .word_box > div {
                overflow: hidden;
            }

            .word_box > div h6 {
                width: 740px;
            }

            /* -------------------- 左邊文字 ------------------*/
            .word_box > div:nth-of-type(2) {
                
                position: absolute;
                left: 0px;
                top: 0;
                width: 290px;
            }
            
            .word_box > div {
                overflow: hidden;
            }

            .word_box > div:nth-of-type(2) p {
                left: 0px;
                position: relative;
            }

            .word_box > div h6 {
                width: 440px;
            }
        }
        .part3{
            text-align: right;
            background-image: url(../../img/menu_img/menu_reserve03.jpg);
            background-size: 860px 450px;
            background-position: left;
            background-repeat: no-repeat;
            .content_line{
                width: 200px;
                border-top: solid 2px #0f3d3e;
                margin-left: 950px;
            }
            .word_box{
                margin: 40px 0 100px 600px;
                position: relative;
                text-align: right;
                letter-spacing: 1px;
            }
            
            .word_box > div:nth-of-type(1){
                width: 540px;
            }

            .word_box > div {
                overflow: hidden;
            }

            .word_box > div h6 {
                width: 540px;
                text-align: left;
            }

            /* -------------------- 左邊文字 ------------------*/
            .word_box > div:nth-of-type(2) {
                color: #fff;
                position: absolute;
                left: 0px;
                top: 0;
                width: 258px;
            }
            
            .word_box > div {
                overflow: hidden;
            }

            .word_box > div:nth-of-type(2) p {
                left: 0px;
                position: relative;
            }

            .word_box > div p {
                width: 445px;
            }
        }
    }
}


.add{

    .add_title{
        margin: 50px 0;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
            font-weight: bold;
        }
        .border{
            margin: 0 auto;
            width: 200px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    .add_menu{
        width: 1280px;
        margin: 0 auto;
        position: relative;
        ul{
            display: flex;
            width: 100%;
            overflow: hidden;
            
            
            
            li{
                width: 227px;
                height: 376px;
                box-sizing: border-box;
                margin-right: 30px;
                flex-shrink: 0;
                img{
                    max-width: 227px;
                    max-height: 376px;
                }
            }
            li:last-child{
                // margin-right: 0;
            }
        }
    }
    .add_btn{
        position: relative;
        .fa{
            width: 50px;
            height: 50px;
            color: #fff;
            text-align: center;
            line-height: 48px;
            font-size: 50px;
            position: absolute;
            top: -250px;
            
            margin: auto;
        }
        .fa-angle-left{
            left: 10px;
        }
        .fa-angle-right{
            right: 10px;
        }
    }
}
