.banner{
    margin-bottom: 20px;
    h1{
        margin-left: 80px;
        color: #0f3d3e;
    }
    
    img{
        width: 100%;
    }
}

.menu_tap{
    .tab_container{
        width: 37%;
        @include pad{
        width: 70%;
    }
    }
    
}

.menu {
    
    
    .menu_content{
        max-width: 1280x;
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        

        .part1{
            display: flex;
            padding-right: 105px;
            margin-bottom: 100px;
            width: 100%;
            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                padding-right: 0px;
            }
            .part1_img{
                width: 70%;
                max-height: 425px;
                overflow: hidden;
                @include pad{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .part1_info{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @include pad{
                    align-items: flex-start;
                    width: 100%;
                    padding: 0 30px;
                }
                
                @include mobile{
                    padding: 0 27px;
                }

                h2{
                    padding-top: 15%;
                    line-height: 1.2;
                    @include pad{
                        padding-top: 3%;
                    }
                }

                h4{
                    border-bottom: 1px solid #0f3d3e;
                    width: 130%;
                    text-align: right;
                    padding-bottom: 15px;
                    @include pad{
                        text-align: left;
                        width: 100%;
                    }
                }

                .text1{
                    text-align: justify;
                    width: 250%;
                    text-indent: 44px;
                    letter-spacing: 1px;
                    margin-top: 15px;
                    position: relative;
                    padding-bottom: 40px;
                    @include pad(){
                        width: 100%;
                        text-indent: 0;
                    }

                    .text2{
                        color: #fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 60%;
                        overflow: hidden;
                        @include pad(){
                            display: none;
                        }
                        .text_white{
                            width: 167%;
                        }
                    }
                }

                

            }
        }
        .part2{
            display: flex;
            flex-direction: row-reverse;
            padding-left: 105px;
            margin-bottom: 100px;
            width: 100%;
            @include pad{
                display: flex;
                flex-direction: column;
                padding-left: 0px;
                margin-bottom: 40px;
            }
            .part2_img{
                width: 70%;
                max-height: 425px;
                overflow: hidden;
                @include pad{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .part2_info{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include pad{
                    padding: 0 30px;
                    width: 100%;
                }
                
                @include mobile{
                    padding: 0 27px;
                }

                h2{
                    padding-top: 15%;
                    line-height: 1.2;
                    @include pad{
                        padding-top: 3%;
                    }
                }

                h4{
                    border-bottom: 1px solid #0f3d3e;
                    width: 130%;
                    text-align: left;
                    padding-bottom: 15px;
                    @include pad{
                        text-align: left;
                        width: 100%;
                    }
                }

                .text1{     
                    width: 250%;
                    direction: rtl;
                    text-align: left;
                    margin-top: 15px;
                    position: relative;
                    padding-bottom: 40px;
                    @include pad(){
                        width: 100%;
                        text-indent: 0;
                    }

                    .text2{
                        color: #fff;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 60%;
                        overflow: hidden;
                        @include pad(){
                            display: none;
                        }
                        .text_white{
                            width: 167%;
                        }
                    }
                }

                

            }
        }
        .part3{
            display: flex;
            padding-right: 105px;
            margin-bottom: 100px;
            width: 100%;
            @include pad{
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                padding-right: 0px;
            }
            .part3_img{
                width: 70%;
                max-height: 425px;
                overflow: hidden;
                @include pad{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .part3_info{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @include pad{
                    align-items: flex-start;
                    width: 100%;
                    padding: 0 30px;
                }
                
                @include mobile{
                    padding: 0 27px;
                }


                h2{
                    padding-top: 15%;
                    line-height: 1.2;
                    @include pad{
                        padding-top: 3%;
                    }
                }

                h4{
                    border-bottom: 1px solid #0f3d3e;
                    width: 130%;
                    text-align: right;
                    padding-bottom: 15px;
                    @include pad{
                        text-align: left;
                        width: 100%;
                    }
                }

                .text1{
                    text-align: justify;
                    width: 250%;
                    text-indent: 44px;
                    letter-spacing: 1px;
                    margin-top: 15px;
                    position: relative;
                    padding-bottom: 40px;
                    @include pad(){
                        width: 100%;
                        text-indent: 0;
                    }

                    .text2{
                        color: #fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 60%;
                        overflow: hidden;
                        @include pad(){
                            display: none;
                        }
                        .text_white{
                            width: 167%;
                        }
                    }
                }

                

            }
        }
        
    }
}


.add{
    
    .add_title{
        margin-bottom: 50px;
        padding-top: 50px;
        h2{
            text-align: center;
            color: #0f3d3e;
            font-weight: bold;
        }
        .border{
            margin: 0 auto;
            width: 200px;
            height: 1px;
            background-color: #0f3d3e;
        }
            
    }
    .add_menu{
        width: 1250px;
        margin: 0 auto;
        position: relative;
        ul{
            display: flex;
            width: 100%;
            overflow: hidden;
            
            
            
            li{
                width: 227px;
                height: 376px;
                box-sizing: border-box;
                margin-right: 30px;
                flex-shrink: 0;
                img{
                    max-width: 227px;
                    max-height: 376px;
                }
            }
            li:last-child{
                // margin-right: 0;
            }
        }
    }
    .add_btn{
        position: relative;
        .fa{
            width: 50px;
            height: 50px;
            color: #fff;
            text-align: center;
            line-height: 48px;
            font-size: 50px;
            position: absolute;
            top: -250px;
            
            margin: auto;
        }
        .fa-angle-left{
            left: 10px;
        }
        .fa-angle-right{
            right: 10px;
        }
    }
    .btn_view{
        margin: 0 auto;
    }
}
