// resever page01 
.reseve.fulid_wrapper {
    // .wrapper {
    //     // outline: 2px solid red;
    // }

    .reseve_list {
        // border: 2px solid yellow;
        margin: 15px 8.6% 0;

        @include pad() {
            margin: 0px 5%;
        }

        .reseve_title {
            margin-left: -10px;
            margin-bottom: 18px;

            @include mobile() {
                margin-left: 0;
            }
        }

        .reseve_notice {
            // border: 2px solid green;

            .notice_title {
                font-weight: 900;
                text-align: center;
                position: relative;
                margin-bottom: 65px;

                &:after {
                    content: '';
                    height: 2px;
                    width: 72px;
                    background-color: $green-1;

                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .text-area {
                overflow-y: auto;
                height: 1015px;
                // margin: 0 7.5%;
                padding: 7% 11.5%;
                border: 2px solid $Camel-2;

                @include pad() {
                    margin: 0 3.5%;
                    height: 550px;
                }

                @include pad() {
                    margin: 0 2%;
                    height: 550px;
                }
                .noticeTxt{
                    margin-bottom: 30px;
                }
                .noticeTxt,
                .cancelTxt {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                    letter-spacing: 0.27em;

                    &>* {
                        margin-bottom: 10px;
                    }

                    &>li {
                        margin-left: 5px;
                        // list-style: disc;
                        font-size: 16px;
                        text-align: justify;
                        color: #454343;
                    }
                    p{
                        font-size: 16px;
                        text-align: justify;
                        color: #454343;

                    }

                    @include mobile() {
                        font-size: 16px;
                    }

                }

                @include mobile() {
                    margin: 0%;
                }
            }

        }
        
        .reseve-form {
            // outline:2px purple solid;
            max-width: 500px;
            margin: 50px auto;
            // 警告文字
            #agreement {
                font-weight: 800;
                margin-bottom: 65px;
            }
            
            .warning_title{
                font-size: 12px;
                line-height: 15px;
                color:$red;
                position: absolute;
                top: -45%;
                right: 0%;
            }
            .warning_title.db{
                
                top: 20%;
                right: 7.5%;
                @media screen and (max-width:540px) { 
                    top: -80%;
                    right: 37.5%;
                }
            }
            .form-input {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 25px;
                position: relative;
                img {
                    width: 35px;
                    margin-right: 30px;

                    @include mobile() {
                        width: 30px;
                        margin-right: 10px;
                    }
                }
              
                select,
                input[type="date"] {
                    cursor: pointer;
                    padding: 0 20px 0 5%;
                    
                    color: $green-1;
                    background-color: $Camel-3;
                    flex-basis: calc(100% - 50px);
                    height: 50px;
                    border: 0;
                    border-bottom: 1px solid rgb(155, 155, 155);
                    outline: 0;
                    // padding-right: 5%;
                }
                select{
                    
                    border-right: 20px #F9F4EC solid;
                    // border-right:55px solid transparent
                }

            }

            .next_btn {
                display: block;
                margin: 0 auto;
            }
        }
    }

}

// resever page02
// 公用區

.reseve_flow.fulid_wrapper {
    .d_none {
        display: none;
    }

    .flow_container {}

    .fz_rwd {
        font-size: 20px;

        @include pad() {
            font-size: 16px;
        }
    }

}

.reseve_flow.fulid_wrapper {

    // 流程大圖
    .flow_container {
        // 標題公用
        .blockTitle {
            border-bottom: 1px solid black;
            margin: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>span {
                margin-left: 10px;
                font-size: 13px;
            }

            @include mobile {
                margin-bottom: 20px;
            }
        }

        margin: 50px auto 70px auto;
        padding: 0 5%;
        max-width: 930px;
        // outline: 2px solid red;
        display: flex;
        gap: 25%;
        justify-content: center;
        height: 85px;

        @include pad() {
            gap: 15%;
            margin-bottom: 30px;
        }

        @include mobile() {
            gap: 10%;
            margin-bottom: 10px;
        }

        &>li.flowList {

            display: flex;
            justify-content: center;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            font-size: 16px;
            font-weight: 400;
            color: white;
            @extend .bgc_Camel-2;
            border-radius: 50%;
            position: relative;
            line-height: 40px;
            text-align: center;
        }

        li.flowList.checked {
            @extend .bgc_green-1;
        }

        &>li.flowList.checked::after {
            @extend .green-1;
        }

        &>li.flowList::after {
            position: absolute;
            overflow: hidden;
            font-size: 20px;
            width: 100px;
            bottom: -100%;
            content: attr(flowName);
            @extend .Camel-1;

            @include mobile() {
                font-size: 14px;
            }
        }

        &>li+li::before {

            position: absolute;
            content: '';
            z-index: -3;
            left: -400%;
            top: 50%;
            width: 500%;
            // min-width: 125px;
            max-width: 125px;
            height: 2px;
            @extend .bgc_Camel-2;

            @include pad() {
                min-width: 50px;
                width: 300%;
                max-width: 100px;
                left: -250%;
            }

            @include mobile {
                width: 100%;
                min-width: 25px;
                left: -100%;
            }
        }

        &>li+li.checked::before {

            @extend .bgc_green-1;
        }
    }

    @mixin stepper_input {
        .stepper_input:nth-child(1){
            margin-top: 20px;
        }
        .stepper_input {
            margin-bottom: 20px;
            border-bottom: 1px solid #c8c8c8;
            display: flex;
            align-items: center;
            color: #454343;

            .dish-title {
                margin-right: auto;
                flex-basis: 55%;

                @include pad() {
                    // flex-basis: 60%
                }

                @include mobile() {
                    font-size: 14px;
                    flex-basis: 50%
                }
            }

            .stepper_valueInput {
                text-align: center;
                width: 85px;
                height: 35px;
                border: 0px;

                padding: 0 10px;
                border-radius: 0;
                box-shadow: none;

                @include pad() {
                    width: 60px;
                }

                @include mobile() {

                    width: 40px;

                }
            }

            .button {
                cursor: pointer;
                font-size: 18px;
                
                width: 40px;
                padding: 5px 15px;
                border: 0px;
                border-radius: 4px;
                color: black;
                background-color: transparent;

                &:hover {
                    background-color: $Camel-1;
                    color: white;
                }

                &:active {
                    background-color: $red;
                    color: white;
                }

                &:focus {
                    border: 0px;
                    outline: 0px;
                }
            }
          
        }
        @content;
    }

    .blockTitle {
        @extend .green-1;
        border-bottom: 1px solid black;
        padding: 0px 0px 15px 0px;
        display: flex;
        align-items: flex-end;
        justify-content:space-between;
        // &.detailInfo
        span{
            font-size: 14px;
            
            @include mobile(){
                font-size: 12px;
                margin-left: 5%;
            }
        }
    }
    // 當流程走到確認訂單將開啟
    .form_workFlow_contanier.detail_list {
        grid-template-columns: 1fr;
    }

    .form_workFlow_contanier {
        // outline: 2px solid yellowgreen;
        margin: 0px 6.25% 100px 6.25%;

        justify-content: center;
        display: grid;
        gap: 1% 2%;
        grid-template-columns: 1fr 30%;

        // 預設流程細項目為關閉
        .step_flow {
            display: none;
        }

        // 當流程走到某一項目時將開啟
        .step_flow.nowpage {
            display: block;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        @include pad {
            grid-template-columns: 1fr;
            margin: 0px 5% 100px 5%;

            .step_flow.nowpage {
                display: block;
                // grid-column: 1;
                // grid-row: 1;
            }

        }

        // 流程結帳清單
        // 右邊結帳專區
        .oder_view {
            grid-column: 2 / 3;
            padding-left: 4.25%;
            border-left: 1px black solid;
            font-size: 14px;
            @extend .gray;

            @include pad() {
                border: none;
                padding-left: 0%;
                grid-column: 1
            }
            .setInfolist,
            .addorderlist,
            .servies,
            .coupon,
            .totalPrice {
                @extend .font18;

            }

            .setInfolist .setTitle,
            .addorderlist .dish_title,
            .servies .servies_title,
            .coupon .coupon_title,
            .totalPric,
            .setInfolist .setTitle {
                width: 100%;
                padding: 0 5%;
                // justify-content: flex-end;
                // display: inline-flex;
                // flex-direction: row;

                display: grid;
                grid-template-columns: 2fr 1fr 2fr;

                &>span {
                    // margin-left: 25px;
                    display: block;
                    font-weight: 500;
                }

                &>span:nth-child(2) {
                    text-align: right;
                }

                &>span:nth-child(3) {
                    text-align: right;
                }

                @include pad() {}


                @include mobile() {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            // 總計金額
            .totalPrice {
                display: grid;
                grid-template-columns: 2fr 2fr;
                margin: 20px 0px 20px 0px;
                padding: 0 3%;
                @extend .black;

                &>h6:nth-child(2) {
                    text-align: right;
                }

                &:after {}
            }

            .addorderlist,.servies {
                margin-top: 25px;

                .addorderlist_title,.servieslist_title {
                    @extend .font16;
                    margin: 5% 0;
                    padding: 0 5%;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0%;
                        left: 0%;
                        height: 1px;
                        width: 100%;
                        background-color: #8f8f8f;

                    }
                }
            }

            // 
            .checkout_contanier {
                // padding:0 30px;
                margin: 0 auto;

                li>div {
                    margin-bottom: 20px;
                }

                #order_Info {
                    .setName {
                        margin-top: 20px;
                        font-size: 20px;
                        color: $green-1;
                    }

                    .setName,
                    .datespan,
                    .count_person,
                    .cheifTeam {
                        display: flex;
                        align-items: center;
                        padding: 0 5%;
                    }

                    img {
                        @extend .gray;
                        margin-right: 15px;
                        width: 20px;
                    }


                    & .order_set_img {
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        max-width: 305px;

                        @include pad() {
                            max-width: 800px;
                        }

                        @include mobile() {
                            max-width: 375px;
                        }
                    }

                }


            }

            .next_btn.btn,
            .prev_btn.btn {
                display: block;
                width: 100%;
                font-size: 16px;
                max-width: 305px;
                margin: 0 auto;
                margin-bottom: 12px;

                @include pad() {
                    max-width: 500px;
                }

            }
        }


        // 流程一
        // 選擇套餐
        .sets {
            display: flex;
            gap: 25px;
            padding: 35px 0px 35px 0px;
            justify-content: center;

            @include mobile() {
                gap: 10px;
            }

            .setCard {
                cursor: pointer;
                flex-basis: 33.3%;
                border: 1px solid #C7C7C7;
                text-align: center;
                transition: all .35s ease-in;
                filter: grayscale(100%);

                @include mobile() {
                    .setName {
                        font-size: 14px;
                    }
                }

                &.checked {
                    transform: scale(1.05);
                    filter: grayscale(0%);

                    .setName {
                        color: $green-1;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    // max-width: 230px;
                    object-fit: cover
                }

                &>div {
                    @extend .Camel-2;
                    @extend .font16;
                    padding: 15px 0;
                }

                &:hover {
                    border: 1px solid black;
                }
            }
        }

        // 選擇套餐內容
        .setdetail {
            position: relative;
            p.setkind {
                color: black;
                text-align: center;
                padding: 5px 0;
                line-height: 20px;
                letter-spacing: 0.615em;
                margin-top: 30px;
                @extend .bgc_Camel-3;
                &:first-child{
                    margin-top: 0px;
                }
                span{
                    position: absolute;
                    right: 2%;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                    color: $red;
                }
            }
           
            @include stepper_input();
           
        }


        // 流程二
        // 單點加購
        .addOther_detail {
            @extend .setdetail;

            .price {
                margin-left: 15px;
                min-width: 60px;
                @media all and (max-width:880px) {

                }
            }
            @include stepper_input(){
                .amoumt{
                    display: flex;                
                }
              
                @include pad(){
                    .stepper_valueInput{
                        width: 80px;
                    }
                }
                
                @include  mobile(){
                    .amoumt{
                        max-width: 125px;
                    }
                }
            };
        }

        // 租借服務
        .addOther_rent {

            // 打勾選單
            .rent_service {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #c8c8c8;
                height: 80px;

                .serive_title {}

                .aux_title {
                    @extend .font14;
                    // color: #9F9F9F;
                    @extend .gray
                }
            }

            .checkboxInner {
                font-size: 14px;
                padding: 0.5em;
                border-radius: 0.3em;
                width: 100px;
                margin-left: auto;

                input[type="checkbox"] {
                    display: none;
                    pointer-events: none;

                    &+label:hover>* {
                        color: black;
                    }

                    &+label:hover {
                        svg {
                            border: 2px solid black;
                        }
                    }

                    &+label {
                        cursor: pointer;
                        font-size: 0.8em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 3px;

                        svg {
                            width: 30px;
                            stroke: green;
                            stroke-width: 18;
                            fill: black;
                            border: 2px solid #ccc;
                            border-radius: 50%;

                            .check {
                                stroke-dasharray: 70;
                                stroke-dashoffset: 70;
                                fill: none;
                            }

                        }

                        span {
                            padding-top: 0.5em;
                            color: #ccc;
                        }
                    }

                    &+label {
                        .checked {
                            transition: stroke-dashoffset 0.1s linear;

                        }
                    }

                    &:checked+label {
                        svg {
                            border: 0px;

                            &:hover {
                                width: 50px;
                                height: 50px;
                                transition: .35s ease-out;
                            }
                        }

                        .check {
                            stroke-dashoffset: 0;
                            transition: stroke-dashoffset 0.3s linear;
                        }

                        .info {
                            display: none;
                        }
                    }
                }
            }
        }

        // 流程三
        // =============================================
        // 明細標題
        .detail_title {
            margin-top: 25px;

            &::after {
                content: '';
                height: .5px;
                width: calc(100% - 115px);
                background-color: #000;
                display: block;
                float: right;
                margin-top: 20px;

                @include pad() {
                    width: 100%;
                    margin-top: 2px;
                }
            }

            @include mobile() {
                font-size: 16px;
            }


        }

        .meal_container {
            $meal_content_high: 32px;
            line-height: 2;
            padding-left: 115px;
            padding-top: 7px;
            display: grid;
            grid-template: repeat(1, 1fr) / repeat(8, 1fr);

            @include pad() {
                padding-left: 1px;
                grid-template: repeat(1, 1fr) / repeat(5, 1fr);
            }

            @include mobile() {
                position: relative;

            }

            // 套餐名稱
            .meal_title {
                grid-column: 1 / 4;
                padding-left: 20%;

                @include pad() {
                    padding-left: 0;

                }

                @include mobile() {
                    position: absolute;
                    top: -32px;
                    right: -143px;

                }

                @media screen and (max-width:375px) {
                    right: -125px;
                }
            }

            // 餐點分類
            .meal_cate {
                grid-column: 1/2;
                // grid-column: 4 / 5;
                margin-top: 5px;

                @include pad() {
                    grid-column: 1 / 2;
                }

                @include mobile() {
                    grid-column: 1 / 2;
                }

                p {
                    height: $meal_content_high;

                    &:first-child,
                    &:nth-child(2) {
                        height: $meal_content_high * 2;
                    }

                    &:nth-child(4),
                    &:nth-child(5) {
                        height: $meal_content_high * 3;

                    }

                    &:nth-child(3) {
                        @media screen and (max-width:375px) {
                            height: $meal_content_high * 2;
                        }
                    }
                }
            }

            //餐點項目
            .meal_content {
                // grid-column: 5 / 9;
                // margin-top: 5px;
                display: grid;
                grid-column: 4/8;
                grid-template-columns: 1fr 3fr;
                align-items: center;
                @include pad() {
                    grid-column: 2 / 9;
                }

                @include mobile() {
                    grid-column: 1 / 6;
                }
                .item{
                    grid-column: 2/3;
                    .dishQty{
                        margin-right: 30px;
                    }
                }
            }

            // 單點加購
            .one_container {
                grid-column: 4 / 9;

                @include pad() {
                    grid-column: 3 / 9;
                }

                @include mobile() {
                    grid-column: 1/ 6;
                }

                li {
                    display: flex;
                    justify-content: space-between;

                    .one_count {
                        text-align: right;
                        padding-right: 15%;

                        @include mobile() {
                            padding-right: 0;
                        }
                    }

                }
            }


        }

        // 商城訂購
        .shop_list {
            .item {
                grid-column: 1 / 4;
                padding-left: 20%;

                @include pad() {
                    padding-left: 1px;
                }

                @include mobile() {
                    grid-column: 1 / 2;
                    // color: #898989;
                }

            }

            .count {
                grid-column: 8/10;
                padding-right: 15%;

                @include pad() {
                    grid-column: 5 / 6;
                    padding-right: 0px;
                    padding-left: 35%;
                }

                @include mobile() {
                    padding-left: 50%;
                    // padding-right: 15%;
                }

                @media all and (max-width:360px) {
                    padding-left: 40%;
                }


            }

            // .one_container {
            //     @include mobile() {
            //         grid-column: 2 / 6;

            //     }
            // }
        }

        // 訂單資料
        .detail_info {
            margin-left: 115px;
            margin-top: 7px;
            margin-bottom: 20px;
            padding-bottom: 40px;
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(8, 1fr);
            grid-template-rows: 1fr min-content;
            grid-row-gap: 10px;
            border-bottom: 1px solid #000;

            @include pad() {
                display: flex;
                flex-wrap: wrap;
                margin-left: 0;
            }

            .item {
                line-height: 2;

                &:first-child {
                    grid-area: 1 / 1 / 2 / 4;
                    padding-left: 20%;

                    @include pad() {
                        width: 30%;
                        padding-left: 0;

                    }
                }

                &:nth-child(2) {
                    grid-area: 1 / 4 / 2 / 9;

                    @include pad() {
                        width: 70%;
                    }
                }

                &:nth-child(3) {
                    grid-area: 2 / 1 / 3 / 4;
                    padding-left: 20%;

                    @include pad() {
                        width: 30%;
                        padding-left: 0;

                    }
                }

                &:nth-child(4) {
                    grid-area: 2 / 4 / 3 / 9;

                    @include pad() {
                        width: 70%;
                    }
                }

                &:nth-child(5) {
                    grid-area: 3 / 1 / 4 / 4;
                    padding-left: 20%;

                    @include pad() {
                        width: 30%;

                        padding-left: 0;

                    }
                }

                &:nth-child(6) {
                    grid-area: 3 / 4 / 4 / 9;

                    @include pad() {
                        width: 70%;

                    }
                }

                span {
                    padding-left: 20px;
                    color: #000;
                }
            }
        }

        // 總計
        .list_top {
            margin-top: 30px;
            border: 1px solid #898989;
            padding: 25px 0;

            @include mobile() {
                display: flex;
                padding: 20px 25px;
                margin-top: 15px;
            }

            .top_content {

                display: flex;
                margin: 0 auto;

                .item {
                    width: 25%;
                    text-align: center;
                    line-height: 2;
                    margin: 0 10px;

                    @include mobile() {
                        width: 100%;
                        margin: 0;

                    }
                }

                @include mobile() {
                    flex-direction: column;
                }
            }

        }

        .total_container {
            float: right;
            // width: 240px;
            display: grid;
            grid-template: repeat(4, 1fr) / repeat(2, 1fr);
            // grid-template-rows: 1fr min-content;
            // grid-template-columns: 1fr min-content;
            grid-row-gap: 5px;
            margin-bottom: 50px;
            align-items: center;
            margin-top: 50px;
            @include mobile() {
                width: 100%;
                margin-top: 20px;
            }

            .item {
                grid-column: 1 / 2;

                &:nth-child(5),
                &:nth-child(6) {
                    padding-bottom: 10px;

                }

                &:nth-child(even) {
                    text-align: right;

                }
                
                // &:nth-child(7),
                // &:nth-child(8) {
                &.totalprice{
                    padding-top: 10px;
                    border-top: 1px solid #000;
                }

                &.price {
                    grid-column: 2 / 4;
                }

                span {
                    padding-left: 20px;
                }

                &.btn {
                    padding: 8.75px 20px;
                    grid-column: 1/3;
                    text-align: center;
                }

                @include mobile() {
                    &.price {
                        grid-column: 2 / 3;
                    }
                }

            }

            .btn {
                grid-column: 1/3;
                text-align: center;
                margin: 12px auto;
            }
        }




        // 流程四
        // 填寫預約資料
        .grid_confirm {
            display: grid;
            position: relative;
            grid-template-columns: 100px 1fr;
            // margin: 20px 10px;
            font-size: 20px;
            align-items: center;
             
            // 會員點數顯示
            .member_nowpoint{
                grid-column: 1/3;
            }
            &.user_name {
                margin-top: 30px;
            }

            &+.grid_confirm {
                margin-top: 30px;

                @include mobile() {
                    margin-top: 20px;

                }
            }

            h6 {
                width: 90px;
            }

            input {
                padding: 10px 20px;
                font-size: 20px;
                width: 100%;
            }

            input::placeholder {
                font-size: 20px;

            }
            // 格式錯誤驗證文字
            .error_Msg{
                color: $red;
                position: absolute;
                font-size: 12px;
                right: 2%;
            }

            @include mobile {
                input {
                    font-size: 16px;
                }

                input::placeholder {
                    font-size: 16px;
                }
            }

            // 備註
            &.user_othertxt {
                align-items: start;
                margin-bottom: 30px;
            }

            // 紅利點數
            .user_bonus {
                grid-column: 1/3;
                display: flex;
                align-items: center;

                h6 {
                    width: 50%;
                    margin: 0 auto;
                }

                .bonus_input {
                    display: block;

                    input {
                        width: 80%;
                        margin: 0 15px;

                        @include mobile {

                            width: 70%;
                            // margin-left: 15px;

                        }
                    }
                }
            }

           
            textarea {
                resize: none;
                padding: 18px 15px;
                height: 230px;
                font-size: 20px;

                &::placeholder {
                    font-size: 20px;
                }
            }

            @include mobile() {
                input::placeholder {
                    font-size: 16px;
                }

                &.user_othertxt {
                    
                    grid-template-columns: 1fr;
                    
                    h6 {
                        margin-bottom: 10px;
                    }
                }

                textarea {
                    @include mobile() {
                        height: 130px;

                    }

                    &::placeholder {
                        @include mobile() {
                            font-size: 16px;

                        }
                    }
                }
            }
        }

        // 地址
        .user_addr {
            display: grid;
            margin: 30px 0;
            gap: 15px 0px;
            grid-template-columns: 100px 1fr 20px 1fr;
            position: relative;
            .error_Msg{
                position: absolute;
                font-size: 12px;
                color:$red;
                right: 3%;
                top: 25%;
            }
            @include mobile() {
                font-size: 16px;
                grid-template-columns: 1fr 20px 1fr;
                grid-template-rows: 35px 1fr;
                gap: 0px;
                margin: 20px 0;

                label {
                    grid-column: 1/4;
                    grid-row: 1/2;
                }
                #addr {
                    grid-column: 1/5;
                    // grid-row: 3/4;
                }
            }

            &>select,
            &>input {
                width: 100%;
                padding: 10px 20px;
                font-size: 20px;
                

                @include mobile {
                    font-size: 16px;
                }
            }

            &>input {
                grid-column: 2/5;
                grid-row: 1;
                // grid-row: 2;
                // margin-top: 20px;

            }

            &>:nth-child(2) {
                @include mobile {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

            }

            &>:nth-child(3) {
                // margin-right: 50px;
                grid-column: 4/5;
                grid-row: 1/2;

                @include mobile {

                    grid-column: 3/4;
                    grid-row: 2/3;

                }
            }
        }

        // 付款資訊
        .user_pay {
            display: grid;
            grid-template-columns: 1fr 20px 1fr;
            gap: 30px 0px;
            margin-top: 30px;
            font-size: 20px;
            .error_Msg{
                color: #B91646;
                position: absolute;
                font-size: 12px;
                right: 2%;
                top: -50%;
            }
            input{
                width: 100%;
                padding: 10px 20px;
                font-size: 20px;
            }
            .card_num,.card_name,
            .card_data,.card_code{
                position: relative;
            }
            .card_num,.card_name{
                grid-column: 1/4;
            }
            .card_num{
                display: flex;
                align-items: center;
                .split{
                    margin: 0 15px;
                }
            }
            .card_code{
                grid-column: 3/4;
            }

            @include pad(){
                .card_num .split{
                    margin: 0 10px;
                }
                input{
                    padding: 10px 8px;
                }
            }
            @include mobile(){
                font-size: 16px;
                .card_num .split{
                    margin: 0 5px;
                }
                input{
                    font-size: 16px;
                    padding: 5px 5px;
                }
            }   
        }

        // 流程五確認完成
        .step_flow.step5.nowpage{
            grid-column: 1/3;

            .container{
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
                padding-top: 75px;
                border-top: 1px solid;
                
                &>h5{
                    margin: 20px;
                }
                &>a{
                    text-decoration: none;
                }
            }
            .same_container{
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
                padding-top: 75px;
                border-top: 1px solid;
                &>h3{
                    margin: 20px;
                }
                &>a{
                    text-decoration: none;
                }
            }
        }

    }



}