/*------------------- serve_footer（圖片） -------------------*/
.bottom_footer {
    // display: none;
    background-image: url("../img/footer_img/footer_banner.jpg");
    background-size: cover;
    background-position: center center;
    // width: 1920px;
    height: 470px;
    margin-top: 10%;

    background-repeat: no-repeat;
    // position: relative;

    footer {

        .footer_top {
            position: relative;
            height: 100%;

            .guide_line {
                background-color: #fff;
                width: 1px;
                height: 120px;
                margin: 0 auto;
                position: absolute;
                top: 170px;
                right: 0;
                left: 0;
                bottom: 0;
                vertical-align: middle;
            }

            .server_btn {
                // background-color: #333;
                text-decoration: none;
                height: 65px;
                margin: 0 auto;
                position: absolute;
                top: 330px;
                right: 0;
                left: 0;
                bottom: 0;
                vertical-align: middle;

            }
        }
    }
}

/*------------------- no_img_footer -------------------*/

.noimg_footer {
    // display: none;
    overflow: hidden;

    /*----------- 1280寬 ----------*/

    .footer_all {

        position: relative;

        /*----------- footer內容 ----------*/

        .footer_btm {
            display: flex;
            justify-content: space-evenly;
            width: 60%;
            margin: 0 auto;
            margin-top: 50px;

            @media all and (max-width: 922px) {
                flex-direction: column;

            }



            &::before {
                content: "";
                width: 85%;
                height: .5px;
                background-color: black;
                position: absolute;
                top: -50px;
                bottom: 0;
                right: 0;
                left: 0;
                margin: 0 auto;
            }

            /*----------- footer『Info』 ----------*/

            .info_footer {
                margin-right: 10%;
                // border: 1px solid #000;
                width: 30%;
                margin-bottom: 5%;

                @media all and (max-width: 922px) {
                    width: 100%;
                }


                ul {
                    h6 {
                        padding-bottom: 10%;

                        @media all and (max-width: 922px) {
                            padding-bottom: 3%;
                        }
                    }

                    .info_rwd {

                        @media all and (max-width: 922px) {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;

                        }

                        a {
                            text-decoration: none;

                        }

                        li {
                            padding-bottom: 5%;
                            font-size: 12px;
                        }
                    }
                }
            }

            /*----------- footer『Labbel』 ----------*/

            .label_footer {
                margin-right: 10%;
                // border: 1px solid #000;
                width: 30%;
                margin-bottom: 5%;

                @media all and (max-width: 922px) {
                    width: 100%;
                }

                ul {
                    h6 {
                        padding-bottom: 10%;

                        @media all and (max-width: 922px) {
                            padding-bottom: 3%;
                        }
                    }

                    .label_rwd {
                        @media all and (max-width: 922px) {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }

                        a {
                            text-decoration: none;
                        }

                        li {
                            padding-bottom: 5%;
                            font-size: 12px;
                        }
                    }
                }
            }

            /*----------- footer『Follow』 ----------*/

            .follow_footer {
                margin-bottom: 5%;

                ul {

                    text-align: right;
                    // border: 1px solid #000;

                    h6 {
                        padding-bottom: 5%;

                        @media all and (max-width: 922px) {
                            padding-bottom: 2%;
                        }

                        @media all and (max-width: 922px) {
                            text-align: left;
                        }
                    }

                    // width: 100%;


                    li {
                        text-align: justify;
                        font-size: 12px;

                        @media all and (max-width: 922px) {
                            margin-bottom: 5%;
                        }
                    }

                    /*----------- footer『Icon』 ----------*/

                    .social_icon {
                        font-size: 25px;

                        a {
                            margin-left: 6%;

                            @media all and (max-width: 922px) {
                                margin: 0 3%;
                            }
                        }

                        @media all and (max-width: 922px) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}