/*------------------- index_header -------------------*/
.wrap_header {
    // display: none;
    background-image: url("../img/index_img/index_head_banner.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

    background-repeat: no-repeat;

    @include mobile {
        background-image: url("../img/index_img/index_head_banner_rwd.jpg");
    }

    .header_scope {

        header {
            display: flex;
            width: 100%;
            justify-content: center;
            position: fixed;
            position: relative;

            .header_bar {
                display: flex;

                margin-top: 45px;

                // margin-bottom: 90px;
                li {
                    margin-left: 40px;
                    margin-right: 40px;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        border-bottom: 1px solid $Camel-3;
                    }
                }
            }

            .header_user {
                position: absolute;
                top: 45px;
                right: 20px;
                padding-right: 20px;

                a {
                    text-decoration: none;
                    padding-right: 20px;
                }
            }
        }

        .head_logo {
            margin: auto;
            width: 218px;
            height: 218px;
            // margin-top: 150px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            vertical-align: middle;
            // outline: 1px solid #000;

            img {
                height: 218px;
            }
        }

        nav {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 200px;
            margin: 0 auto 20px;
            list-style: none;
            text-align: center;
            // margin-top: 180px;
            position: absolute;
            bottom: 0;

            .index_reservebtn {
                text-decoration: none;

                h6 {
                    &:hover {
                        transition: 0.25s all ease-in-out;
                        font-size: 21px;
                    }
                }

            }

            .guide_line {
                display: block;
                background-color: #fff;
                width: 1px;
                height: 120px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }

}

/*------------------- slide_header -------------------*/
.slide_header {
    // display: none;
    height: 10%;

    @include mobile {
        width: 100%;
    }

    header.header_all {
        z-index: 200;
        // background-image: linear-gradient(180deg, #fff 50%, .5);
        // background-color: rgb(160, 40, 40);
        // background-image: linear-gradient(rgba(255, 255, 255)65%, rgba(255, 255, 255, 0));
        // display: flex;
        width: 100%;
        position: fixed;
        // position: relative;

        .contain {
            display: flex;
            justify-content: space-between;
        }

        .head_logo {
            margin-top: 10px;
            width: 90px;
            // position: relative;
            // position: absolute;
            // top: 0;
            // left: 30px;

            img {
                height: 90px;
            }
        }

        .header_bar {
            display: flex;
            justify-content: center;

            li {
                margin-left: 40px;
                margin-right: 40px;
                margin-top: 45px;
                margin-bottom: 45px;
            }

            a {
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #000;
                }
            }
        }

        nav {
            position: relative;
            // padding-right: 20px;

            .header_user {
                display: flex;
                padding: 0;

                .slide_user {
                    display: block;
                    margin-top: 45px;
                    text-decoration: none;
                    padding-right: 20px;
                }

                .slide_ham {
                    display: none;
                    margin-top: 45px;
                    text-decoration: none;
                    padding-right: 20px;

                    @include mobile() {

                        display: block;

                    }
                }

                .reserve_btn {
                    display: block;
                    margin-top: 0;
                    padding: 0;

                    img {

                        border-radius: 10px 0 0 0;
                        height: 170px;
                    }
                }

            }

            @include mobile {
                .slide_ham {
                    display: block;
                }
            }

        }

    }


}

.header_bg {
    background-color: rgb(255, 255, 255);
    height: 110px;
    position: fixed;
    z-index: 199;
}

.header_mg {
    background-color: rgb(255, 255, 255);
    height: 100px;
}

/*------------------- rwd_header -------------------*/

// @include pad() {}

// @include mobile() {
//     background-image: url("../img/index_img/index_head_banner_rwd.jpg");
// }