@use "sass:math";

// 基本變數定義
@import "base/base";

// mixin 規範
@import "mixin/mixin";

// component
@import "./component/component";


//page
@import "./page/page";

body{
  font-family:"Noto Sans TC";
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.fulid_wrapper{
  margin: 0  auto;
  width: 100%;
}
.wrapper{
  margin: 0 auto;
  max-width: 1280px;
  }




