/*banner component*/
.banner {
  .fulid_wrapper {
    & h1 {
      margin: 161px 0 37px 88px;

      @include mobile {
        margin: 80px 0px 29px 11px;
      }
    }

    & img {
      min-width: 1920px;
      height: 365px;
      object-fit: cover;
    }
  }
}
