.news_page.wrapper {
  .news_page_ul {
    margin-bottom: 50px;
    position: unset;
    display: flex;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      justify-items: center;
      line-height: 30.5px;
      border-radius: 50%;
      @extend .bgc_green-1;
      margin: 0 7px;
      text-align: center;
    }

    li a {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      display: block;
      text-decoration: none;
    }
    li a:hover {
      background-color: $green-2;
    }
  }
}
