<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="./css/style.css" />
    <title>廚師管理</title>
  </head>
  <body>
    <!-- ============== 缺搜尋BAR ============== -->
    <div class="back_chefstManger fulid_wrapper app1" >
      <div class="backwrapper">
        <header>@@include('layout/back_header.html')</header>

        <div class="container">
          <main class="right_content">
            <section class="section1">
              <div class="swiper_img_update">
                <h4 class="h4 green-1">廚師管理</h4>
               
              </div>
            </section>
            <section class="section2">
              <!-- form -->
              <div class="back_from">
                <div class="back_from_wrapper">
                  <!-- row-1 -->
                  <div class="grid_container">
                    <div class="grid_item">團隊編號</div>
                    <div class="grid_item">團隊名稱</div>
                    <div class="grid_item">簡介</div>
                    <div class="grid_item">資訊</div>
                    </div>

                  <!-- row-2 -->
                  <div class="grid_container" v-for="item in chefTeam" :key="item.ID">
                    <div class="grid_item">
                      <!-- 1 -->
                      {{item.ID}}
                    </div>
                    <div class="grid_item">
                      <!-- 立雁杉團隊 -->
                      <div v-if="current_edit !== item.ID">{{item.LederName}}&nbsp廚師長</div>
                      <input type="text" name="" id="" v-else :value="item.LederName">
                    </div>
                    <div class="grid_item">
                      <!-- 人稱，平成末的日式... -->
                      <div v-if="current_edit !== item.ID">{{LederProfileEdit(item.LederProfile)}}</div>
                      <input type="text" name="" id="" v-else :value="item.LederProfile" font-size="16px">
                    </div>
                    <div class="grid_item green-2 checked" @click="current_edit = item.ID" v-if="current_edit !== item.ID">
                      編輯
                    </div>
                    <div class="grid_item green-2 checked"  @click="current_edit = null" v-else>
                      儲存
                    </div>
                  </div>

                  <!-- row-3 -->
                  <!-- <div class="grid_container">
                    <div class="grid_item">G00136</div>
                    <div class="grid_item">立雁杉團隊</div>
                    <div class="grid_item">人稱，平成末的日式...</div>
                    <div class="grid_item green-2 checked">查看/編輯</div>
                    <div class="grid_item">
                      <label class="switch">
                        <input type="checkbox" class="switch_btn" checked />
                        <span class="slider"></span>
                        <p class="slider_content">上架</p>
                      </label>
                    </div>
                  </div> -->

                  <!-- row-4 -->
                  <!-- <div class="grid_container">
                    <div class="grid_item">G00136</div>
                    <div class="grid_item">立雁杉團隊</div>
                    <div class="grid_item">人稱，平成末的日式...</div>
                    <div class="grid_item green-2 checked">查看/編輯</div>
                    <div class="grid_item">
                      <label class="switch">
                        <input type="checkbox" class="switch_btn" checked />
                        <span class="slider"></span>
                        <p class="slider_content">上架</p>
                      </label>
                    </div>
                  </div> -->
                  <!-- row-4 -->
                  <!-- <div class="grid_container">
                    <div class="grid_item">G00136</div>
                    <div class="grid_item">立雁杉團隊</div>
                    <div class="grid_item">人稱，平成末的日式...</div>
                    <div class="grid_item green-2 checked">查看/編輯</div>
                    <div class="grid_item">
                      <label class="switch">
                        <input type="checkbox" class="switch_btn" checked />
                        <span class="slider"></span>
                        <p class="slider_content">上架</p>
                      </label>
                    </div>
                  </div> -->
                  <!-- row-4 -->
                  <!-- <div class="grid_container">
                    <div class="grid_item">G00136</div>
                    <div class="grid_item">立雁杉團隊</div>
                    <div class="grid_item">人稱，平成末的日式...</div>
                    <div class="grid_item green-2 checked">查看/編輯</div>
                    <div class="grid_item">
                      <label class="switch">
                        <input type="checkbox" class="switch_btn" checked />
                        <span class="slider"></span>
                        <p class="slider_content">上架</p>
                      </label>
                    </div>
                  </div>
                </div> -->
                <!-- wrapper -->
              </div>
              <!-- back_from -->

              <!--新增廚師團隊的popon開始-->
              <!-- <div class="chef_popon">
                <div class="chef_popon_top">
                  <p>新增廚師團隊</p>
                  <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="chef_label">
                  <label for="name">團隊名稱：</label>
                  <input type="text" id="name" />
                </div>
                <div class="chef_label">
                  <label for="number">團隊編號：</label>
                  <input type="text" id="number" />
                </div>
                <div class="chef_label">
                  <label for="chef_introduce">廚師簡介：</label>
                  <textarea
                    name=""
                    id="chef_introduce"
                    cols="30"
                    rows="10"
                    maxlength="150"
                  >
人稱，平成末的日式料理專家，在冷熱料理中輕鬆切換，變化中不失和諧感，經典懷石風味的割烹料理彷如露天寫生一般充滿藝術的氣息，一口一口的念念不忘，打斷你對日式料理的初想，給你獨一無二的念想。
                          </textarea
                  >
                </div>
                <div class="chef_label ">
                  <p>(41/150)</p>
                </div>
                <div class="chef_info">
                  <label for="information">團隊資訊：</label>
                  <div class="chef_info_img">
                    <input type="file">
                  </div>
                </div>
                <div class="chef_popon_flex">
                  <div class="chef_pop_col">
                    <label for="job">職稱：</label>
                    <input type="text" id="job" />
                    <label for="chef_popon_name">名稱</label>
                    <input type="text" id="chef_popon_name" />
                    <label for="">圖片：</label>
                    <input type="file">
                  </div>
                  <div class="chef_pop_col">
                    <label for="job">職稱：</label>
                    <input type="text" id="job" />
                    <label for="chef_popon_name">名稱</label>
                    <input type="text" id="chef_popon_name" />
                    <label for="">圖片：</label>
                    <input type="file">
                  </div>
                  <div class="chef_pop_col">
                    <label for="job">職稱：</label>
                    <input type="text" id="job" />
                    <label for="chef_popon_name">名稱</label>
                    <input type="text" id="chef_popon_name" />
                    <label for="">圖片：</label>
                    <input type="file">
                  </div>
                </div>
                <div class="save_btn_chef">儲存</div>
              </div> -->
              <!--新增廚師團隊的popon結束-->

              <!--新增團隊班表的popon開始-->
              <!-- <div class="chef_schedule">
                <div class="chef_schedule_top">
                  <p>團隊班表</p>
                  <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="chef_schedule_flex"> -->
                  <!--放日曆的地方-->
                  <!-- <div>日曆</div> -->
                  <!--三個團隊的按鈕區-->
                  <!-- <div class="chef_schedule_col"> -->
                    <!--立雁杉的按鈕區-->
                    <!-- <div class="chef_schedule_item">
                      <p class="chef_schedule_item_p">立雁杉團隊</p>
                      <div class="btn_flex">
                        <div class="timeorder_btn">
                          <p class="meal_t">午餐時段</p>
                          <p class="period_t">(11:00-14:00)</p>
                        </div>
                        <div class="timeorder_btn is_Order">
                          <p class="meal_t">午茶時段</p>
                          <p class="period_t">(14:30~16:30)</p>
                        </div>
                        <div class="timeorder_btn is_Order">
                          <p class="meal_t">晚餐時段</p>
                          <p class="period_t">(18:30~21:00)</p>
                        </div>
                      </div>
                    </div> -->

                    <!--章煾蘋的按鈕區-->
                    <!-- <div class="chef_schedule_item">
                      <p class="chef_schedule_item_p">章煾蘋團隊</p>
                      <div class="btn_flex">
                        <div class="timeorder_btn">
                          <p class="meal_t">午餐時段</p>
                          <p class="period_t">(11:00-14:00)</p>
                        </div>
                        <div class="timeorder_btn is_Order">
                          <p class="meal_t">午茶時段</p>
                          <p class="period_t">(14:30~16:30)</p>
                        </div>
                        <div class="timeorder_btn is_Order">
                          <p class="meal_t">晚餐時段</p>
                          <p class="period_t">(18:30~21:00)</p>
                        </div>
                      </div>
                    </div> -->
                    <!--張聖潔的按鈕區-->
                    <!-- <div class="chef_schedule_item">
                      <p class="chef_schedule_item_p">張聖潔團隊</p>
                      <div class="btn_flex">
                        <div class="timeorder_btn">
                          <p class="meal_t">午餐時段</p>
                          <p class="period_t">(11:00-14:00)</p>
                        </div>
                        <div class="timeorder_btn is_Order">
                          <p class="meal_t">午茶時段</p>
                          <p class="period_t">(14:30~16:30)</p>
                        </div>
                        <div class="timeorder_btn is_Order">
                          <p class="meal_t">晚餐時段</p>
                          <p class="period_t">(18:30~21:00)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="save_btn_schedule">儲存</div>
              </div> -->

              <!--新增團隊班表的popon結束-->
              <!-- 頁碼-->
              <!-- <div class="page">
                <ul class="page_ul">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                </ul>
              </div> -->
            </section>
            <!-- section1 -->
          </main>

          @@include('layout/back_footer.html')
        </div>
        <!-- container -->
      </div>
    </div>

    <script src="./js/vender/Jquery/jquery-3.6.1.js"></script>
    <!-- JQ -->

    <script src="./js/vender/Vue/vue.global.js"></script>
    <!-- Vue -->


    <script>

      let app1 = Vue.createApp({

        data(){
            return {
              //----------- 廚師團 -----------//
              chefTeam:[],       
              current_edit:null    
            }; 
        },
        
        computed: {
     
        },

        created(){
          this.team();
        },

        mounted(){
          
        },

        methods: {
          LederProfileEdit(Name){
            console.log(Name)
            // element.LederProfile = element.LederProfile.substr(0, 11) + '...'
            return Name.substr(0, 11) + '...';
          },
          team() {
            let _this = this;
              
            $.ajax({
                    method:"GET",
                    url:"php/backpage/back_cheifManger.php",
                    data:{},
                    dataType:"json",
                    success: function (response) {
                            // console.log(response);
                            response.forEach((element) => {
                              
                             
                                    // element.LederProfile = element.LederProfile.substr(0, 11) + '...'
                                    _this.chefTeam.push(element);
                              
                              
                            });
                        },
                        error: function (exception) {
                            alert("發生錯誤: " + exception.status);
                        },
                  });
          },


          //取得一筆資料
          getMallOneData(id){
              const that = this; 
              // console.log(id);
              fetch(`php/backpage/getAllMallOrderData.php?ID=${id}`)
              .then(response => {
                // console.log(response.json());
                return  response.json()
              })
              .then( datalist => {
                that.shopDetail = [];
                datalist.forEach(data=>{
                  this.shopDetail.push(data);
                })
                that.$nextTick(function(){
                  that.shopDetail = {...that.shopDetail}
                });
              
              }).catch(err=>{
                    console.log(err)
                })
            },

            //送出編輯order訂單的API
            updateMallData(popOnOpen){
              // console.log(popOnOpen.ID,popOnOpen.Phone,popOnOpen.Email,popOnOpen.Address,popOnOpen.Name);
              const that = this;
              $.ajax({
                  method:"POST",
                  url: "php/backpage/updateMallData.php",
                  data : {
                    ID:popOnOpen.ID,
                    Phone:popOnOpen.Phone,
                    Email:popOnOpen.Email,
                    Address:popOnOpen.Address,
                    Name:popOnOpen.Name
                  },
                  dataType:"text",
                  success:function(response){
                    if(response == 'Y'){
        
                    }else{
                      console.log(`其他錯誤`);
                    }
                  },
                  error: function(exception){
                    alert("發生錯誤:" +exception.status);
                  }

              });

            },

            updataStateAPI(id,State){
              // console.log(id,State);
              $.ajax({
                method:"POST",
                url:"php/backpage/updateMallData.php",
                data : {
                  Msg:'update',
                  ID:id,
                  State:State
                },
                dataType:"text",
                success:function(response){
                  if(response == 'Y'){

                  }else{
                    console.log(`其他錯誤`);
                  } 
                },
                error: function(exception){
                    alert("發生錯誤:" +exception.status);
                  }
              })
            },

            updataStatus(item,e){
              if(!confirm("是否更換訂單狀態?")){
                // console.log(e.target.value);
                e.target.value = item.State
              }else{
                item.State = e.target.value
                this.updataStateAPI(item.ID,item.State)
                // console.log(item.ID);
              }
            },

            //新資料更新回舊資料
            storageBtn(){
              const newOrderValue = {
                Name:this.$refs.orderName.value,
                Phone:this.$refs.orderPhone.value,
                Email:this.$refs.orderEmail.value,
                Address:this.$refs.orderAddress.value,
              }

              if(this.popOnOpen.isEdit){
                if(window.confirm('確定修改訂單資訊嗎?')){

                  // console.log(newOrderValue.Name);
                  this.popOnOpen.Name = newOrderValue.Name;
                  this.popOnOpen.Phone = newOrderValue.Phone;
                  this.popOnOpen.Email = newOrderValue.Email;
                  this.popOnOpen.Address = newOrderValue.Address;

                  this.popOnOpen.isEdit = false;
                  //將編輯後的this.popOnOpen資料帶去updateMallData
                  this.updateMallData(this.popOnOpen);
                
                  //更新API資料是指在外一層的data
                  const newID = this.popOnOpen.ID;
                  // console.log(newID);

                  this.apiData.forEach((data)=>{
                    //data指向所有在vue中data的值
                    // console.log(data);
                      if(newID == data.ID){
                        data.Name = newOrderValue.Name;
                        data.Phone = newOrderValue.Phone;
                        data.Email = newOrderValue.Email;
                        data.Address = newOrderValue.Address;
                      }


                  })

                }else{

                }
              }else{
                alert(`資料未修改`)
              }
            },

         
   
        },
      });
      app1.mount(".app1");      

    </script>
  </body>
</html>
