<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <title>私廚商品上架</title>
</head>
<body>
    <!-- ============== 缺搜尋BAR ============== -->
    <div class="back_reserve_productManger fulid_wrapper" id="reserve_producetManger">
        <div class="backwrapper"  >
            <header>
                @@include('layout/back_header.html')
            </header>

            <div class="container" >
                <main class="right_content">
                    <section class="section1">
                        <!-- form -->
                        <div class="back_from" >
                            <div class="back_from_title">
                                <h4 class="h4 green-1">私廚商品上架</h4>
                                <div class="dishFunction">
                                    <button class="insert_btn" @click="popOnInsert">新增 菜品/服務</button>
                                    <div class="search">
                                        <div class="search_container_item">
                                          <input type="text" placeholder="商品名查詢" @keydown="search" ref="search_name"/>
                                          <i class="fa-solid fa-magnifying-glass"  @click="search"></i>
                                        </div>
                                    
                                    </div>
                                </div>
                               
                            </div>
                            <div class="back_from_wrapper" ref="data_wrapper">
                                <!-- row-1 -->
                                <div class="grid_container">
                                    <div class="grid_item">商品編號</div>
                                    <div class="grid_item">分類</div>
                                    <div class="grid_item">品名</div>
                                    <div class="grid_item">售價</div>
                                    <!-- <div class="grid_item">庫存</div> -->
                                    <div class="grid_item">狀態</div>
                                </div>
                                <template v-for="set in APIdata.sets">
                                                <div class="grid_container"> 
                                                    <div class="grid_item">Set{{set.id}}</div>
                                                    <div class="grid_item">私廚套餐</div>
                                                    <div class="grid_item">{{set.setName}}</div>
                                                    <div class="grid_item">{{set.price}}</div>
                                                    <div class="grid_item checked" @click="popOnEditSetDatail(set)">查看/編輯</div>
                                                    <!-- <div class="grid_item">
                                                        <label class="switch">
                                                            <input type="checkbox" class="switch_btn" checked>
                                                            <span class="slider"></span>
                                                            <p class="slider_content">上架</p>
                                                        </label>
                                                    </div>  -->
                                                </div>
                                </template>
                                <!-- 渲染單品 -->
                                <template v-for="item in APIdata.other" :key="item.id">
                                    <!-- <p>{{item}}</p> -->
                                    <div class="grid_container" :data-id="item.id">
                                        <div class="grid_item checked" @click="popOnEdit(item)">{{item.id}}</div>
                                        <div class="grid_item">{{item.dishType}}</div>
                                        <div class="grid_item">{{item.dishName}}</div>
                                        <div class="grid_item">${{item.price}}</div>
                                       
                                        <div class="grid_item">
                                            <label class="switch">
                                                <input type="checkbox" class="switch_btn" :checked="item.Condition == 1" @click= changeCondtion(item,$event)>
                                                <span class="slider"></span>
                                                <p class="slider_content" v-if="item.Condition == 1">上架</p>
                                                <p class="slider_content" v-if="item.Condition == 0">下架</p>
                                            </label>
                                        </div>
                                    </div>
                                </template>
                                
                                <!-- 服務 -->
                                <template v-for="item in APIdata.serve" :key="item.id">
                                    <!-- <p>{{item}}</p> -->
                                    <div class="grid_container" :data-id="item.id">
                                        <div class="grid_item checked" @click="popOnEdit(item)">{{item.id}}</div>
                                        <div class="grid_item">{{item.dishType}}</div>
                                        <div class="grid_item">{{item.dishName}}</div>
                                        <div class="grid_item">${{item.price}}</div>
                                       
                                        <div class="grid_item">
                                            <label class="switch">
                                                <input type="checkbox" class="switch_btn" :checked="item.Condition == 1" @click= changeCondtion(item,$event)>
                                                <span class="slider"></span>
                                                <p class="slider_content" v-if="item.Condition == 1">上架</p>
                                                <p class="slider_content" v-if="item.Condition == 0">下架</p>
                                            </label>
                                        </div>
                                    </div>
                                </template>                               
                            </div><!-- wrapper -->
                        </div><!-- back_from -->
                        
                        <!-- 頁碼-->
                        <!-- <div class="page">
                            <ul class="page_ul">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </section><!-- section1 -->
                </main>
                @@include('layout/back_footer.html')
            </div><!-- container --> 
            
        </div>
        <div @click="closePopOn" class="area" :class="[popOnMsg.isEdit ? 'popAllarea':'',popOnInsertMsg.isAdd ? 'popAllarea':'']">
            <div class="pop sevse_dish" v-if="popOnInsertMsg.isAdd == true" @click.stop style="display: none;" :style="popOnInsertMsg.isAdd ?'display:block':'display: none'">  
                <div class="reserve_top">
                    <p>新增私廚單品或服務</p>
                </div>          
                <div class="pop_contaniner">
                    <div class="input">
                        <label for="_name">品名:</label><input type="text" id="_name" v-model="popOnInsertMsg.dishName" ref="i_DishName">
                    </div>
                    <div class="input">
                        <label :for="popOnMsg.id">商品種類:</label>
                        <select :name="popOnMsg.id" :id="popOnMsg.id" v-model.number="popOnInsertMsg.Type" ref="i_Type">
                            <!-- dish Type -->
                            <option value="7" selected>單品</option>
                            <option value="11">服務</option>
                        </select>
                    </div>
                    
                    <div class="input">
                        <label for="_no">編號:</label><input type="text" id="_no" v-model="popOnInsertMsg.id" disabled>
                    </div>
                    <div class="input" v-if="popOnInsertMsg.Type == 11 ">
                        <label for="_intro">簡介:</label><input type="text" id="_intro" v-model="popOnInsertMsg.intro">
                    </div>
                    <div class="input">
                        <label for="_price">價格:</label><input id="_price" v-model.number ="popOnInsertMsg.price"  type="number" ref="i_Price">
                    </div>
                    <button class="section_reserve_btn" @click="clickSaveToInsert()" v-if = "popOnInsertMsg.id !== 'undefined'">儲存</button>
                </div>
            </div>
            <div class="pop sevse_dish" v-if="popOnMsg.isEdit == true" @click.stop style="display: none;" :style="popOnMsg.isEdit ?'display:block':'display: none'">  
                <div class="reserve_top"  @click.stop>
                    <p>編輯私廚單品或服務</p>
                </div>          
                <div class="pop_contaniner">
                    <div class="input">
                        <label for="_name">品名:</label><input type="text" id="_name" :value="popOnMsg.dishName" ref="os_DishName">
                    </div>
                    <div class="input">
                        <label :for="popOnMsg.id">狀態:</label>
                        <select :name="popOnMsg.id" :id="popOnMsg.id" :value="popOnMsg.Condition" ref="os_Condtion">
                            <option value="1">上架</option>
                            <option value="0">下架</option>
                        </select>
                    </div>
                    
                    <div class="input">
                        <label for="_no">編號:</label><input type="text" id="_no" :value="popOnMsg.id" disabled>
                    </div>
                    <div class="input">
                        <label for="_price">價格:</label><input id="_price" :value ="popOnMsg.price"  type="number" ref="os_Price">
                    </div>
                    <button class="section_reserve_btn" @click="clickSaveToUpdate(popOnMsg)">儲存</button>
                </div>
            </div>
        </div>
        


        <!-- // 把值給PopOnSet
                        this.popOnSetDetail.id = set.id;
                        this.popOnSetDetail.setName = set.setName;
                        this.popOnSetDetail.price = set.price;
                        this.popOnSetDetail.setName = set.setName;
                        this.popOnSetDetail.IMG = set.IMG;
                        this.popOnSetDetail.dish = set.dish; -->
        <div @click="closePopOn" class="area" :class="[popOnSetDetail.isDisplay ?'popOutsideArea':'']"  style="display:none;" :style="popOnSetDetail.isDisplay? 'display:block':'display: none'">
            <div class="section_reserve" v-if="popOnSetDetail.isDisplay == true" @click.stop>
                <div class="reserve_top">
                    <p>編輯私廚菜單</p>
                    <button class="insert_btn editSet" @click="editSet" ref="editSet">編輯菜單</button>
                </div>
                <div class="reserve_info">
                    <h6>套餐名稱：<input :value="popOnSetDetail.setName " :disabled="!popOnSetDetail.isEdit" ref="setName"></h6>
                    <h6>商品分類：<input value="私廚菜單" disabled></h6>
                    <h6>套餐編號：<input :value="popOnSetDetail.id" disabled></h6>
                    <h6>套餐售價：<input :value="popOnSetDetail.price":disabled="!popOnSetDetail.isEdit" ref="setPrice"> </h6>
                    <div>
                        <input type="file" name="" id="SetIMGInput" v-if="popOnSetDetail.isEdit" @change = "updateSetIMG($event)" ref="SetIMGInput" accept="image/*">
                        <img :src="popOnSetDetail.IMG" alt="" ref="setIMG" class="setDeatailIMG">
                        <!-- <img :src="test" alt="" ref="setIMG" class="setDeatailIMG"> -->
                    </div>
                    
                </div>
                <div class="reserve_type">
                    <ul>
                        <template v-for="(dishList,typeName) in popOnSetDetail.dish">
                            <li>種類：{{typeName}} <span class="addItem" @click="clickInsertSetDish(typeName,popOnSetDetail['id'])">+</span></li>
                            <template v-for="(dish) in dishList" :key="dish.id" :disabled = "!dish.isEdit">
                                <div class="type_content">
                                    <h6 class="number">編號：<input :value="dish.id" disabled></h6>
                                    <h6 class="name">品名：<input :value="dish.dishName" :disabled = "!dish.isEdit" :ref="'name_' + dish.id"> 
                                        <select name="" id="" :value="dish.Condition" :disabled = "!dish.isEdit" :ref="'condition_' + dish.id">
                                            <option value="1">上架</option>
                                            <option value="0">下架</option>
                                        </select>
                                        <span @click="clickSetDishDetail(dish)">
                                            <!-- @click="clickSetDishDetail(dish) -->
                                            <img src="img/back_page/memberDetail.png" alt="" class="pointEdit" id="pointEdit">
                                        </span>
                                    </h6>
                                </div>
                            </template>
                        </template> 
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
        <!-- <script src="js/vender/Vue/vue.global.js"></script> -->
        <script src="js/vender/Vue/vue.global.prod.js"></script>
        <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
        <script src="js/back_page/back_reseverPMR.js"></script>
</body>
</html>