<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>預約訂單管理</title>
</head>
<body>
    <!-- ============== 缺搜尋BAR ============== -->
    <div class="back_orderlist_prev fulid_wrapper">
        <div class="backwrapper" id="oderList" >
            <header>
                @@include('layout/back_header.html')
            </header>

            <div class="container" ><!-- test -->
                <main class="right_content">
                    <section class="section1">
                        <!-- form -->
                        <div class="back_from">

                            <div class="back_fromTitle">
                                <h4 class="h4 green-1">預約訂單管理</h4>
                                <!-- <div class="search">
                                    <div class="search_container_item">
                                        <input type="text" placeholder="訂單查詢..."/>
                                    </div>
                                    <div class="search_container_item">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                </div> -->
                            </div>

                            <div class="back_from_wrapper">
                                    <!-- row-1 -->
                                <div class="grid_container">
                                    <div class="grid_item" @click="sortOrderID" style="cursor:pointer" title="點擊可依訂單編號排序">訂單編號<i class="fa-sharp fa-solid fa-sort"></i></div>
                                    <div class="grid_item" @click="sortDate" style="cursor:pointer" title="點擊可依預約日期排序" >日期<i class="fa-sharp fa-solid fa-sort"></i></div>
                                    <div class="grid_item">會員編號</div>
                                    <div class="grid_item">金額</div>
                                    <div class="grid_item">預約人數</div>
                                    <div class="grid_item">訂單狀態</div>
                                </div>
                                
                                <template v-for="item in this.apiData" :key="item.ID">
                                    <div class="grid_container" >
                                        <div class="grid_item checked"  @click.stop="ClickOrderDetail(item)" id="grid_item">{{item.ID}}</div>
                                        <div class="grid_item">{{item.AppointmentDate}}</div>
                                        <div class="grid_item">{{item.MemberID}}</div>
                                        <div class="grid_item">$ {{item.TotalPrice.toLocaleString()}} 元</div>
                                        <div class="grid_item">{{item.Count}}位</div>
                                        <div class="grid_item ">
                                            <!-- v-model.lazy="item.Condition -->
                                            <!-- <p>{{item.Condition}}</p> -->
                                            <select @change="UpadteCondition(item,$event)" class="selectInput">
                                                <!-- <select name="" id="" @change="UpadteCondition(item,$event,this.value)" class="selectInput" :vaule="item.Condition" ref="xxx"></select> -->
                                                <!--  v-model="item.Condition" -->    
                                                <option disabled>訂單成立未付款</option>
                                                <option value='訂單成立已付款'  :selected="item.Condition =='訂單成立已付款'">訂單成立已付款</option>
                                                <option value='已完成售後服務'  :selected="item.Condition =='已完成售後服務'">已完成售後服務</option>
                                                <option value='訂單封存'       :selected="item.Condition =='訂單封存'" >訂單封存</option>
                                                <!-- <option    " >訂單成立已付款</option>
                                                <option :selected="item.Condition ==='已完成售後服務'" >已完成售後服務</option>
                                                <option :selected="item.Condition ==='訂單封存'">訂單封存</option> -->
                                            </select>
                                        </div>
                                    </div>
                                </template>
                              
                                <!-- row-10 -->
                                <!-- <div class="grid_container">
                                    <div class="grid_item checked">TG1311279</div>
                                    <div class="grid_item">2022/01/13</div>
                                    <div class="grid_item">13389</div>
                                    <div class="grid_item">$13,000</div>
                                    <div class="grid_item">2位</div>
                                    <div class="grid_item">
                                        <select name="" id="">
                                            <option value="">訂單成立未付款</option>
                                            <option value="">訂單成立已付款</option>
                                            <option value="">已完成售後服務</option>
                                            <option value="">訂單封存</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div><!-- wrapper -->
                        </div><!-- back_from -->
                        
                        <!-- 頁碼-->
                        <!-- <div class="page">
                            <ul class="page_ul">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </section>
                    <!-- section1 -->
                    <!-- popInMsg -->
                    <div class="Pop_All"  @click="closePopOnOther" style="display: none;" ref = ""
                    v-if="popOnMsg.display ==true" :style="popOnMsg.display ?'display:block':'display: none'"
                     ref="popWindow">
                        <div class="popContainer" @click.stop>
                          
                                 <div class="feedback_top">
                                     <h6>訂單明細</h6>
                                     <button @click="closePopOn" class="close_btn" id="toggler-btn">X</button>
                                 </div>
                                 <div class="order_contaniner">
                                     <div class="contaniner_top">
                                         <p class="font14">訂單編號 :<span>{{popOnMsg.OrderId}}</span></p> 
                                         <p class="font14">訂單類別 :<span class="red">私廚預約</span></p> 
                                         <p class="font14">時間 :<span>{{popOnMsg.AppointmentDate}} {{popOnMsg.Scheduled}}時段</span></p> 
                                         <p class="font14">人數 :<span>{{popOnMsg.Count}}人</span></p> 
                                         <p class="font14">廚師長 :<span>{{popOnMsg.LederName}}</span></p> 
                                     </div>
                                     <div class="contaniner">
                                         <h6>{{popOnMsg.setName}}</h6>
                                         <ul class="contaniner_detail">
                                             <li class="detail_title header"><p class="font14">類型</p><p class="font14">品名</p><p class="font14">數量</p></li>
                                             
                                             <template v-for="(item,dishTypeName,idx) in OrderDetail" :key = idx>
                                                <li class="type_kind">
                                                    <p class="type_title">{{dishTypeName}}</p>
                                                        <ol class="dish_list">
                                                            <template v-for="(itemdt,d) in item" :key ="itemdt.DishID">
                                                            <li class="detail_dish"><p class="font14"></p><p class="font14 dish_name">{{itemdt.DishName}}</p><p class="font14">X{{itemdt.qty}}</p></li>
                                                            </template>
                                                        </ol>
                                                    
                                                </li>                    
                                             </template>
                                             
                                             <!-- 總計金額 -->
                                             <li class="total_price">
                                                 <ol class="detail_title total">
                                                     <li class="detail_dish col2"><p class="font14"> 小計</p><p class="font14">$ {{(popOnMsg.TotalPrice).toLocaleString()}}</p></li>
                                                     <li class="detail_dish col2" v-if="popOnMsg.point > 0"><p class="font14 ">回饋點數</p><p class="font14" >-${{(popOnMsg.point).toLocaleString() }}</p></li>
                                                 </ol>
                                                 <div class="detail_title"><p class="font14">Total</p><p class="font14 price">$ {{(popOnMsg.TotalPrice - popOnMsg.point).toLocaleString()}}</p></ㄎ>
                                             </li>
                                         </ul>
                                     </div>
                                     
                                     <div class="contaniner_info">
                                         <h6>訂單明細 <span class="edit"
                                            :class="[popOnMsg.isEdit ? 'checked' : '']"
                                             @click="popEditIcon()"><span><i class="fa-solid fa-pen-to-square"></i></span><span v-if="popOnMsg.isEdit == true">正在編輯中</span></span></h6>
                                         <!-- 訂購人姓名 -->
                                         <div class="info_input">
                                             <label for="order_name" class="orderL name">訂購人</label>
                                             <input type="text" id="order_name" ref="order_name" :value="popOnMsg.Name" :disabled="!popOnMsg.isEdit"/>
                                             
                                         </div>
         
                                         <!-- 訂購人電話 -->
                                         <div class="info_input">
                                             <label for="order_phone" class="orderL phone">聯繫電話</label>
                                             <input type="text" id="order_phone" ref="order_phone" maxlength="10"   :value="popOnMsg.Phone"  :disabled="!popOnMsg.isEdit"/>
                                         </div>
         
                                         <!-- 訂購人Email -->
                                         <div class="info_input">
                                             <label for="order_email" class="orderL mail">E-mail</label>
                                             <input type="text" id="order_email" ref="order_email"   :value="popOnMsg.Email"  :disabled="!popOnMsg.isEdit"/>
                                         </div>
         
                                         <!-- 訂購人Adrr -->
                                         <div class="info_input">
                                             <label for="order_addr" class="orderL addr">地址</label>
                                             <input type="text" id="order_addr" ref="order_addr" :value="popOnMsg.Address"  :disabled="!popOnMsg.isEdit"/>
                                         </div>
         
                                         <div class="info_input dir_col">
                                             <label for="order_note" class="orderL note">備註</label>
                                             <textarea name="" id="order_note" ref="order_note"  :value="popOnMsg.notes"  :disabled="!popOnMsg.isEdit"></textarea>
                                         </div>
                                         <div class="save_btn" style="margin: 10px auto;" @click="popSave" v-if="popOnMsg.isEdit">儲存</div>
                                     </div>
                                 </div>
                             </div>
                          
                         </div>
                </main>
                @@include('layout/back_footer.html')
            </div><!-- container -->
        </div>
    </div>
    <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
    <!-- <script src="js//vender/Vue/vue.global.js"></script> -->
    <script src="js/vender/Vue/vue.global.prod.js"></script>
    <script src="js/back_page/back_orderList.js"></script>

</body>
</html>