<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>會員管理</title>
</head>
<body>
    <div class="meberManger_back fulid_wrapper" id="member_back">
        <div class="backwrapper">
            <header>
                @@include('layout/back_header.html')
            </header>

            <div class="container"><!-- test -->
                <main class="right_content">
                    <section class="section1">
                        <!-- form -->
                        <div class="back_from">
                            <div class="back_fromTitle">
                                <h4 class="h4 green-1">會員管理</h4>
                                <div class="search">
                                    <div class="search_container_item">
                                        <input type="text" placeholder="會員查詢..." @keyup="search" ref="search_name"/>
                                    </div>
                                    <div class="search_container_item" @click="search">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="back_from_wrapper">
    
                                    <!-- row-1 -->
                                <div class="grid_container">
                                    <div class="grid_item">會員編號</div>
                                    <div class="grid_item">姓名</div>
                                    <div class="grid_item">性別</div>
                                    <div class="grid_item">回饋點數</div>
                                    <div class="grid_item">執行</div>
                                </div>
                                <!-- row-2 -->
                                <div class="grid_container click_hover" v-for="(item,key) in info" :value="item.ID" @click="open_popup"> 
                                    <div class="grid_item" >{{item.ID}}</div>
                                    <div class="grid_item" >{{item.Name}}</div>
                                    <div class="grid_item" >{{item.Sex}}</div>
                                    <div class="grid_item" >{{item.point}}點
                                        <!-- <label class="switch">
                                            <input type="checkbox" class="switch_btn" checked @click="switch_member">
                                            <span class="slider"></span>
                                            <p class="slider_content" >啟用</p>
                                        </label> -->
                                    </div>
                                    <div class="grid_item checked">查閱</div>
                                </div>
                                
                               
                            </div><!-- wrapper -->
                        </div><!-- back_from -->
                        
                        <!-- 頁碼-->
                        <div id="paginator_block" class="page">
                            <the-paginator class="page_ul" :total-items=page.total_items 
                            items-per-page="10" :current-page=page.current_page 
                            @emit-pages="page_click" ></the-paginator>
                        </div>
                        <!-- <div class="page">
                            <ul class="page_ul">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </section><!-- section1 -->
                </main>
                
                @@include('layout/back_footer.html')
            </div><!-- container -->
            
        </div><!-- wrapper -->
        <!-- 會員明細 -->
        <div class="memberDetail_wrapper none" ref="member_popup" @click="close_popup">
            <div class="memberDetail_list" @click.stop>
                <h3 class="font16">會員詳細資料</h3>
                <!-- section-1 -->
                <main>
                        <div class="listWrapper">
                            <div class="member_title font16 gray">
                                <div class="member_item">會員編號：</div>
                                <div class="member_item">會員信箱：</div>
                                <div class="member_item">姓名：</div>
                                <div class="member_item">性別：</div>
                                <div class="member_item">手機：</div>
                                <div class="member_item">地址：</div>
                                <div class="member_item">多元登錄：</div>
                                <div class="member_item">回饋點數：</div>
                                <div class="member_item">收藏清單：</div>
                            </div>
                            <div class="member_content">
                                <p class="member_item font16 gray">{{info_favo.ID}}</p>
                                <p class="member_item font16 gray">{{info_favo.Email}}</p>
                                <p class="member_item font16 gray">{{info_favo.Name}}</p>
                                <p class="member_item font16 gray">{{info_favo.Sex}}</p>
                                <p class="member_item font16 gray">{{info_favo.Phone}}</p>
                                <p class="member_item font16 gray">{{info_favo.Address}}</p>
                                <label for="line_checkbox" class="line_item font16 gray">
                                    <input type="checkbox" class="line_checkbox" id="line_checkbox">
                                    Google
                                </label>
                                <p class="member_item font16 gray">{{info_favo.point}}點</p>
                                <!-- <label for="" class="point_item font16 gray" id="point_item">
                                    <input type="text" :value="info_favo.point" class="pointText font16 gray" id="pointText">
                                    點
                                    <img src="./img/back_page/memberDetail.png" alt="" class="pointEdit" id="pointEdit">
                                </label> -->
                            </div>
                        </div><!-- wrapper -->
                
                        <div class="grid_wrapper ">
                            <!-- row-1 -->
                            <div class="grid_container font14">
                                <div class="grid_item">商品編號</div>
                                <!-- <div class="grid_item">會員編號</div> -->
                                <div class="grid_item">分類</div>
                                <div class="grid_item">品名</div>
                                <div class="grid_item">收藏時間</div>
                            </div>
                            <!-- row-2 -->
                            <div class="grid_container font14" v-for="(value, key) in favo">
                                <div class="grid_item">{{value.DishID}}</div>
                                <div class="grid_item">{{value.TypeName}}</div>
                                <div class="grid_item">{{value.DishName}}</div>
                                <!-- <div class="grid_item">$12,000</div> -->
                                <div class="grid_item">{{value.collectionTime}}</div>
                            </div>
                        </div>
                    <div class="save_btn" style="margin: 40px 0px 20px;" @click="close_popup">關閉</div>
                </main>
            </div>
        </div>
    </div>
    
    
    <script src="js/vender/Vue/vue.global.js"></script>
    <script src="./js/vender/Jquery/jquery-3.6.1.js"></script><!-- JQ -->

    <script type="module" >
        import ThePaginator from "./js/back_page/paginator.js";

        let member_back = Vue.createApp({
            components:{ ThePaginator },
            data() {
                return {
                    info:[{}],
                    favo:[{}],
                    info_favo:{},
                    page:{
                        // 總數
                        total_items : "",
                        // 一頁有幾筆
                        items_per_page : "",
                        // 當前頁面
                        current_page : "1"
                    }
                }
            },
            mounted() {
                this.get_info();
                // this.get_favo();
            },
            methods: {
                // 取得會員資料 加進data info
                get_info(){
                    // let page = 1 ;
                    $.ajax({
                        method: "POST",
                        url: "php/backpage/back_member_s.php",
                        data: {
                            // page:page
                        },
                        dataType: "json",
                        success: (response) => {
                            // console.log("member");
                            // console.log(response);
                            this.info = response[1] ;
                            this.page.total_items = response[0][0];
                            this.page.items_per_page = response[0][1];
                            // this.page.current_page = page ;
                            // console.log(this.page);
                        },
                        error: function (exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                    
                },
                //取得收藏清單 加進data favo
                get_favo(){
                    $.ajax({
                        method: "POST",
                        url: "php/backpage/back_member_f.php",
                        data: {
                            member_ID:member_ID
                        },
                        dataType: "json",
                        success: (response) => {
                            if(response == "無資料"){
                                return;
                            }else{
                                // console.log("favo");
                                // console.log(response);
                                this.favo = response ;
                            }
                        },
                        error: function (exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });

                },
                // 打開彈窗 
                open_popup(e){
                    let p = this.page.current_page ; 
                    // console.log(p);
                    let member_ID = e.target.parentNode.getAttribute("value");
                    // console.log(member_ID);
                    // 從資料庫找收藏清單
                    $.ajax({
                        method: "POST",
                        url: "php/backpage/back_member_f.php",
                        data: {
                            member_ID:member_ID
                        },
                        dataType: "json",
                        success: (response) => {
                            if(response == "無資料"){
                                this.favo = [];
                                // return;
                            }else{
                                // console.log("favo");
                                // console.log(response);
                                this.favo = response ;
                                
                            }
                        },
                        error: function (exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                    // console.log(this.info[member_ID]);
                    // 宣告前面page的總數量
                    let page_count_item = ( p - 1 ) * 10;
                    this.info_favo = this.info[member_ID - 1 - page_count_item];
                    this.$refs.member_popup.classList.remove('none');
                    document.querySelector('body').style.overflow = "hidden";
                },
                // 關掉彈窗
                close_popup(){
                    this.$refs.member_popup.classList.add('none');
                    document.querySelector('body').style.overflow = "auto";
                },
                switch_member(e){
                    if( e.target.checked == true){
                        e.target.nextElementSibling.nextElementSibling.innerHTML = "啟用";
                    }else{
                        e.target.nextElementSibling.nextElementSibling.innerHTML = "停權";
                    }
                },
                save(){
                    let memberID = this.info_favo.ID
                    let point = document.getElementById('pointText').value;
                    // console.log(point);
                    let r = confirm('確定要儲存嗎？');
                    if(r){
                        $.ajax({
                            method: "POST",
                            url: "php/frontpage/member/memberPointUpdate.php",
                            data: {
                                memberID:memberID,
                                point:point
                            },
                            dataType: "text",
                            success: (response) => {
                                this.get_info();
                                this.$refs.member_popup.classList.add('none');
                                document.querySelector('body').style.overflow = "auto";
                            },
                            error: function (exception) {
                                alert("數據載入失敗: " + exception.status);
                            }
                        });

                    }
                },
                
                // 商品名稱關鍵字查詢
                search(){
                    let search_name = this.$refs.search_name.value;
                    // console.log(search_name);
                    if(this.$refs.search_name.value == ""){
                        this.get_info();
                    }else{
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/back_member_search.php",
                            data: {
                                search_name:search_name
                            },
                            dataType: "json",
                            success: (response) => {
                                if(response == "無資料"){
                                    this.info = [];
                                    // return;
                                }else{
                                    // console.log(response);
                                    this.info = response ;
                                    
                                }
                            },
                            error: function (exception) {
                                alert("數據載入失敗: " + exception.status);
                            }
                        });
                    }
                    
                },
                // 頁碼切換
                page_click(page = 1){
                    this.page.current_page = page ;
                    // console.log(this.info_favo);
                    // console.log("aaa");
                    $.ajax({
                        method: "POST",
                        url: "php/backpage/back_member_s.php",
                        data: {
                            page:page
                        },
                        dataType: "json",
                        success: (response) => {
                            // console.log("member");
                            // console.log(response);
                            this.info = response[1] ;
                            // this.page.total_items = response[0][0];
                            // this.page.items_per_page = response[0][1];
                            // this.page.current_page = page ;
                            // console.log(this.page);
                        },
                        error: function (exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                }
            }
        }).mount('#member_back');
    </script>
    
</body>
</html>