<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <title>私廚商品上架</title>
</head>
<body>
    <!-- ============== 缺搜尋BAR ============== -->
    <div class="back_reserve_productManger fulid_wrapper" id="reserve_producetManger">
        <div class="backwrapper"  >
            <header>
                @@include('layout/back_header.html')
            </header>

            <div class="container" >
                <main class="right_content">
                    <section class="section1">
                        <!-- form -->
                        <div class="back_from" >
                            <div class="back_from_title">
                                <h4 class="h4 green-1">私廚商品上架</h4>
                                <div class="dishFunction">
                                    <button class="insert_btn" @click="popOnInsert">新增 菜品/服務</button>
                                    <div class="search">
                                        <div class="search_container_item">
                                          <input type="text" placeholder="商品名查詢" @keydown="search" ref="search_name"/>
                                          <i class="fa-solid fa-magnifying-glass"  @click="search"></i>
                                        </div>
                                    
                                    </div>
                                </div>
                               
                            </div>
                            <div class="back_from_wrapper" ref="data_wrapper">
                                <!-- row-1 -->
                                <div class="grid_container">
                                    <div class="grid_item">商品編號</div>
                                    <div class="grid_item">分類</div>
                                    <div class="grid_item">品名</div>
                                    <div class="grid_item">售價</div>
                                    <!-- <div class="grid_item">庫存</div> -->
                                    <div class="grid_item">狀態</div>
                                </div>
                                <template v-for="set in APIdata.sets">
                                                <div class="grid_container"> 
                                                    <div class="grid_item">Set{{set.id}}</div>
                                                    <div class="grid_item">私廚套餐</div>
                                                    <div class="grid_item">{{set.setName}}</div>
                                                    <div class="grid_item">{{set.price}}</div>
                                                    <div class="grid_item checked" @click="popOnEditSetDatail(set)">查看/編輯</div>
                                                    <!-- <div class="grid_item">
                                                        <label class="switch">
                                                            <input type="checkbox" class="switch_btn" checked>
                                                            <span class="slider"></span>
                                                            <p class="slider_content">上架</p>
                                                        </label>
                                                    </div>  -->
                                                </div>
                                </template>
                                <!-- 渲染單品 -->
                                <template v-for="item in APIdata.other" :key="item.id">
                                    <!-- <p>{{item}}</p> -->
                                    <div class="grid_container" :data-id="item.id">
                                        <div class="grid_item checked" @click="popOnEdit(item)">{{item.id}}</div>
                                        <div class="grid_item">{{item.dishType}}</div>
                                        <div class="grid_item">{{item.dishName}}</div>
                                        <div class="grid_item">${{item.price}}</div>
                                       
                                        <div class="grid_item">
                                            <label class="switch">
                                                <input type="checkbox" class="switch_btn" :checked="item.Condition == 1" @click= changeCondtion(item,$event)>
                                                <span class="slider"></span>
                                                <p class="slider_content" v-if="item.Condition == 1">上架</p>
                                                <p class="slider_content" v-if="item.Condition == 0">下架</p>
                                            </label>
                                        </div>
                                    </div>
                                </template>
                                
                                <!-- 服務 -->
                                <template v-for="item in APIdata.serve" :key="item.id">
                                    <!-- <p>{{item}}</p> -->
                                    <div class="grid_container" :data-id="item.id">
                                        <div class="grid_item checked" @click="popOnEdit(item)">{{item.id}}</div>
                                        <div class="grid_item">{{item.dishType}}</div>
                                        <div class="grid_item">{{item.dishName}}</div>
                                        <div class="grid_item">${{item.price}}</div>
                                       
                                        <div class="grid_item">
                                            <label class="switch">
                                                <input type="checkbox" class="switch_btn" :checked="item.Condition == 1" @click= changeCondtion(item,$event)>
                                                <span class="slider"></span>
                                                <p class="slider_content" v-if="item.Condition == 1">上架</p>
                                                <p class="slider_content" v-if="item.Condition == 0">下架</p>
                                            </label>
                                        </div>
                                    </div>
                                </template>                               
                            </div><!-- wrapper -->
                        </div><!-- back_from -->
                        
                        <!-- 頁碼-->
                        <!-- <div class="page">
                            <ul class="page_ul">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </section><!-- section1 -->
                </main>
                @@include('layout/back_footer.html')
            </div><!-- container --> 
            
        </div>
        <div @click="closePopOn" class="area" :class="[popOnMsg.isEdit ? 'popAllarea':'',popOnInsertMsg.isAdd ? 'popAllarea':'']">
            <div class="pop sevse_dish" v-if="popOnInsertMsg.isAdd == true" @click.stop style="display: none;" :style="popOnInsertMsg.isAdd ?'display:block':'display: none'">  
                <div class="reserve_top">
                    <p>新增私廚單品或服務</p>
                </div>          
                <div class="pop_contaniner">
                    <div class="input">
                        <label for="_name">品名:</label><input type="text" id="_name" v-model="popOnInsertMsg.dishName" ref="i_DishName">
                    </div>
                    <div class="input">
                        <label :for="popOnMsg.id">商品種類:</label>
                        <select :name="popOnMsg.id" :id="popOnMsg.id" v-model.number="popOnInsertMsg.Type" ref="i_Type">
                            <!-- dish Type -->
                            <option value="7" selected>單品</option>
                            <option value="11">服務</option>
                        </select>
                    </div>
                    
                    <div class="input">
                        <label for="_no">編號:</label><input type="text" id="_no" v-model="popOnInsertMsg.id" disabled>
                    </div>
                    <div class="input" v-if="popOnInsertMsg.Type == 11 ">
                        <label for="_intro">簡介:</label><input type="text" id="_intro" v-model="popOnInsertMsg.intro">
                    </div>
                    <div class="input">
                        <label for="_price">價格:</label><input id="_price" v-model.number ="popOnInsertMsg.price"  type="number" ref="i_Price">
                    </div>
                    <button class="section_reserve_btn" @click="clickSaveToInsert()" v-if = "popOnInsertMsg.id !== 'undefined'">儲存</button>
                </div>
            </div>
            <div class="pop sevse_dish" v-if="popOnMsg.isEdit == true" @click.stop style="display: none;" :style="popOnMsg.isEdit ?'display:block':'display: none'">  
                <div class="reserve_top"  @click.stop>
                    <p>新增私廚單品或服務</p>
                </div>          
                <div class="pop_contaniner">
                    <div class="input">
                        <label for="_name">品名:</label><input type="text" id="_name" :value="popOnMsg.dishName" ref="os_DishName">
                    </div>
                    <div class="input">
                        <label :for="popOnMsg.id">狀態:</label>
                        <select :name="popOnMsg.id" :id="popOnMsg.id" :value="popOnMsg.Condition" ref="os_Condtion">
                            <option value="1">上架</option>
                            <option value="0">下架</option>
                        </select>
                    </div>
                    
                    <div class="input">
                        <label for="_no">編號:</label><input type="text" id="_no" :value="popOnMsg.id" disabled>
                    </div>
                    <div class="input">
                        <label for="_price">價格:</label><input id="_price" :value ="popOnMsg.price"  type="number" ref="os_Price">
                    </div>
                    <button class="section_reserve_btn" @click="clickSaveToUpdate(popOnMsg)">儲存</button>
                </div>
            </div>
        </div>
        


        <!-- // 把值給PopOnSet
                        this.popOnSetDetail.id = set.id;
                        this.popOnSetDetail.setName = set.setName;
                        this.popOnSetDetail.price = set.price;
                        this.popOnSetDetail.setName = set.setName;
                        this.popOnSetDetail.IMG = set.IMG;
                        this.popOnSetDetail.dish = set.dish; -->
        <div @click="closePopOn" class="area" :class="[popOnSetDetail.isDisplay ?'popOutsideArea':'']"  style="display:none;" :style="popOnSetDetail.isDisplay? 'display:block':'display: none'">
            <div class="section_reserve" v-if="popOnSetDetail.isDisplay == true" @click.stop>
                <div class="reserve_top">
                    <p>編輯私廚菜單</p>
                    <button class="insert_btn editSet" @click="editSet" ref="editSet">編輯菜單</button>
                </div>
                <div class="reserve_info">
                    <h6>套餐名稱：<input :value="popOnSetDetail.setName " :disabled="!popOnSetDetail.isEdit" ref="setName"></h6>
                    <h6>商品分類：<input value="私廚菜單" disabled></h6>
                    <h6>套餐編號：<input :value="popOnSetDetail.id" disabled></h6>
                    <h6>套餐售價：<input :value="popOnSetDetail.price":disabled="!popOnSetDetail.isEdit" ref="setPrice"> </h6>
                    <div>
                        <input type="file" name="" id="SetIMGInput" v-if="popOnSetDetail.isEdit" @change = "updateSetIMG($event)" ref="SetIMGInput" accept="image/*">
                        <img :src="popOnSetDetail.IMG" alt="" ref="setIMG" class="setDeatailIMG">
                        <!-- <img :src="test" alt="" ref="setIMG" class="setDeatailIMG"> -->
                    </div>
                    
                </div>
                <div class="reserve_type">
                    <ul>
                        <template v-for="(dishList,typeName) in popOnSetDetail.dish">
                            <li>種類：{{typeName}} <span class="addItem" @click="clickInsertSetDish(typeName,popOnSetDetail['id'])">+</span></li>
                            <template v-for="(dish) in dishList" :key="dish.id" :disabled = "!dish.isEdit">
                                <div class="type_content">
                                    <h6 class="number">編號：<input :value="dish.id" disabled></h6>
                                    <h6 class="name">品名：<input :value="dish.dishName" :disabled = "!dish.isEdit" :ref="'name_' + dish.id"> 
                                        <select name="" id="" :value="dish.Condition" :disabled = "!dish.isEdit" :ref="'condition_' + dish.id">
                                            <option value="1">上架</option>
                                            <option value="0">下架</option>
                                        </select>
                                        <span @click="clickSetDishDetail(dish)">
                                            <!-- @click="clickSetDishDetail(dish) -->
                                            <img src="img/back_page/memberDetail.png" alt="" class="pointEdit" id="pointEdit">
                                        </span>
                                    </h6>
                                </div>
                            </template>
                        </template> 
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
        <!-- <script src="js/vender/Vue/vue.global.js"></script> -->
        <script src="js/vender/Vue/vue.global.prod.js"></script>
        <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
        <script>
            const app = Vue.createApp({
            data() {
                return {
                    test:'',
                    APIdata:{
                    },
                    popOnMsg:{
                        isEdit:false,
                    },
                    popOnInsertMsg:{
                        // dishName Type id price
                        isAdd:false,
                        intro:'',
                        id:"",
                        dishName:"",
                        price:300,
                        Type:7,
                    },
                    popOnSetDetail:{
                        isDisplay:false,
                        isEdit:false,
                    }
                };
                },
                computed:{

                },
                methods:{
                    // api start
                   
                    getSetPrice(){
                        fetch('php/reserveAPI/getSetPriceAPI.php')
                        .then(response =>{
                            return response.json();
                        })
                        .then( data =>{
                            // 將套餐資訊放入APIData (圖片,售價,ID...)
                            // console.log(data)
                            data.forEach(el => {
                                // console.log(el)
                                if(!this.APIdata.hasOwnProperty(`sets`)){
                                        this.APIdata.sets = {};
                                }
                                if(this.APIdata.sets.hasOwnProperty(`set${el.id}`)){
                                    this.APIdata[`set${el.id}`] = {};
                                }

                                this.APIdata.sets[`set${el.id}`] = el; 
                                // _this.$nextTick(function () {  
                                //     _this.OrderDetail = {...obj}
                                // });
                            });
                            this.getSetdishDetail();
                        }).catch(err=>{
                            console.log(err)
                        })
                    },

                    // 取得套餐內商品資訊 及 服務資訊
                    getSetdishDetail(){
                        fetch('php/backpage/back_setAPI.php')
                        .then(function(response) {
                            return response.json();
                        })
                        .then((res)=>{
                          
                            res.forEach(data => {
                                // 單品 
                                if(data.SetID == null && data.dishType =="服務"){
                                    // this.APIdata.other
                                    // console.log(data)
                                    if(this.APIdata.serve == undefined){
                                        this.APIdata.serve =[];
                                    }
                                    this.APIdata.serve.push(data);
                                }else{
                                     // 塞A,B,C 套餐資訊
                                   
                                    if(!this.APIdata.sets[`set${data.SetID}`].hasOwnProperty(`dish`)){
                                        this.APIdata.sets[`set${data.SetID}`][`dish`] = {};
                                    }
                                    // console.log(data.dishType)
                                    if(!this.APIdata.sets[`set${data.SetID}`].dish.hasOwnProperty(`${data.dishType}`)){
                                        this.APIdata.sets[`set${data.SetID}`].dish[`${data.dishType}`] =[];
                                    }
                                    this.APIdata.sets[`set${data.SetID}`].dish[`${data.dishType}`].push(data);
                                }
                               
                            })
                            
                        }).catch(error=>{
                            console.log(error)
                        });
                    },

                     // 取得單點商品資訊
                    getOtherDish(){
                        fetch('php/backpage/back_getOtherdish.php')
                            .then(response =>{
                                return  response.json();
                            })
                            .then( data =>{
                                const _this = this
                                // console.log(data)
                                let temp = []
                                if(this.APIdata.other == undefined){
                                        this.APIdata.other =[];
                                }
                                data.forEach((data_el)=>{  
                                    // console.log(data_el.price)
                                    let obj={
                                        id:data_el.id,
                                        dishName:data_el.disName,
                                        dishType:data_el.dishType,
                                        price:data_el.price,
                                        Condition:parseInt(data_el.Condition) 
                                    }
                                    temp.push(obj);
                                
                                })  
                                 _this.APIdata.other = temp
                                
                            }).catch(err=>{
                                console.log(err)
                            })
                    },
                    // 取的食物種類編號,insert 資料會需要
                    getDishTypeInfo(){
                        const _this = this;
                    
                        fetch('php/backpage/back_getDishType.php')
                            .then(response =>{
                                return  response.json();
                            })
                            .then( data =>{

                                if(!_this.APIdata.hasOwnProperty('DishType')){
                                    _this.APIdata.DishType = []
                                }
                                _this.APIdata.DishType.push(...data)
                                   
                            }).catch(err=>{
                                console.log(err)
                            })
                    },

                    // 單品及服務Condition Update
                    updateOrderDishCondition(item){
                        // console.log(item)
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/updateOrderDishCondition.php",
                            data: {
                                MSG:"",
                                ID:item.id,
                                Condition:parseInt(item.Condition)
                            },
                            dataType: "text",
                            success: function (response) {
                                // console.log(response)
                            },
                            error: function (exception) {
                                alert("發生錯誤: " + exception.status);
                            }
                        });
                    },

                    // 單品跟服務詳細更新
                    updateOrderDishDetial(msg,item){
                        const _this = this;
                        // console.log('msg',msg)
                        // console.log('item',item)
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/updateOrderDishCondition.php",
                            data: {
                                MSG:msg,
                                ID:item.id,
                                Name:item.dishName,
                                Condition:parseInt(item.Condition),
                                price:item.price
                            },
                            dataType: "text",
                            success: function (response) {
                
                                if(response ='sucessful'){
                                    // 改變 Vue 塞回原本API資料內
                                    // console.log(`aa`)
                                    for(key in _this.APIdata){ 
                                        if(key === "other" || key === "serve"){
                                            // console.log(key,_this.APIdata[key]);
                                            _this.APIdata[key].forEach((el)=>{
                                                if(el.id === item.id){
                                                    el.dishName = item.dishName
                                                    el.price =item.price
                                                    el.Condition = parseInt(item.Condition) 
                                                }
                                            })
                                        }
                                    }
                                    alert(`資料更新成功`)
                                }
                            },
                            error: function (exception) {
                                alert("發生錯誤: " + exception.status);
                            }
                        });
                    },
                    
                    updateSetDatail(filterdata){
                        // console.log(updatePopDetailData)
                        const _this = this;

                        // 取的上傳團片的圖聘資料內容
                        let files = _this.$refs.SetIMGInput.files[0];

                        // 傳過要編輯的套餐菜品
                        // console.log(filterdata)
                        if(filterdata.length == 0){
                            filterdata='NoSetDishIsEditData';    
                        }

                         // 更新上傳圖片
                         if(files !==undefined && files !== null){
                            let formData = new FormData();
                            formData.append('ProductImage',files);
                            formData.append('ID',parseInt(_this.popOnSetDetail.id));
                            
                            // console.log('update SetID: ',formData.getAll('ProducIDtImage'))
                    
                            $.ajax({            
                                method: "POST",
                                url: "php/backpage/back_SetimageUpload.php",
                                data: formData,
                                // 告訴jQuery不要去處理發送的資料
                                processData : false, 
                                // 告訴jQuery不要去設定Content-Type請求頭
                                contentType : false,   
                                dataType: "text",
                                success: function (response) {
                                    // console.log(response);
                                    _this.popOnSetDetail.IMG = response;
                                    // location.href = 'Product.html';
                                },
                                error: function(exception) {
                                    alert("發生錯誤: " + exception.status);
                                }
                            });  
                        }

                        // 編輯修改菜單及菜品
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/updateSetDatail.php",
                            data: {
                                ID:parseInt(_this.popOnSetDetail.id),
                                SetName:_this.popOnSetDetail.setName,
                                SetPrice:parseInt(_this.popOnSetDetail.price),
                                DishData:filterdata
                                // IMG:updatePopDetailData.IMG
                            },
                            dataType: "text",
                            success: function (response) {
                                
                                if(response =="Sucessful"){
                                    // 更新菜單資訊
                                    _this.popOnSetDetail.setName = _this.$refs.setName.value;
                                    _this.popOnSetDetail.price = _this.$refs.setPrice.value;
                                    // 更新APIData
                                    _this.APIdata.sets[`set${_this.popOnSetDetail.id}`].setName = _this.popOnSetDetail.setName;
                                    _this.APIdata.sets[`set${_this.popOnSetDetail.id}`].price = _this.popOnSetDetail.price;
                                    
                                    for(const key in _this.popOnSetDetail.dish){
                                        _this.popOnSetDetail.dish[key].forEach((el)=>{
                                            if(el.isEdit == true ){
                                                el.isEdit = false;
                                                // console.log('把原本有編輯中資料給取消',el)
                                            } 
                                        })
                                    }
                                    alert('資料更新完成')
                                    // console.log(response)
                                }else{
                                    console.log(response);
                                }
                            },
                            error: function (exception) {
                                alert("發生錯誤: " + exception.status);
                            }
                        });

                       

                    },
                    // 新單多筆筆套餐餐點
                    insertNewSetDatail(insertList){
                        // console.log(`ajax`,insertList)
                        const _this = this;
                        if(insertList.length == 0 ){
                            insertList = 'NoSetDishIsUpdateSData'
                        }
                        // console.log(insertList)
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/insertNewSetDatail.php",
                            data: {
                                data:insertList
                            },
                            dataType: "text",
                            success: function (response) {     
                                _this.getSetPrice();                  
                            },
                            error: function (exception) {
                                alert("發生錯誤: " + exception.status);
                            }
                        });
                    },
                    // 新增一筆服務或單品
                    insertDish(item){
                        // console.log(item.intro)
                        const _this = this;
                        let introStr = item.intro ==undefined ? null : item.intro.trim()
                    
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/insertOrderDish.php",
                            data: {
                                MSG:'oneData',
                                dishName:item.dishName,
                                price:item.price,
                                Type:item.Type,
                                Introduction: introStr
                            },
                            dataType: "text",
                            success: function (response) {
                                // console.log(response);
                                if(!isNaN(response)){
                                    // console.log(`新筆餐點ID為: ${response}`)
                                    _this.popOnInsertMsg.id = parseInt(response);
                                    
                                    // 將資料料塞回APIdata
                                    let temp={
                                        Condition:1,
                                        Introduction:introStr,
                                        SetID:null,
                                        dishName:item.dishName,
                                        id: parseInt(response),
                                        price:item.price
                                    }
                                    if(item.Type == 7){
                                        // 單品
                                        temp.dishType = "單品";
                                        _this.APIdata.other.push(temp)
                                        // console.log( 'other',_this.APIdata.other)
                                    }else{
                                        // 服務
                                        temp.dishType = "服務";
                                        _this.APIdata.serve.push(temp)
                                        // console.log( 'serve',_this.APIdata.serve)
                                    }
                                    // console.log("整理好的物件",temp)
                                    alert(`${item.dishName}資料更新成功`)

                                }
                            },
                            error: function (exception) {
                                alert("發生錯誤: " + exception.status);
                            }
                        });
                    },

                    getNowDishMax(){
                        const _this = this
                        $.ajax({
                                method: "POST",
                                url: "php/backpage/back_getDishMaxPKValue.php",
                                data: {},
                                dataType: "text",
                                success: function (res) {
                                
                                    if(!_this.APIdata.hasOwnProperty('nowPKnum')){
                                        _this.APIdata.nowPKnum = parseInt(res) 
                                        // console.log('現在最大ID為:',_this.APIdata.nowPKnum) 
                                    }else{
                                        _this.APIdata.nowPKnum = parseInt(res)                                
                                        // console.log('第二次以後,現在最大ID為:',_this.APIdata.nowPKnum) 
                                    }
                                },
                                error: function (exception) {
                                    alert("發生錯誤: " + exception.status);
                                }
                        });    
                    },
                    // api end
                    
                    // 單品,服務物品上下架
                    changeCondtion(dish,e){
                        // console.log(e);
                        if(window.confirm('是否要更商品狀態?')){
                            if(dish.Condition ==1){
                                dish.Condition = 0;
                            }else{
                                dish.Condition = 1;
                            } 
                            // updata  Condition API
                            this.updateOrderDishCondition(dish);
                        }else{
                            e.target.checked = parseInt(dish.Condition); 
                        }
                    },
                    
                    // 新增單品及服務
                    popOnInsert(){
                        this.popOnInsertMsg={};
                        this.popOnInsertMsg.isAdd = true;
                        
                        document.querySelector('body').style.overflow = "hidden"
                    },
                    // 編輯單品及服務
                    popOnEdit(item){
                        this.popOnMsg={};
                        this.popOnMsg.isEdit= true;
                        
                        document.querySelector('body').style.overflow = "hidden"
                        
                        this.popOnMsg.id = item.id;
                        this.popOnMsg.dishName = item.dishName;

                        this.popOnMsg.price = parseInt(item.price);
                        this.popOnMsg.Condition = parseInt(item.Condition);
                    },
                    closePopOn(){
                        if(this.popOnSetDetail.isDisplay){
                            // 清除 新增卻沒有Insert的菜品
                            for(const key in this.popOnSetDetail.dish){
                                this.popOnSetDetail.dish[key].forEach((el,idx)=>{
                                    if(el.isEdit && el.id > this.APIdata.nowPKnum){
                                        this.popOnSetDetail.dish[key].splice(idx, 1);
                                        
                                        // console.log(`upadate`,el)
                                        // console.log(`el index: `,idx)
                                    }
                                })                                  
                            }
                        }
                        
                        // Reset Pop Data
                        this.popOnMsg.isEdit = false;
                        this.popOnInsertMsg.isAdd = false;
                        this.popOnSetDetail.isDisplay = false;
                        document.querySelector('body').style.overflow = "auto";   
                        
                        
                    },
                    clickSaveToInsert(){
                        
                        if(window.confirm('有想要更新此筆資料嗎?') ){
                            if(this.popOnInsertMsg.dishName.trim().length > 0){
                                this.insertDish(this.popOnInsertMsg);
                            }else{
                                alert('請輸入品項名,種類,價格皆不得為空值');
                            }
                            
                        }else{
                            this.popOnInsertMsg.id="";
                            this.popOnInsertMsg.dishName="";
                            this.popOnInsertMsg.Type=7;
                            this.popOnInsertMsg.price =300;
      
                        }
                    },
                    // 單品或服務Pop 儲存點擊
                    clickSaveToUpdate(item){
                        //  console.log('beforeValue',item);
                        if(window.confirm('有想要更新此筆資料嗎?')){
                            
                            this.popOnMsg.id = item.id;

                            this.popOnMsg.dishName = this.$refs.os_DishName.value;
                            this.popOnMsg.price = parseInt(this.$refs.os_Price.value);
                            this.popOnMsg.Condition = parseInt(this.$refs.os_Condtion.value) ;

                            
                            // Ajax 更新資料庫
                            this.updateOrderDishDetial('DishDetailUpdate',this.popOnMsg);
                        }else{
                            // 不儲存就回到原來參數
                            this.$refs.os_DishName.value =  item.dishName;
                            this.$refs.os_Condtion.value = parseInt(item.Condition);
                            this.$refs.os_Price.value = item.price;
                        }                        
                    },

                    // 編輯套餐資訊
                    popOnEditSetDatail(set){
                        // console.log(`aa`)
                        this.popOnSetDetail = {}
                        this.popOnSetDetail.isDisplay = true;
                        this.popOnSetDetail.isEdit = false;

                        document.querySelector('body').style.overflow = "hidden";

                        // console.log(set);
                        // 把值給PopOnSet
                        this.popOnSetDetail.id = set.id;
                        this.popOnSetDetail.setName = set.setName;
                        this.popOnSetDetail.price = set.price;
                        this.popOnSetDetail.setName = set.setName;
                        this.popOnSetDetail.IMG = set.IMG;
                        this.popOnSetDetail.dish = set.dish;
                        
                        // 
                        for(let type in  this.popOnSetDetail.dish){
                            this.popOnSetDetail.dish[type].forEach(_dish=>{
                                // console.log(_dish)
                                _dish.isEdit = false
                            })
                        } 

                        this.getNowDishMax();
                        // console.log( this.popOnSetDetail)
                        // isDisplay:false,
                        // isEdit:false,
                    },
                    // 套餐按下編輯菜單
                    editSet(){
                        if( this.popOnSetDetail.isEdit){ 
                            // ref="setName"
                           // ref="setPrice"
                            // ref="setIMG"
                            if(window.confirm(`要儲存套餐新設定嗎?`)){
                                this.$refs.editSet.innerHTML =`編輯菜單`; 
                                this.popOnSetDetail.isEdit =false;

                                // 套資訊
                                this.popOnSetDetail.setName = this.$refs.setName.value;
                                this.popOnSetDetail.price = this.$refs.setPrice.value;
                                
                                // 圖片先掠過
                                // this.popOnSetDetail = this.$refs.setIMG.value

                                // 單品資訊有要更改資套餐菜品
                                let upateDishDetailList = []
                                let insertDishDetailList = []
                                for(const key in this.popOnSetDetail.dish){
                                    this.popOnSetDetail.dish[key].forEach((el)=>{
                                        if(el.isEdit && el.id <= this.APIdata.nowPKnum){
                                            // :ref="'name_' + dish.id">  品名
                                            // :ref="'condition_' + dish.id"> 上下架
                                            
                                            el.Condition = parseInt(this.$refs[`condition_${el.id}`][0].value);
                                            el.dishName = this.$refs[`name_${el.id}`][0].value;

                                            upateDishDetailList.push(el)
                                        }else if(el.isEdit && el.id > this.APIdata.nowPKnum){
                                            el.Condition = parseInt(this.$refs[`condition_${el.id}`][0].value);
                                            el.dishName = this.$refs[`name_${el.id}`][0].value;

                                            insertDishDetailList.push(el)
                                            // console.log(`upadate`,el)
                                        }
                                    })                                  
                                }
                                // 新增菜品
                                this.insertNewSetDatail(insertDishDetailList);
                                // 編輯菜品
                                this.updateSetDatail(upateDishDetailList);
                                
                            }else{
                                // 帶回之前的值
                                this.$refs.setName.value = this.popOnSetDetail.setName;
                                this.$refs.setPrice.value =  this.popOnSetDetail.price;

                                // 帶回之前菜品的值
                                for(const key in this.popOnSetDetail.dish){
                                    this.popOnSetDetail.dish[key].forEach((el)=>{
                                        if(el.isEdit && el.id <= this.APIdata.nowPKnum){
                                            //    :ref="'name_' + dish.id">  品名
                                            //    :ref="'condition_' + dish.id"> 上下架
                                            this.$refs[`condition_${el.id}`][0].value = parseInt(el.Condition);
                                            this.$refs[`name_${el.id}`][0].value = el.dishName;
                                        }else if(el.isEdit && el.id > this.APIdata.nowPKnum){

                                            this.$refs[`condition_${el.id}`][0].value = parseInt(el.Condition);
                                            this.$refs[`name_${el.id}`][0].value =  el.dishName;
                                        }
                                    })                                  
                                }
                            }
                            
                        }else{
                            // console.log(`bb`)
                            if(window.confirm(`確定要編輯此套餐嗎?`)){
                                this.popOnSetDetail.isEdit =true;
                                this.$refs.editSet.innerHTML =`存檔菜單`; 
                                // console.log(`aqq`)
                            }else{
                                for(const key in this.popOnSetDetail.dish){
                                    this.popOnSetDetail.dish[key].forEach((el)=>{
                                        if(el.isEdit){
                                            el.isEdit = false;
                                        }
                                    })                                  
                                }
                            }
                        }
                    },
                    // 點擊套餐編輯按鍵
                    clickSetDishDetail(_dish){        
                        // console.log(_dish)               
                        if(!_dish.isEdit && this.popOnSetDetail.isEdit){
                            _dish.isEdit = true;
                        }else{
                            _dish.isEdit = false;
                        }
                    },
                    // 套餐圖片上傳整理
                    updateSetIMG(e){
                        // const that = this
                        // var formData = new FormData();
                        // let files = this.$refs.SetIMGInput.files[0];
                        // let ID = this.popOnSetDetail.id;
                        
                        // formData.append('ProductImage',files);
                        // formData.append('ID',ID);
                        // // console.log(files)
                        // // console.log(formData)
                        // // console.log('update SetID: ',formData.getAll('ProducIDtImage'))
                    

                        // // 發給後端PHP
                        // $.ajax({            
                        //     method: "POST",
                        //     url: "php/backpage/back_SetimageUpload.php",
                        //     data: formData,
                        //     // 告訴jQuery不要去處理發送的資料
                        //     processData : false, 
                        //     // 告訴jQuery不要去設定Content-Type請求頭
                        //     contentType : false,   
                        //     dataType: "text",
                        //     success: function (response) {
                        //         // console.log(response);
                        //         that.popOnSetDetail.IMG = response;
                        //         // location.href = 'Product.html';
                        //     },
                        //     error: function(exception) {
                        //         alert("發生錯誤: " + exception.status);
                        //     }
                        // });  
                    },
                    // 點擊套餐菜色新增 " + " ICON圖示
                    clickInsertSetDish(type,setID){
                        if(this.popOnSetDetail.isEdit){
                            // console.log('this is:',type)
                            this.getNowDishMax(type,setID)
                            if(window.confirm(`想要新增一筆資料在${type}嗎?`)){
                                // console.log(`append Data in ${type},setID:${setID}`)
                                let _typeID;
                                this.APIdata.DishType.forEach((el)=>{
                                    // console.log(el)
                                    if(el.dishTypeName == type){
                                        _typeID = el.dishTypeID
                                    }
                                })

                                if(!this.APIdata.hasOwnProperty('maxPKnum')){
                                    this.APIdata.maxPKnum = parseInt(this.APIdata.nowPKnum);
                                }
                                
                                let obj = {
                                    Condition:0,
                                    Introduction:null,
                                    SetID:setID,
                                    dishName:"",
                                    dishType:`${type}`,
                                    dishTypeID:_typeID,
                                    id: parseInt(this.APIdata.maxPKnum)+ 1,
                                    isEdit:true,
                                    price:0,
                                };
                                this.APIdata.maxPKnum++;

                                // 新增一個空的菜品套餐裡
                                this.popOnSetDetail.dish[type].push(obj)
                            }
                        }
                    },
                    search(){
                        const _this = this;
                        let search_name = this.$refs.search_name.value.trim();
                        if(search_name !==''){
                            $.ajax({
                            method: "POST",
                            url: "php/backpage/back_reserveProductManger_search.php",
                            data: {
                                search_name : search_name
                            },
                            dataType: "json",
                            success: (response) => {
                                if(response == "無資料"){
                                     this.APIdata.serve = [];
                                     this.APIdata.other = [];
                                    // return;
                                }else{
                                    this.APIdata.serve = [];
                                    this.APIdata.other = [];
                                    // console.log(response);
                                    // this.product = response ;
                                    response.forEach(data=>{
                                        if(data.dishType =='服務'){
                                            this.APIdata.serve.push(data)
                                        }else if(data.dishType =='單品'){
                                            this.APIdata.other.push(data)
                                            
                                        }
                                    })
                                    
                                }
                            },
                            error: function (exception) {
                                alert("數據載入失敗: " + exception.status);
                            }
                        });
                        }
                        else{
                            _this.getSetPrice();
                            _this.getOtherDish();
                        }
                        
                    }
                },

                mounted(){
                    this.getSetPrice();
                    this.getOtherDish();
                    this.getDishTypeInfo();
                    // this.getSetdishDetail();
                }
            });
            app.mount("#reserve_producetManger");
        </script>
</body>
</html>