<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>QA管理</title>
  </head>
  <body>
    <!-- ============== 缺搜尋BAR ============== -->
    <div class="back_common fulid_wrapper">
      <div class="backwrapper">
        <header>@@include('layout/back_header.html')</header>

        <div class="container">
          <main class="right_content">
            <section class="section1">
              <!-- form -->
              <div class="back_from">
                <div class="back_fromTitle">
                  <h4 class="h4 green-1">Q＆A常見問題管理</h4>
                  <div class="search">
                    <div
                      class="insert_btn"
                      style="color: #898989"
                      @click="popon_show"
                    >
                      新增
                    </div>
                    <div class="search_container_item">
                      <input type="text" placeholder="動態查詢..." />
                    </div>
                    <div class="search_container_item">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                  </div>
                </div>
                <div class="back_from_wrapper">
                  <!-- row-1 -->
                  <div class="grid_container">
                    <div class="grid_item">編號</div>
                    <div class="grid_item">類型</div>
                    <div class="grid_item">標題</div>
                    <div class="grid_item">狀態</div>
                    <div class="grid_item">操作</div>
                  </div>

                  <!-- row-2 -->
                  <div
                    class="grid_container"
                    v-for="QA in this.BackQAList"
                    :key="index"
                  >
                    <div class="grid_item">{{QA.ID}}</div>
                    <div class="grid_item">{{QA.Category}}</div>
                    <div class="grid_item">{{QA.QuestionContent}}</div>
                    <div class="grid_item">
                      <label class="switch">
                        <input
                          type="checkbox"
                          class="switch_btn"
                          :checked="QA.Condition == 1"
                          @click="switchToggle(QA, $event)"
                        />
                        <span class="slider"></span>
                        <p class="slider_content" v-if="QA.Condition == 1">
                          上架
                        </p>
                        <p class="slider_content" v-if="QA.Condition == 0">
                          下架
                        </p>
                      </label>
                    </div>
                    <div class="grid_item checked" @click="popon_open(QA)">
                      查閱
                    </div>
                  </div>
                </div>
                <!-- wrapper -->
              </div>
              <!-- back_from -->
            </section>
            <!-- section1 -->
          </main>
          <!-- popon1 start -->
          <div
            id="myModal"
            class="modal"
            v-if="Popon_date.isEdit"
            @click="outsideClose1"
          >
            <!-- 弹窗内容 -->
            <div class="modal-content" @click.stop>
              <div class="QA_back_title">
                <h6>QA管理</h6>
              </div>
              <div class="QA_category">
                <h6>
                  <!-- 電子信箱 : a1235990@gmail.com -->
                  問題類型：{{Popon_date.Category}}
                </h6>
              </div>
              <div class="QA_QuestionContent">
                <div>
                  問題:
                  <h6>{{Popon_date.QuestionContent}}</h6>
                </div>
              </div>
              <div class="QA_AnswerContent">
                <div>
                  回覆:
                  <h6>{{Popon_date.AnswerContent}}</h6>
                </div>
              </div>
              <button class="QA_content_btn" @click="outsideClose1">
                儲存
              </button>
            </div>
          </div>
          <!-- popon1 end -->
          <!-- popon2 start -->
          <div
            id="myModal"
            class="modal"
            v-if="showpopon"
            @click="outsideClose2"
          >
            <div class="modal-content" @click.stop>
              <div class="QA_insert_title">
                <h6>新增問答</h6>
              </div>
              <div class="QA_insert_category">
                <h6>問題類型：</h6>
                <select name="" id="QA_Category">
                  <option value="">私廚預約（預設）</option>
                  <option value="預約流程">預約流程</option>
                  <option value="付款問題">付款問題</option>
                  <option value="租借服務">租借服務</option>
                </select>
              </div>
              <div class="QA_insert_QuestionContent">
                <h6>問題：</h6>
                <textarea
                  id="QA_QuestionContent"
                ></textarea>
              </div>
              <div class="QA_insert_AnswerContent">
                <h6>回覆：</h6>
                <textarea
                  id="QA_AnswerContent"
                  
                ></textarea>
                
                <button
                  class="QA_insert_btn"
                  id="QA_btn"
                  @click="QAajax()"
                >
                  儲存
                </button>
              </div>
            </div>
          </div>
          <!-- popon2 end -->
          @@include('layout/back_footer.html')
        </div>
        <!-- container -->
      </div>
    </div>
    <script src="./js/vender/Vue/vue.global.js"></script>
    <script src="./js/vender/Jquery/jquery-3.6.1.js"></script>

    <script>
      let app1 = Vue.createApp({
        data() {
          return {
            BackQAList: [],
            Popon_date: {
              isEdit: false,
              ReleaseDate: "",
              Category: "",
              QuestionContent: "",
              AnswerContent: "",
              Condition: 0,
            },
            showpopon: false,
          };
        },
        created() {
          this.qarender();
        },
        methods: {
          qarender() {
            let _this = this;

            $.ajax({
              method: "POST",
              url: "php/frontpage/back_common.php",
              data: {},

              dataType: "json",
              success: function (response) {
                // console.log(response);
                response.forEach((element) => {
                  // console.log(element);
                  _this.BackQAList.push(element);
                });
              },
              error: function (exception) {
                alert("發生錯誤: " + exception.status);
              },
            });
            console.log(this.BackQAList);
          },
          updateQACondition(QA) {
            // console.log(QA);
            $.ajax({
              method: "POST",

              url: "./php/backpage/back_common_update.php",

              data: {
                QA_ID: QA.ID,
                QA_Condition: parseInt(QA.Condition),
              },

              dataType: "text",

              success: (response) => {
                console.log(response);
              },

              error: (exception) => {
                alert("數據載入失敗: " + exception.status);
              },
            });
          },
          switchToggle(QA, e) {
            if (window.confirm("是否要更商品狀態?")) {
              if (QA.Condition == 1) {
                QA.Condition = 0;
              } else {
                QA.Condition = 1;
              }
              this.updateQACondition(QA);
            } else {
              // console.log(e.target.checked)
              // console.log(dish.Condition)
              e.target.checked = parseInt(QA.Condition);
            }
          },
          popon_open(QA) {
            // console.log(contact);
            if (!this.Popon_date.isEdit) {
              this.Popon_date = {};
              this.Popon_date.isEdit = true;
              this.Popon_date.Category = QA.Category;
              this.Popon_date.QuestionContent = QA.QuestionContent;
              this.Popon_date.AnswerContent = QA.AnswerContent;
              this.Popon_date.Condition = parseInt(QA.Condition);
            } else {
            }
          },
          popon_show() {
            if (!this.Popon_date.isEdit) {
              this.showpopon = true;
            }
          },
          outsideClose1() {
            console.log(`close`);
            this.Popon_date.isEdit = false;
          },
          outsideClose2() {
            console.log(`close`);
            this.showpopon = false;
          },
          QAajax() {
            let QA_Category = document.getElementById("QA_Category");
            let QA_QuestionContent =
              document.getElementById("QA_QuestionContent");
            let QA_AnswerContent = document.getElementById("QA_AnswerContent");
            let QA_btn = document.getElementById("QA_btn");

            $.ajax({
              method: "POST",
              url: "php/backpage/back_common_insert.php",
              data: {
                Category: QA_Category.value,
                QuestionContent: QA_QuestionContent.value,
                AnswerContent: QA_AnswerContent.value,
              },

              dataType: "text",
              success: function (response) {
                console.log(response);
              },
              error: function (exception) {
                alert("傳送成功: " + exception.status);
              },
            });
          },
        },
      });

      app1.mount(".back_common");
    </script>
  </body>
</html>
