<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <title>商品管理</title>
</head>
<body>
    <!-- ============== 缺搜尋BAR ============== -->
    <div class="back_productManger fulid_wrapper">
        <div class="backwrapper">
            <header>
                @@include('layout/back_header.html')
            </header>

            <div class="container" id="app">
                <main class="right_content">
                    <section class="section1">
                        <!-- form -->
                        <div class="back_from">

                            <div class="title">
                                <h4 class="h4 green-1">商城商品上架</h4>
                                
                                <div class="btn_wrap">
                                    <div class="insert_btn"> 
                                        <p class="font16" @click="openPop()">新增</p>
                                    </div>
                                    <div class="search">
                                        <div class="search_container_item">
                                            <input type="text" placeholder="請輸入商品名稱..." @keyup="search" ref="search_name"/>
                                        </div>
                                        <div class="search_container_item" @click="search">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="back_from_wrapper">
    
                                    <!-- row-1 -->
                                <div class="grid_container">
                                    <div class="grid_item">商品編號</div>
                                    <div class="grid_item">分類</div>
                                    <div class="grid_item">品名</div>
                                    <div class="grid_item">售價</div>
                                    <div class="grid_item">狀態</div>
                                </div>

                                <!-- row-2 -->
                                <div class="grid_container" v-for="item in product" :key="item.ID">
                                    <div class="grid_item checked" @click="popOnEdit(item)">{{ item.ID }}</div>
                                    <div class="grid_item">{{ item.Type }}</div>
                                    <div class="grid_item">{{ item.Name }}</div>
                                    <div class="grid_item">{{ item.Price }}</div>
                                    <div class="grid_item">
                                        <label class="switch">
                                            <input type="checkbox" class="switch_btn" :checked="item.Condition == 1" @click="switchToggle(item, $event)">
                                            <span class="slider"></span>
                                            <p class="slider_content" v-if="item.Condition == 1">上架</p>
                                            <p class="slider_content" v-if="item.Condition == 0">下架</p>
                                        </label>
                                    </div>
                                </div>
                            </div><!-- wrapper -->
                        </div><!-- back_from -->
                        
                        <!-- 頁碼-->
                        <!-- <div class="page">
                            <ul class="page_ul">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </section><!-- section1 -->

                    <div class="product_wrapper fulid_wrapper" v-if="isShow" @click="product_pop_close" :key="popupData.ID">
                        <div class="section_products" @click.stop>
                            <div class="product_top">
                                <p>新增商品</p>
                            </div>
                            <div class="product_main">
                                <div class="product_name">
                                    <h6>商品名稱：<input placeholder="春手毬和菓子(6/25)" v-model="popupData.Name" required ref="Name"></h6>
                                    
                                </div>
                                <div class="product_type">
                                    <h6>商品分類：<select name="" id="" v-model="popupData.Type" required>
                                        <option value="商城主食">商城主食</option>
                                        <option value="商城湯品">商城湯品</option>
                                        <option value="商城甜品">商城甜品</option>
                                    </select></h6>
                                </div>
                                <div class="product_price">
                                    <h6>建議售價：<input placeholder="$700" v-model.number="popupData.Price" required ref="Price"></h6>
                                </div>
                                <div class="product_shopkp">
                                    <h6>重點敘述：</h6>
                                    <textarea v-model.trim="popupData.ShopPoint" placeholder="你可以在這邊輸入有關產品的重點介紹..." maxlength="500" required ref="Price"></textarea>
                                </div>
                                <div class="product_intro">
                                    <h6>詳情簡介：</h6>
                                    <textarea v-model.trim="popupData.Introduction" placeholder="你可以在這邊輸入有關產品的詳細介紹..." maxlength="500" required></textarea>
                                </div>
                                <div class="product_pic">
                                    <label type="button" class="btn">
                                        <span>請選擇3張圖片：</span>
                                        <div class="pic_item">
                                            <div class="inputwrap">
                                                <input type="file" id="ProductImage" multiple @change="changeImage($event)" accept="image/*" ref="ProductImage">
                                                <input type="text" id="imageLoader" disabled="" :placeholder="loadedImage ? loadedImage.name : 'Please choose the file'">
                                            </div>
                                            <img id="output" v-if="ImageResult" :src="ImageResult" :alt="popupData.name">
                                        </div>
                                    </label>    
                                </div>
                                <!-- <div class="product_trans">
                                    <h6>配送方式：</h6>
                                    <h6>白貓宅配 ○</h6>
                                    <h6>超商取貨 ●</h6>
                                </div> -->
                                <button class="product_content_btn" @click="doSubmit(popupData)">儲存</button>
                
                            </div>
                        </div>
                    </div>

                    <!-- ========== 編輯商品 popup ========== -->
                    <div @click="closePopOn" class="area" :class="[popOnMsg.isEdit ? 'popAllarea':'']">
                        <div class="pop sevse_dish" v-if="popOnMsg.isEdit == true" @click.stop style="display: none;" :style="popOnMsg.isEdit ?'display:block':'display: none'">  
                            <div class="reserve_top"  @click.stop>
                                <p>更新商城商品資訊</p>
                            </div>          
                            <div class="pop_contaniner">
                                <div class="input">
                                    <label for="_name">品名:</label><input type="text" id="_name" :value="popOnMsg.Name" ref="os_DishName">
                                </div>
                                <div class="input">
                                    <label :for="popOnMsg.ID">狀態:</label>
                                    <select :name="popOnMsg.ID" :id="popOnMsg.ID" :value="popOnMsg.Condition" ref="os_Condtion">
                                        <option value="1">上架</option>
                                        <option value="0">下架</option>
                                    </select>
                                </div>
                                
                                <div class="input">
                                    <label for="_no">編號:</label><input type="text" id="_no" :value="popOnMsg.ID" disabled>
                                </div>
                                <div class="input">
                                    <label for="_price">價格:</label><input id="_price" :value ="popOnMsg.Price"  type="number" ref="os_Price">
                                </div>
                                <button class="section_reserve_btn" @click="clickSaveToUpdate(popOnMsg)">儲存</button>
                            </div>
                        </div>
                    </div>
                    <!-- ========== 加入商品成功 & 移除商品成功 燈箱 ========== -->
                    <div class="overlay1" :class="{ product_popNone : success_popup ==''}"  v-if="success_popup !== '' ">
                        
                        <article>
                            <div class="check_text">
                                <i class="fa-solid fa-circle-check"></i>
                                <h6>{{success_popup}}</h6> 
                            </div>
                        </article>
                    </div>
                </main>
                @@include('layout/back_footer.html')
            </div><!-- container -->
        </div>
        
        
    </div>
    <script src="js/vender/Vue/vue.global.prod.js"></script>
    <!-- <script src="./js/vender/Vue/vue.global.js"></script> -->
    <script src="./js/vender/Jquery/jquery-3.6.1.js"></script><!-- JQ -->

    <script>
        // Vue
        const app = Vue.createApp({
            data() {
                return {
                    // IMG 判断是否存取
                    loadedImage: null,
                    ImageResult: null,

                    imgData2: "./img/shopmall_img/shopmall_dessert01_1.jpg ./img/shopmall_img/shopmall_dessert01_2.jpg ./img/shopmall_img/shopmall_dessert01_3.jpg",

                    // Ajax的產品資料
                    product: [],

                    // popUp的資料, insert 到資料庫
                    popupData: {
                        Type: '商城主食',
                        Name: "",
                        Price: "",
                        ShopPoint: "",
                        Introduction: "",
                        IMG: null,
                        pushisedDate: Date.now(),
                        Condition: 1
                    },

                    // ========= popUp ========= // 

                    // 控制燈箱
                    isShow: false,

                    // 控制popUp開關
                    success_popup:'',

                    // 加入成功popup
                    success_popup_interval:null,

                    // 編輯popup
                    popOnMsg:{
                        isEdit:false,
                    },
                    popOnSetDetail:{
                        isDisplay:false,
                        isEdit:false,
                    }
                }
            },
            watch: {
                // "popupData.ShopPoint": function(){
                //     console.log(this.popupData.ShopPoint);
                // }
            },
            computed: {
                
            },
            created() {

                // 取得現有商品資料
                this.getCate();

            },
            mounted() {
                
                
            },
            methods: {
                
                // 取得商品清單
                getCate(){    
                    $.ajax({            

                        method: "GET",
                        url: "./php/backpage/back_productManger_s.php",
                        data:{},
                        dataType: "json",
                        success: (response)=> {
                            if(response != ""){
                                console.log(response);
                                for (let i = 0; i < response.length; i++) {
                                    const element = response[i];
                                    // console.log(element.Condition);
                                    // 修改 Type 值
                                    if(response[i].Type == 8 ){
                                        response[i].Type = "主食"
                                    }
                                    else if(response[i].Type == 9 ){
                                        response[i].Type = "湯品"
                                    }
                                    else if(response[i].Type == 10 ){
                                        response[i].Type = "甜品"
                                    };
                                }   
                                
                                // 將資料存到 Vue.Data
                                this.product = response;
                            }                
                        },
                        error: (exception)=> {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },


                // 商品編輯
                popOnEdit(item){
                        this.popOnMsg={};
                        this.popOnMsg.isEdit= true;
                        
                        document.querySelector('body').style.overflow = "hidden"
                        
                        this.popOnMsg.ID = item.ID;
                        this.popOnMsg.Name = item.Name;
                        this.popOnMsg.Price = item.Price;
                        this.popOnMsg.Condition = parseInt(item.Condition);
                    },

                // 編輯狀態關閉
                closePopOn(){
                    this.popOnMsg.isEdit = false;
                    document.querySelector('body').style.overflow = "auto";   
                },

                // 商品Pop 儲存點擊
                clickSaveToUpdate(item){
                    //  console.log('beforeValue',item);
                    if(window.confirm('有想要更新此筆資料嗎?')){
                        
                        this.popOnMsg.ID = item.ID;
                        this.popOnMsg.Name = this.$refs.os_DishName.value;
                        this.popOnMsg.Price = parseInt(this.$refs.os_Price.value);
                        this.popOnMsg.Condition = parseInt(this.$refs.os_Condtion.value) ;

                        
                        // Ajax 更新資料庫
                        this.updateOrderDishDetial('DishDetailUpdate',this.popOnMsg);
                    }else{
                        // 不儲存就回到原來參數
                        this.$refs.os_DishName.value =  item.Name;
                        this.$refs.os_Condtion.value = parseInt(item.Condition);
                        this.$refs.os_Price.value = item.Price;
                    }      

                },

                // 商品更新
                updateOrderDishDetial(msg,item){
                    const _this = this;
                    // console.log(msg, item);
                    // console.log('msg',msg)
                    // console.log('item',item)
                    $.ajax({
                        method: "POST",
                        url: "php/backpage/back_productManger_info_u.php",
                        data: {
                            MSG: msg,
                            ID: item.ID,
                            Name: item.Name,
                            Condition: parseInt(item.Condition),
                            price: item.Price
                        },
                        dataType: "text",
                        success: function (response) {
            
                            if(response ='sucessful'){
                                
                                // 改變 Vue 塞回原本API資料內
                                _this.product.forEach((el)=>{
                                    if(el.ID === item.ID){
                                        el.Name = item.Name;
                                        el.Price =item.Price;
                                        el.Condition = parseInt(item.Condition);
                                    }
                                })

                                // 加入商品成功 popUp
                                _this.success_popup = '更新商品成功'
                                let body = document.querySelector('body');
                                body.style.overflow = "hidden";

                                // PopOn 消失
                                clearInterval(_this.success_popup_interval)
                                _this.success_popup_interval = setInterval(() => {
                                    _this.success_popup= ''
                                    // overfloat: auto
                                    let body = document.querySelector('body');
                                    body.style.overflow = "auto";
                                }, 1000);

                                _this.popOnMsg.isEdit = false;      
                            }
                        },
                        error: function (exception) {
                            alert("發生錯誤: " + exception.status);
                        }
                    });
                },

                // switch update status  （ 上架 == 1 / 下架 == 0 ）
                switchToggle(dish, e){
                    if(window.confirm('是否要更商品狀態?')){
                        if(dish.Condition ==1){
                            dish.Condition = 0;
                        }else{
                            dish.Condition = 1;
                        } 
                        // updata  Condition API
                        this.updateOrderDishCondition(dish);
                    }else{
                        // console.log(e.target.checked)
                        // console.log(dish.Condition)
                        e.target.checked = parseInt(dish.Condition);
                    }
                    
                },

                // switch 更改狀態API
                updateOrderDishCondition(dish){
                    console.log(dish);
                    // 修改資料庫資料
                    $.ajax({            
                        method: "POST",
                        url: "./php/backpage/back_productManger_u.php",
                        data:{
                            dish_ID : dish.ID,
                            dish_Condition : parseInt(dish.Condition)
                        },
                        dataType: "text",
                        success: (response)=> {
                            console.log(response)
                        },
                        error: (exception)=> {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },


                // 點擊 insert 打開 popUp
                openPop(){
                    // 開啟popUp
                    this.isShow = true;

                    // overfloat: hidden
                    let body = document.querySelector('body');
                    body.style.overflow = "hidden";
                },
                
                // 圖片預覽 & 封裝圖片
                changeImage(e) {
                    let that = this;
                    // let imgLists = [];
                    let files = e.target.files;
                    // console.log(files);

                    // 存取圖片提示
                    that.loadedImage = e.target.files[0]
                    
                    // 圖片預覽
                    let reader = new FileReader()
                    reader.onload = function (e) {
                        that.ImageResult = e.target.result;
                    }
                    reader.readAsDataURL(e.target.files[0]);

                },

                // insert IMG API
                insertImg(response){ 
                    console.log(response);
                    const ID = response;
                    // 取的上傳團片的圖聘資料內容
                    const files = this.$refs.ProductImage.files;
                    

                    // // 將圖片封裝到imgData
                    // for (let i = 0; i < files.length; i++) {
                    //     // console.log(files[i]);
                    //     imgLists.push(files[i]);  // imgLists == [{FILE}, {FILE}, {FILE}];
                    //     // console.log(imgLists); 
                    // }

                    // 更新上傳圖片
                    if(files !==undefined && files !== null){
                        let formData =  new FormData();

                        // for (let i = 0; i < imgLists.length; i++) {
                        //     formData.append('ProductImage' + i, imgLists[i]);
                        // }
                        // console.log(files[0]);
                        
                        
                        
                        
                        formData.append('ProductImage1', files[0]);
                        formData.append('ProductImage2', files[1]);
                        formData.append('ProductImage3', files[2]);
                        formData.append('ID', ID);

                        console.log(formData);
                        $.ajax({            
                            method: "POST",
                            url: "php/backpage/back_productManger_i_IMG.php",
                            data: 
                                formData,
                            // 告訴jQuery不要去處理發送的資料
                            processData : false, 
                            // 告訴jQuery不要去設定Content-Type請求頭
                            contentType : false,   
                            dataType: "text",
                            success: (response) => {

                                console.log(response);

                                // 加入商品成功 popUp
                                this.success_popup = '新增商品成功'
                                let body = document.querySelector('body');
                                body.style.overflow = "hidden";

                                // PopOn 消失
                                clearInterval(this.success_popup_interval)
                                this.success_popup_interval = setInterval(() => {
                                    this.success_popup= ''
                                    // overfloat: auto
                                    let body = document.querySelector('body');
                                    body.style.overflow = "auto";
                                }, 1000);
                            },
                            error: function(exception) {
                                alert("發生錯誤: " + exception.status);
                            }
                            
                        }); 

                        // 清空popupData資料
                        this.popupData = {
                            Type: '商城主食',
                            Name: "",
                            Price: "",
                            ShopPoint: "",
                            Introduction: "",
                            IMG: "",
                        }
                        // 關閉popUp
                        this.isShow = false; 
                    }
                },

                // 新增商品資訊
                doSubmit(popupData){
                    // 判斷資料格式是否正確
                    // if (this.popupData.Name == '') {
                    //     alert("請填寫[商品名稱]");
                    //     return false;
                    // }
                    // if (this.popupData.Price == '') {
                    //     alert("請填寫[商品售價]");
                    //     return false;
                    // }

                    // FIXME 如何判斷正確格式
                    // else if(this.popupData.Price !== typeof(Number)){
                    //     alert("請填寫[商品售價]正確格式");
                    //     return false;
                    // }


                    // if (this.popupData.ShopPoint == '') {
                    //     alert("請填寫[商品重點敘述]");
                    //     return false;
                    // }    
                    // if (this.popupData.Introduction == '') {
                    //     alert("請填寫[商品詳細敘述]");
                    //     return false;
                    // }    
                    

                    // 處理 dish_Type 資料格式
                    if(this.popupData.Type == "商城主食" ){
                        this.popupData.Type = 8
                        const dish_Type = this.popupData.Type;
                    }
                    else if(this.popupData.Type == "商城湯品" ){
                        this.popupData.Type = 9
                        const dish_Type = this.popupData.Type;
                    }
                    else if(this.popupData.Type == "商城甜品" ){
                        this.popupData.Type = 10
                        const dish_Type = this.popupData.Type;
                    };
                    
                    // 宣告變數
                    const dish_Type = this.popupData.Type;
                    const dish_Name = this.popupData.Name;
                    const dish_Price = this.popupData.Price;
                    const dish_IMG = this.imgData2;
                    const dish_ShopPoint = this.popupData.ShopPoint;
                    const dish_Introduction = this.popupData.Introduction; 
                    const dish_Condition = this.popupData.Condition; 

                    // console.log(dish_Type); 
                    // console.log(dish_Name);
                    // console.log(dish_Price);
                    // console.log(dish_IMG); // 照片測試資料
                    // console.log(dish_ShopPoint);
                    // console.log(dish_Introduction);


                    $.ajax({            
                        method: "POST",
                        url: "php/backpage/back_productManger_i.php",
                        data:{
                            dish_Type,
                            dish_Name,
                            dish_Price,
                            dish_IMG, // 照片測試資料
                            dish_ShopPoint,
                            dish_Introduction,
                            dish_Condition
                        },            
                        dataType: "json",
                        success: (response)=> {
                                
                                
                                // 改變 Vue 塞回原本API資料內
                                this.product.push(response[0]);
                                
                                // callback img insert
                                // this.insertImg(response);
                                
                                // 加入商品成功 popUp
                                this.success_popup = '新增商品成功'
                                    let body = document.querySelector('body');
                                    body.style.overflow = "hidden";

                                // PopOn 消失
                                clearInterval(this.success_popup_interval)
                                this.success_popup_interval = setInterval(() => {
                                    this.success_popup= ''
                                    // overfloat: auto
                                    let body = document.querySelector('body');
                                    body.style.overflow = "auto";
                                }, 1000);

                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });

                    // 清空popupData資料
                    this.popupData = {
                            Type: '商城主食',
                            Name: "",
                            Price: "",
                            ShopPoint: "",
                            Introduction: "",
                            IMG: "",
                        }
                    // 關閉popUp
                    this.isShow = false; 
                    
                },


                // 點擊 container 關掉 popUp
                product_pop_close(){
                    this.isShow = false;

                    // overfloat: auto
                    let body = document.querySelector('body');
                    body.style.overflow = "auto";

                    // 清空資料
                    this.popupData = {
                        // ID: '', 資料庫設定是autoID
                        Type: '商城主食',
                        Name: "",
                        Price: "",
                        ShopPoint: "",
                        Introduction: "",
                        IMG: "",
                        pushisedDate: Date.now()
                        
                    }
                },

                // 會員名稱關鍵字查詢
                search(){
                    let search_name = this.$refs.search_name.value.trim();
                    // console.log(search_name);
                    if(this.$refs.search_name.value == ""){
                        return;
                    }else{
                        $.ajax({
                            method: "POST",
                            url: "php/backpage/back_productManger_search.php",
                            data: {
                                search_name:search_name
                            },
                            dataType: "json",
                            success: (response) => {
                                if(response == "無資料"){
                                    this.product = [];
                                    // return;
                                }else{
                                    // console.log(response);
                                    this.product = response ;
                                    
                                }
                            },
                            error: function (exception) {
                                alert("數據載入失敗: " + exception.status);
                            }
                        });
                    }
                    
                },
                
                
            },

        });
        const vm = app.mount("#app");
    </script>
</body>
</html>