<!DOCTYPE html>
<html lang="en">

    <head>
        @@include('layout/meta.html', { "title": "私覓SMEET-購物車", })
        <link rel="stylesheet" href="./css/style.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </head>
    <body>
        @@include('layout/header_01.html')
        <main class="wrapper cart_detail" id="cart_detail">
            <!-- 上方123 -->
            <ul class="flow_container">
                <!-- finsh 完成填寫 checked 目前進度 -->
                <li class="flowList " :class="{'checked':process.step >= 1}" flowname="購物車">1</li>
                <li class="flowList " :class="{'checked':process.step >= 2}" flowname="填寫資料">2</li>
                <li class="flowList " :class="{'checked':process.step >= 3}" flowname="訂單完成">3</li>
            </ul>
            <!-- 步驟1中間區塊主要內容=========== -->
            <section class="cart_1_content" v-if="process.step === 1">
                <!-- 購物車商品 -->
                <div class="cart_product" :class="{'cart_open' : process.step === 1 }">
                    <!-- 商品標題 -->
                    <div class="title">
                        <p class="item1">商品資訊</p>
                        <p class="item2">單價</p>
                        <p class="item3">數量</p>
                        <p class="item4">小計</p>
                        <p class="item5"></p>
                    </div>
                       <!-- 沒有訂單 -->
                    <div class="cart_product_nolist none " ref="no_list_Cart" >
                        <i class="fa-solid fa-cart-shopping Camel-1 font18"></i>
                        <p class="no_text Camel-1 font18">購物車目前尚無商品</p>
                    </div>
                    <!-- 商品list -->
                    <div
                        class="product_detail"
                        v-for="(item, i) in inputShoppingData"
                        :key="this.inputShoppingData[i]"
                        v-show="noneList">
                        <div class="item1 green-1">
                            <div class="item1_img">
                                <img :src="item.IMG" alt="">
                            </div>
                            <h6 class="product_name">{{item.Name}}</h6>
                        </div>
                        <div class="item2">
                            <h6>NT$<span class="product_money">{{item.Price}}</span></h6>
                        </div>
                        <div class="item3">
                            <div class="cart_minus_plus">
                                <div class="minus">
                                    <i class="fa-solid fa-minus" @click="dealMinus(item)"></i>
                                </div>
                                <div class="count">{{item.qty}}</div>
                                <div class="plus">
                                    <i class="fa-solid fa-plus" @click="dealPlus(item)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item4">
                            <h6>NT$<span class="product_money_2">{{item.Price * item.qty}}</span></h6>

                        </div>
                        <div class="item5">
                            <i class="fa-regular fa-trash-can" @click="dealDeletePop"></i>
                        </div>
                    </div>

                </div>
                <!-- 會員紅利 -->
                <div class="cart_bonus">
                    <h6>使用紅利點數折抵訂單金額<input
                        type="text"
                        class="enter_bonus"
                        v-model.lazy="orderData.Points"
                        @blur="check_bouns"
                        @keydown="check_bouns"
                        @keyup="check_bouns">{{}}</input>元</h6>
                    <div class="cart_bonus_flex">
                        <p class="all_bonus font16 gray">目前累計會員紅利點數<span class="bouns_1" ref="bouns">{{bouns}}</span>點(<span>{{bouns}}</span>元)
                            <p class="all_bonus_pnone" v-if="show">{{msg}}</p>
                        </div>
                        <!--紅利點數會從資料庫回傳-->
                    </div>
                    <!-- 付款&寄送方式 -->
                    <div class="cart_pay">
                        <div class="pay">
                            <label for="">付款方式</label>
                            <select name="" id="">
                                <option value="">信用卡(支援國內外VISA、Master、JCB)</option>
                            </select>
                        </div>
                        <div class="send">
                            <label for="">寄送方式</label>
                            <select name="" id="">
                                <option value="宅配">宅配</option>
                                <!-- <option value="7-11超商取貨">7-11超商取貨</option> -->
                            </select>
                            <!-- <div class="store_choose font16"> <p>選擇門市</p> <div class="choose">
                            <p>{{shop}}</p> <button type="button" class="inCart_btn1"
                            @click="chooseShop">選擇門市</button> </div> <p class="font12 text
                            gray">當包裹送達您指定之7-11門市時，隔日將會發送簡訊到貨通知。<br>門市純取貨之訂單，收件人務必填寫與身分證上相符的姓名，並攜帶證件至門市領取包裹
                            </p> </div> -->
                        </div>
                    </div>
                    <!-- 商城總計 -->
                    <!-- 總計 -->
                    <div class="total_next">
                        <div class="total_container font16">
                            <div class="item">小計</div>
                            <div class="item">NT$<span id="detail_total">{{cartTotal}}</span></div>
                            <!-- <div class="item">加購價</div> <div class="item">NT$<span
                            id="detail_total">250</span></div> -->
                            <div class="item">紅利點數<span class="spanMinus">-</span></div>
                            <div class="item">NT$<span id="detail_total">{{orderData.Points}}</span></div>
                            <div class="item">總金額
                            </div>
                            <div class="item">NT$<span id="detail_total" >{{orderData.detailTotal}}</span></div>
                        </div>
                        <!-- 下一步按鈕 -->
                        <div class="next_btn btn" @click="changePage(1,$event);toTop();">下一步</div>
                    </div>
                </section>
                <!-- 步驟1中間區塊主要內容結束=========== -->
                <!-- 步驟2中間區塊主要內容=========== -->
                <section class="cart_2_content" v-if="process.step === 2 ">
                    <!-- 購物車商品 -->
                    <div
                        class="cart_product cart_none"
                        :class="{'cart_open' : process.step === 2 }">
                        <!-- 商品標題 -->
                        <div class="title">
                            <p class="item1">商品資訊</p>
                            <p class="item2">單價</p>
                            <p class="item3">數量</p>
                            <p class="item4">小計</p>
                            <p class="item5"></p>
                        </div>
                        <!-- 商品list -->
                        <div   
                            class="product_detail"
                            v-for="(item, i) in inputShoppingData"
                            :key="this.inputShoppingData[i]">
                            <div class="item1 green-1">
                                <div class="item1_img">
                                    <img :src="item.IMG" alt="">

                                </div>

                                <h6 class="product_name">{{item.Name}}</h6>
                            </div>
                            <div class="item2">
                                <h6>NT$<span class="product_money">{{item.Price}}</span></h6>
                            </div>
                            <div class="item3">
                                <div class="count">{{item.qty}}</div>
                            </div>
                            <div class="item4">
                                <h6>NT$<span class="product_money_2">{{item.Price * item.qty}}</span></h6>

                            </div>
                        </div>

                    </div>
                    <!-- 商城總計 -->
                    <!-- 總計 -->
                    <div class="total_container font16">
                        <div class="item">小計</div>
                        <div class="item">NT$<span id="detail_total">{{cartTotal}}</span></div>
                        <!-- <div class="item">加購價</div> <div class="item">NT$<span
                        id="detail_total">250</span></div> -->
                        <div class="item">紅利點數</div>
                        <div class="item">-NT$<span id="detail_total">{{orderData.Points}}</span></div>
                        <div class="item">總金額
                        </div>
                        <div class="item">NT$<span id="detail_total">{{orderData.detailTotal}}</span></div>
                    </div>

                    <!-- 訂購人資訊 -->
                    <div class="cart_info">
                        <!-- 標題 -->
                        <div class="cart_title">
                            <h6 class="green-1">訂購人資訊</h6>
                            <!-- checkbox -->
                            <div class="info_check gray">
                                <input
                                    v-model="firstchecked"
                                   :checked="firstchecked"
                                    type="checkbox"
                                    name="info_check"
                                    id="info_check_yes"
                                    @click="clickClear()"
                                >
                                <label for="info_check">
                                    <!--這裡按了click會帶入會員資料,會員資料是從會員登入後selectDB存在localstorage的陣列-->
                                    <p class="font16">同會員資料</p>
                                </label>
                            </div>
                        </div>
                        <div class="buy_content"  >
                            <label for="">姓名</label>
                            <input type="text" placeholder="請輸入姓名" v-model="orderInfo.name" :disabled="firstchecked == true">
                            <label for="">手機號碼</label>
                            <input type="text" placeholder="請輸入手機號碼" v-model="orderInfo.phone" :disabled="firstchecked == true">
                            <label for="">地址</label>
                            <input type="text" placeholder="請輸入地址" v-model="orderInfo.addr" :disabled="firstchecked == true">
                            <!-- <select name="member_city" class="member_city"> <option value="none"
                            selected="selected" disabled="disabled" hidden="hidden">請選擇縣市</option> </select>
                            <select name="member_area" class="member_area"> <option value="none"
                            selected="selected" disabled="disabled" hidden="hidden">請選擇區域</option> </select>
                            -->

                        </div>
                    </div>
                    <!-- 收件人資訊 -->
                    <div class="cart_info2">
                        <!-- 標題 -->
                        <div class="cart_title">
                            <h6 class="green-1">收件人資訊</h6>
                            <!-- checkbox -->
                            <div class="info_check gray">
                                <input
                                    v-model="secondchecked"
                                    type="checkbox"
                                    name="info_check"
                                    id="info_check_yes"
                                    @click="checkOrderValue"
                                    :disabled="firstchecked == false"
                                   >
                                <label for="info_check">
                                    <p class="font16">同訂購人資料</p>
                                </label>
                            </div>
                        </div>
                        <div class="get_content">
                            <label for="">姓名</label>
                            <input type="text" placeholder="請輸入姓名" v-model="orderData.name" :disabled="secondchecked == true">
                            <label for="">手機號碼</label>
                            <input type="text" placeholder="請輸入手機號碼" v-model="orderData.phone" :disabled="secondchecked == true">
                            <label for="">地址</label>
                            <!-- <select name="member_city" class="member_city"> <option value="none"
                            selected="selected" disabled="disabled" hidden="hidden">請選擇縣市</option> </select>
                            <select name="member_area" class="member_area"> <option value="none"
                            selected="selected" disabled="disabled" hidden="hidden">請選擇區域</option> </select>
                            -->
                            <input
                                type="text"
                                class="member_addr"
                                placeholder="請輸入地址"
                                v-model="orderData.addr"
                                :disabled="secondchecked == true">
                        </div>
                    </div>
                    <!-- 配送/發票 -->
                    <div class="deliver_invoice">
                        <label for="deliver">配送時間</label>
                        <select name="deliver" id="deliver" value="不指定">
                            <option value="不指定">不指定</option>
                            <option value="早">早上(9點-12點)</option>
                            <option value="午">中午(13點-17點)</option>
                            <option value="晚">晚上(18點-21點)</option>
                        </select>
                        <label for="invoice">發票及載具</label>
                        <!--這裡綁定v-model並且設定一個空的data是為了將後續的option的value放進去,並使用v-if達到控制選項的目的-->
                        <select
                            name="invoice"
                            id="invoice"
                            value="不使用載具-索取紙本發票"
                            v-model="orderData.selectedOption"
                            @change="invoice_change()">
                            <!--當選擇紙本時其他兩個option要反灰,其他兩個option一樣-->
                            <option :value="option.value" v-for="option in options">{{option.text}}</option>
                            <!-- <option :value="options.value">電子發票載具</option> <option
                            :value="options.value">開立統一編號</option> -->
                            <!-- <option value="捐贈發票">捐贈發票</option> -->
                        </select>
                        <label for="">電子發票載具</label>
                        <!-- v-bind 設定class的bgc設為gray,pointer-events:none,當option不等2的時候 disabled會取消 -->
                        <input
                            type="text"
                            placeholder="/開頭"
                            :class="{'disabled': orderData.selectedOption !== 'option2'}"
                            v-model="orderData.invoice">
                        <label for="">統一編號</label>
                        <input
                            type="text"
                            placeholder="請輸入統一編號"
                            :class="{'disabled': orderData.selectedOption !== 'option3'}"
                            v-model="orderData.uniform">
                    </div>
                    <!-- 付款資訊 -->
                    <div class="cart_title">
                        <h6 class="green-1">付款資訊<span class="font14 gray title_pay">已選擇支付方式(VISA、Master、JCB)</span></h6>
                    </div>
                    <div class="creditcard_pay">
                        <div class="creditcard_1">
                            <input
                                type="text"
                                placeholder="卡號"
                                minlength="1"
                                maxlength="4"
                                class="creditnumber"
                                @keyup="checkCreditCard($event)"
                                >
                            <input
                                type="text"
                                minlength="1"
                                maxlength="4"
                                class="creditnumber"
                                @keydown="inputCreditCard($event)"
                                @keyup="checkCreditCard($event)"
                             >
                            <input
                                type="text"
                                minlength="1"
                                maxlength="4"
                                class="creditnumber"
                                @keydown="inputCreditCard($event)"
                                @keyup="checkCreditCard($event)"
                                >
                            <input
                                type="text"
                                minlength="1"
                                maxlength="4"
                                class="creditnumber"
                                @keydown="inputCreditCard($event)"
                                @keyup="checkCreditCard($event)">
                        </div>
                        <input type="text" placeholder="持卡人姓名" v-model="orderData.cardName">
                        <div class="creditcard_2">
                            <input type="text" class="creditcard_date" placeholder="有效日期(MM/YY)" v-model="orderData.cardDate">
                            <input type="text" class="creditcard_cvc" placeholder="檢核碼" v-model="orderData.cardCode">
                        </div>

                    </div>
                    <!-- checkbox -->
                        <div class="info_check">
                            <input type="checkbox" name="info_check" id="info_check_yes"  v-model="orderData.agree">
                            <label for="info_check">
                                <p class="font16">我同意接受服務條款 & 隱私權政策。
                                </p>
                            </label>
                        </div>
                    <div class="cart_product_btn">
                        <!-- 下一步按鈕 -->
                        <div class="next_btn" @click="cartDetailAPI();">下一步</div>
                        <!-- 上一步按鈕 -->
                        <div class="prev_btn btn" @click="changePage(-1,$event);toTop()">返回上一步</div>
                    </div>
                    <div class="clear_both"></div>
                </section>
                <!-- 步驟2中間區塊主要內容結束=========== -->
                <!-- 步驟3完成訂單畫面-->
                <section class="cart_3_content" v-if="process.step ===3 ">
                    <div class="cart_content" :class="{'cart_open' : process.step === 3 }">
                        <i class="fa-solid fa-check"></i>
                        <h3>訂單已完成(訂單編號：{{response}})
                        </h3>
                    </div>
                    <div class="btn_flex">
                        <a href="./member.html" class="checkorder_btn">查詢訂單</a>
                        <a href="./shopMall.html" class="checkorder_btn">繼續購物</a>
                    </div>
                </section>
                <!-- 步驟3完成訂單畫面結束=========== -->

                  <!-- ========== 購物車 確認移除商品燈箱 ========== -->
            <div class="overlay_pop"   v-if="isShowPop" style="display: none;" :style ="isShowPop ? 'display:block':'display:none'">
                
                <article>
                    <div class="check_text">
                        <p>請問您確定要刪除這項商品嗎？</p> 
                        <div>
                            <button class="btn_cart" @click="Deletesure">確定</button>
                            <button class="btn_cart" @click="cancelCart">取消</button>
                        </div>
                    </div>
                </article>
            </div>
                <!-- ========== 購物車沒有商品燈箱 ========== -->
                <div class="overlay_pop" style="display: none;" :style ="isShowCart ? 'display:block':'display:none'"  v-if="isShowCart">
                
                    <article>
                        <div class="check_text">
                            <p>你的購物車沒有商品唷~</p> 
                            <div>
                                <button class="btn_cart" @click="goIndexHome">來去逛逛</button>
                               
                            </div>
                        </div>
                    </article>
                </div>
            </main>

            <!-- @@include('layout/footer.html') -->
            <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
            <script src="js/header.js"></script> 
            <script src="js/vender/Vue/vue.global.prod.js"></script>
            <script src="js/frontpage/cart_pop.js"></script>
            <script src="js/frontpage/login.js"></script>
            <script src="js/frontpage/login_check.js"></script>
            <script src="./js/vender/isJS/is.min.js"></script>
  

            <script>
             
                const app = Vue.createApp({

                    data() {
                        return {

                            //控制流程
                            process: {
                                // checked步驟一、二、三加上class
                                step: 1
                            },
                            // 商品list的內->這裡寫死,但之後應該要接從購物車傳進來的值,這裡已經被inputShoppingData的陣列取代,不再使用 product_list
                            // : [ {     id:'1',     product_name:'黑鮪刺身',
                            // img_url:'img/atcart_img/atcart_addp.jpg',     price:'700',     count:'2' }, {
                            // id:'2',     product_name:'北海道海膽壽司',
                            // img_url:'img/atcart_img/Rectangle1.jpg',     price:'750',     count:'1' }, {
                            // id:'3',     product_name:'大黑鮪生魚片',
                            // img_url:'img/atcart_img/Rectangle2.jpg',      url:'./aboutUs.html',
                            // price:'650',     count:'5' }, {     id:'4',     product_name:'北海道松葉蟹蒸蛋',
                            // img_url:'img/atcart_img/atcart_addp.jpg',     price:'700',     count:'3' },
                            // ],

                            // 回傳7-11門市的名稱,目前先將7-11取貨功能取消[沒有使用] shop:'', 回傳紅利點數的金額, 讓input限制最高只能輸入紅利點數的上限
                            // 這裡要接資料庫select後的值
                            bouns: "",

                            //用v-if渲染出若金額大於會員點數會出現紅字
                            msg: '*紅利點數折抵必須小於或等於您目前的會員點數',
                            show: false,

                            //訂購人的資料用get方法 訂購人資訊
                            orderInfo: {
                                name: "",
                                phone: "",
                                addr: ""
                            },

                            //收件人資訊 商城購物車訂單資料,之後要和inputShoppingData的資料一起insert至DB 同收件人資訊
                            orderData: {

                                name: "",
                                phone: "",
                                addr: "",
                                invoice: "",
                                detailTotal:"",
                                Points: 0,
                                selectedOption:"",
                                Email:"",
                                agree:"",
                                member_ID: "",
                                cardName:'',
                                cardDate:'',
                                cardCode:'',

                                cards:[
                                        {},
                                        {},
                                        {},
                                        {}
                                    ],
                            },

                            //商城傳回的資料
                            inputShoppingData: [
                                {
                                    ID:"",
                                    type:"",
                                    qty:"",
                                    price:"",
                                }
                            ],

                            // 1. 同會員資料的內容要藉由取得登入後member_ID到資料庫撈會員資訊
                            // 2. 再用陣列轉字串的方式放到這裡
                            // 3. 再寫一個methods放@click到同會員資料的check後填入memberInfo的資料 同意接受服務條款的v-if
                            // agree: true,

                            // selectedOption: '',
                            // input標籤 v-for渲染
                            options: [
                                {
                                    value: 'option1',
                                    text: '不使用載具-索取紙本發票'
                                }, {
                                    value: 'option2',
                                    text: '電子發票載具'
                                }, {
                                    value: 'option3',
                                    text: '開立統一編號'
                                }
                            ],
                            //取得訂單編號ID
                            response: "" ,

                            //綁定勾選狀態
                            firstchecked : false,
                            secondchecked :"",
                            //控制購物車沒有商品的圖片開關
                            noneList:false,   
                            appearList:true,

                            //控制刪除商品的Popon
                            isShowPop:false,

                            //購物車沒有東西按下一步會跳燈箱
                            isShowCart:false,
                        }
                    },

                    //生命週期
                    created() {
                        this.inputShoppingData = [];
                       
                        let shoppingData = localStorage.getItem("shoppingData");
                        // console.log(shoppingData);
                        if (shoppingData) {
                            this.inputShoppingData = JSON.parse(shoppingData); 
                            // console.log('created',this.inputShoppingData);
                            return this.inputShoppingData;
                        }
                 
                    
                    },

                    mounted() {
                        // console.log(`mounted`,this.inputShoppingData);
                        this.getMemberIDinfo();
                        this.getMallData();
                        
                    },

                    computed: {
                        //小計的所有金額
                        cartTotal() {
                            let cartTotal = 0;
                            if(this.inputShoppingData.length == 0){
                                return parseInt(cartTotal);
                            }
                            for (let i in this.inputShoppingData) {
                                cartTotal += parseInt(this
                                    .inputShoppingData[i]
                                    .Price) * parseInt(this
                                    .inputShoppingData[i]
                                    .qty);
                            }
                            return parseInt(cartTotal);
                        },

                        //總金額=小計+加價購(要再刪掉)-紅利點數
                        detailTotal() {
                     
                            let detailTotal = 0;
                            if(this.inputShoppingData.length == 0){
                                return parseInt(detailTotal);
                            }
                          
                            // console.log(this.cartTotal - this.orderData.Points)
                            this.orderData.detailTotal = parseInt(this.cartTotal) - parseInt(this.orderData.Points);
                            return this.orderData.detailTotal;
                        },
                     
                    },
                    //監控detailTotal的變化
                    watch :{
                        'detailTotal':function(){
                            this.orderData.detailTotal = parseInt(this.cartTotal) - parseInt(this.orderData.Points);
                        },
                    },
                    methods: {
                          //控制流程
                        changePage(val,e) {
                                if(this.inputShoppingData.length == 0){
                                this.isShowCart = true;
                                }else{
                                    this.process.step += val;
                                }

                        },

                        //數量加
                        dealPlus(item) {
                            // console.log(item);
                            item.qty++;
                            // console.log(item.qty);
                            localStorage.setItem("shoppingData", JSON.stringify(this.inputShoppingData));
                  
                           
                        },
                        //數量減
                        dealMinus(item) {
                            // console.log(item);
                            if (item.qty > 1) {
                                item.qty--;
                                localStorage.setItem("shoppingData", JSON.stringify(this.inputShoppingData));
                            
                            }
                        },
                        //點擊垃圾桶會跳出popon
                        dealDeletePop(){
                            this.isShowPop = true
                        },

                        //執行順序
                        async Deletesure(){
                            await this.dealDelete();                            
                            this.reLoad();
                        },
                        //點擊燈箱的確定後會逐一刪除購物車的內容
                        dealDelete(index) {
                            // let that = JSON.parse(localStorage.getItem("shoppingData"));
                            this.isShowPop = false;
                            this.inputShoppingData.splice(index, 1);
                            localStorage.setItem("shoppingData", JSON.stringify(this.inputShoppingData));
                            if(this.inputShoppingData.length == 0){
                            localStorage.removeItem("shoppingData");
                            } 

                            this.ShoppingCartQty();
                        },     

                        ShoppingCartQty(){
                            
                            let car_num = document.getElementById('car_num');
                            
                            const LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) 
                            // console.log(LSGetItem.length);
                            

                            // 如果 this.ShoppingCartList 有商品，就渲染購物車 icon
                            if(LSGetItem == [] || LSGetItem == "" || LSGetItem == null){
                                car_num.innerHTML = "";
                                return ;
                            }else{
                                car_num.classList.remove('none');
                                car_num.innerHTML = LSGetItem.length;
                            }
                        },
                        
                        //重整畫面
                        reLoad(){
                            if(this.inputShoppingData.length == 0){
                            history.go();
                            }
                        },
                        //點選垃圾桶後的取消按鈕會將燈箱關掉
                        cancelCart(){
                            this.isShowPop = false;
                        },
                        //點選來去逛逛的按鈕會回到首頁
                        goIndexHome(){
                            window.location.replace("./index_home.html");
                        },
                        //按下一步或上一步會回到最上方
                        toTop() {
                            if(this.inputShoppingData.length == 0)return
                            window.scrollTo({top: 0, behavior: "smooth"})
                        },
                        //當keyup/keydown的時候觸發的blur事件會 判斷輸入的數字是否大於會員本身的紅利點數
                        check_bouns(e) {
                            //設定當輸入英文字母時會取代為空字串
                            let str = (e.target.value).replace(/\D/g, "");
                            if(str == ""){
                                str = 0 ;
                            }
                            e.target.value = parseInt(str);   
                           
                            //取得目前會員點數的金額
                            let member_bouns = parseInt(this.bouns);
                            if (parseInt(e.target.value) > member_bouns) {
                                this.show = true;
                                // console.log(bounsVal);
                                e.target.value = member_bouns;
                            } else if ((e.which >= 48 && e.which <= 57) || e.which == 8) {
                                // console.log(`ttt`);
                            } else {
                                e.preventDefault();
                            }

                        },
                        //取得會員資料的memberID
                        getMemberIDinfo(){
                            //抓取localStorage的memberID
                            let member_ID = localStorage.getItem("member_ID");
                            this.orderData.member_ID = member_ID;
                            let that = this;

                            if (member_ID) {

                                this.member_ID = member_ID
                                $.ajax({

                                    method: "POST",
                                    url: "php/frontpage/member/member_point.php",
                                    data: {
                                        member_ID: member_ID
                                    },
                                    dataType: "text",
                                    success: function (response) {
                                        // console.log(that.bouns); 取得會員點數並回傳至data的bouns
                                        that.bouns = response;
                                    },
                                    error: function (exception) {
                                        alert("發生錯誤: " + exception.status);
                                    }
                                });

                            } else {
                                //如果沒有抓到membe_ID就踢回首頁
                                location.assign("./index_home.html");

                            }
                            },

                        //判斷進購物車時有沒有抓取商城的data
                        getMallData(){
                            let shoppingData = localStorage.getItem("shoppingData");
                            if (!shoppingData) {
                                this.$nextTick(() => {
                                this.$refs.no_list_Cart.classList.remove("none");
                                this.noneList = false;
                                });
                            }else{
                                this.noneList = true;
                                }
                            
                        },

                       

                        //點擊收件人的[同訂購人資料]會將上方訂購人的資訊帶到下方的input裡
                        checkOrderValue() {
                            if ((this.orderData.name && this.orderData.phone && this.orderData.addr)!=="" ) {
                                this.orderData.name = "";
                                this.orderData.phone = "";
                                this.orderData.addr = "";
                            } else{
                                this.orderData.name = this.orderInfo.name;
                                this.orderData.phone =this.orderInfo.phone;
                                this.orderData.addr  = this.orderInfo.addr;
                            }
                        },
                        //輸入卡號@keydown不能輸入非數字外的資料
                        inputCreditCard(e) {
                            // console.log(idx);
                            if ((e.which >= 48 && e.which <= 57) || e.which == 8) {

                                if ((e.target.value.length == 0 && e.which == 8)) {
                                    // console.log(e.target.previousElementSibling.previousElementSibling);
                                    // if(idx=== 0)return
                                    const previous_el = e.target.previousElementSibling;
                                    // console.log(previous_el);
                                    if (previous_el == null) 
                                        return
                                        // console.log(previous_el);
                                    previous_el.focus();
                                }
                            } else {
                                e.preventDefault();
                            }
                        },

                        ///輸入卡號@keyup檢查輸入的字是否為非數字若為非數字才取代為空字串, 並且輸入完四個數字後會自動跳往下一個input欄位

                        checkCreditCard(e) {
                            // console.log(`ttt`);
                            let str = (e.target.value).replace(/\D/g, "");
                            e.target.value = str;
                            if (str.length == 4) {
                                let next_el = e.target.nextElementSibling;
                                if (next_el != null) {
                                    next_el.focus();
                                }
                            }
                        },

                        //確認收件人資訊的格式
                        // 1. 姓名
                        nameRule(nameStr) {
                            let nameRule = new RegExp('^[\u4e00-\u9fa5]+$|^[a-zA-Z\s]+$');
                            return nameRule.test(nameStr);
                        },

                        // 2.phone
                        phoneRule(str) {
                            let phoneRule = new RegExp("^09\\d{8}$");
                            return phoneRule.test(str);
                        },

                        // 3.address
                        addrRule(str) {
                            let addrRule = new RegExp('^[\u4e00-\u9fa5A-Za-z0-9]+[\u4e00-\u9fa5A-Za-z0-9\s]+[\u4e00-\u9fa5A-Za-z0-9]$')
                            return addrRule.test(str);
                            
                        },
                        //電子發票
                        invoiceRule(str) {
                            let invoiceRule = new RegExp('^/[\dA-Z0-9+-\.]{7}$')
                            return invoiceRule.test(str);
                        },
                        //統一編號格式
                        uniformRule(str) {
                            let uniformRule = new RegExp('/^[0-9]{8}$/');
                            return uniformRule.test(str);
                        },
                        //檢核紅利點數使用時不能超過商品金額
                        checkMemberPoint() {
                            // console.log(`ttt`);
                            if (this.bounsVal > this.cartTotal) {
                                alert(`使用的紅利點數需小於您的商品總金額`)
                            }
                        },

                        checkAgree(){
                            return this.orderData.agress ==="" || this.orderData.agress == false;
                        },
                        //格式驗證 




                        //更換發票及載具的function
                        invoice_change(){
                            if(this.orderData.selectedOption == 'option1'){
                                this.orderData.invoice = 'null';
                                this.orderData.uniform = 'null';
                            }else if(this.orderData.selectedOption == 'option2'){ 
                                this.orderData.invoice = '';
                                this.orderData.uniform = 'null';
                            }else if(this.orderData.selectedOption == 'option3'){
                                this.orderData.uniform = '';
                                this.orderData.invoice = 'null';
                            }
                        },
                        //透過member_ID取得會員資料的總資料,但我只要三筆 (1)name(2)phone (3)address
                        getMemberInfo() {
                            // this.member_ID 是用this指向data的member_ID的值之後, 設定一個較member_ID參數進gerMemberInfo
                            // function使用
                            let member_ID = this.member_ID;
                            // 這裡的this才是function的this
                            const that = this
                            // console.log(member_ID);
                            if (member_ID) {
                                $.ajax({

                                    method: "POST",
                                    url: "php/frontpage/member/member_info.php",
                                    data: {
                                        member_ID: member_ID
                                    },
                                    dataType: "json",
                                    success: function (response) {
                                        // console.log(response[0]); for(let [c,d] of Object.entries(response[0])){
                                        // console.log(`${c}: ${d}`); this.orderInfo[c] = d;
                                        // console.log(response[0].account);
                           
                                        if ((that.orderInfo.name && that.orderInfo.phone && that.orderInfo.addr) === "") {

                                            //設定一個obj
                                            let obj = {
                                                'name': response[0].name,
                                                'phone': response[0].phone,
                                                'addr': response[0].addr,
                                                'Email':response[0].account,
                                            }

                                            that.orderInfo = obj;
                                            that.orderData.Email = response[0].account;
                                            // console.log( that.orderInfo);
                                        } else if((that.orderInfo) !== ""){
                                            that.orderInfo.name = "",
                                            that.orderInfo.phone = "",
                                            that.orderInfo.addr = ""
                               
                                        } 
                                       
                                    },

                                    error: function (exception) {
                                        alert("發生錯誤: " + exception.status);
                                    }
                                })
                            } else {
                                alert("未登入會員");
                            }
                        },
                          
                        //再按一次同會員資料會確定訂購人的input及收件人資訊的Input有無資料,當同時兩個都有資料及會一次清除
                        //若其中一方沒有資料則不會觸發這個function

                        clearInputData() {
                            // console.log(this.orderData.name);
                            // console.log(this.orderData.phone);
                            // console.log(this.orderData.addr);
                           if((this.orderData.name && this.orderData.phone && this.orderData.addr)  !== ""){
                            this.orderData.name = "",
                            this.orderData.phone = "",
                            this.orderData.addr = "",
                            this.secondchecked = false;
                           }
                        },
                        //執行順序
                        async clickClear(){
                            await this.getMemberInfo();
                            this.clearInputData(); 
                        },
                    
                        //change ckeckbox的勾選狀態
                      
                        
                        //執行順序
                        // async sendAPI(){
                        //     await this.cartDetailAPI();
                        //     this.changePage(1,$evnet);
                        // },


                        //購物車訂單送出
                        //所有orderData的資料放進購物車明細,包含商城的data
                        cartDetailAPI() {
                            let that = this;
                            let member_ID = this.member_ID;
                            
                            let check = confirm('確認要送出訂單');

                            //驗證    
                          
                            if(check){
                                // console.log(`ttt`);
                                const self = this

                                let send_data = true;
                             
                                for(const [key, value]of Object.entries(this.orderData)) {
                                    for(const [key, value]of Object.entries(this.orderInfo)){
                                        switch(key) {
                                    
                                    case 'name':
                                    // console.log(key);
                                        if(value.trim().length !== 0 && this.nameRule(this.orderInfo.name)){
                                           this.orderInfo.name = this.orderInfo.name.trim();
                                        }else{
                                           alert(`請輸入訂購人姓名`);
                                           send_data = false;
                                           return;
                                        }
                                        break;
                                    case 'phone':
                                        // console.log(key);
                                        if(this.phoneRule(this.orderInfo.phone)){
                                            // console.log(`手機驗證成功`);
                                        }else{
                                            alert(`請輸入訂購人手機號碼`);

                                            send_data = false;
                                           
                                        }
                                        break;
                                    case 'addr':
                                        // console.log(key)
                                        if(value.trim().length !== 0 && this.addrRule(this.orderInfo.addr)){
                                            // console.log(key);
                                            // console.log('地址驗證成功');

                                         
                                        }else{
                                            alert('請輸入正確的地址');
                                            send_data = false;
                                            return;
                                        }
                                        break;
                                     }
                                    }
                                    switch(key) {
                                    
                                        case 'name':
                                        // console.log(key);
                                            if(value.trim().length !== 0 && this.nameRule(this.orderData.name)){
                                               this.orderData.name = this.orderData.name.trim();
                                            }else{
                                               alert(`請輸入收件人姓名`);
                                               send_data = false;
                                               return;
                                            }
                                            break;
                                        case 'phone':
                                            // console.log(key);
                                            if(this.phoneRule(this.orderData.phone)){
                                                // console.log(`手機驗證成功`);
                                            }else{
                                                alert(`請輸入收件人手機號碼`);

                                                send_data = false;
                                               
                                            }
                                            break;
                                        case 'addr':
                                            // console.log(key)
                                            if(value.trim().length !== 0 && this.addrRule(this.orderData.addr)){
                                                // console.log(key);
                                                // console.log('地址驗證成功');

                                             
                                            }else{
                                                alert('請輸入正確的地址');
                                                send_data = false;
                                                return;

                                            }
                                            break;
                                        case 'invoice':
                                       
                                            if(value.trim().length > 0 && this.orderData.invoice !== 0){
                                                // console.log(`電子發票驗證成功`);
                                            }else{
                                                alert(`請輸入正確的電子發票格式`);
                                                send_data = false;
                                                return;
                                            }
                                            break;
                                        
                                        case 'cardName':
                                            if(value.trim().length > 0 && this.nameRule(this.orderData.cardName)){
                                                // console.log('信用卡名稱驗證成功')
                                                this.orderData.cardName = this.orderData.cardName.trim();
                                        
                                            }else{
                                                // console.log('驗證失敗')
                                                alert("信用卡姓名輸入英文或中文");
                                                send_data = false;
                                                return;
                                            }
                                            break;
                                        case 'cardDate':
                                            if(value.trim().length == 4){
                                                // console.log('信用卡日期驗證成功')
                                            }else{
                                                alert(`請輸入正確信用卡效期格式`)
                                                send_data = false;
                                                return;
                                            }
                                            break;
                                        case 'cardCode':
                                            
                                            if(value.trim().length == 3){
                                                // console.log('信用卡安全碼驗證成功')
      
                                            }else{
                                                // console.log('驗證失敗')
                                                alert(`不符合信用卡安全碼格式，請重寫填寫`);
                                                send_data = false;
                                                return;
                                            }
                                            break;
                                    // }   
                                  }  
                                }

                                if(send_data){
                                    $.ajax({
                                        method: "POST",
                                        url: "php/frontpage/cartDetail.php",
                                        data: {
                                            TotalPrice:that.orderData.detailTotal,
                                            Points:that.orderData.Points,
                                            invoice:that.orderData.invoice,
                                            Email:that.orderData.Email,
                                            addr:that.orderData.addr,
                                            MemberID: that.orderData.member_ID,
                                            name:that.orderData.name,
                                            phone:that.orderData.phone,
                                            shopMallData:that.inputShoppingData,
        
                                            // uniform:that.orderData.uniform
                                        },
                                        dataType: "text",
                                        success: function (response) {
                                            that.response = response;
                                            self.process.step = 3;

                                            // console.log();
                                        },
                                        error: function (exception) {
                                            alert("發生錯誤: " + exception.status);
                                        }
                                    });
                                    localStorage.removeItem("shoppingData");
                                }
                                
                            }


                       
                      
                    }
                
                    }
                
                });

                app.mount("#cart_detail")
            </script>
        </body>
        @@include('layout/footer.html')
    </html>