<!DOCTYPE html>
<html lang="en">

    <head>
        @@include('layout/meta.html', { "title": "私覓SMEET-購物車", })
        <link rel="stylesheet" href="./css/style.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </head>
    <body>
        @@include('layout/header_01.html')
        <main class="wrapper cart_detail" id="cart_detail">
            <!-- 上方123 -->
            <ul class="flow_container">
                <!-- finsh 完成填寫 checked 目前進度 -->
                <li class="flowList " :class="{'checked':process.step >= 1}" flowname="購物車">1</li>
                <li class="flowList " :class="{'checked':process.step >= 2}" flowname="填寫資料">2</li>
                <li class="flowList " :class="{'checked':process.step >= 3}" flowname="訂單完成">3</li>
            </ul>
            <!-- 步驟1中間區塊主要內容=========== -->
            <section class="cart_1_content" v-if="process.step === 1">
                <!-- 購物車商品 -->
                <div class="cart_product"  :class="{'cart_open' : process.step === 1 }">
                    <!-- 商品標題 -->
                    <div class="title">
                        <p class="item1">商品資訊</p>
                        <p class="item2">單價</p>
                        <p class="item3">數量</p>
                        <p class="item4">小計</p>
                        <p class="item5"></p>
                    </div>
                    <!-- 商品list -->
                
                    <div class="product_detail" v-for="(item, i) in inputShoppingData" :key="this.inputShoppingData[i]">
                        <div class="item1 green-1">
                            <div class="item1_img">
                                <img :src="item.IMG" alt="">
                            </div>
                            <h6 class="product_name">{{item.Name}}</h6>
                        </div>
                        <div class="item2">
                            <h6>NT$<span class="product_money">{{item.Price}}</span></h6>
                        </div>
                        <div class="item3">
                            <div class="cart_minus_plus">
                                <div class="minus">
                                    <i class="fa-solid fa-minus" @click="dealMinus(item)"></i>
                                </div>
                                <div class="count">{{item.amount}}</div>
                                <div class="plus">
                                    <i class="fa-solid fa-plus" @click="dealPlus(item)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item4">
                            <h6>NT$<span class="product_money_2">{{item.Price * item.amount}}</span></h6>
 
                        </div>
                        <div class="item5">
                            <i class="fa-regular fa-trash-can" @click=" dealDelete(index)"></i>
                        </div>
                    </div>

                </div>
                <!-- 會員紅利 -->
                <div class="cart_bonus">
                    <h6>使用紅利點數折抵訂單金額<input type="text" class="enter_bonus"  maxlength="3" v-model.lazy="point" @blur="check_bouns" @keydown="check_bouns" @keyup="check_bouns">{{}}</input>元</h6>
                    <div class="cart_bonus_flex">
                        <p class="all_bonus font16 gray">目前累計會員紅利點數<span class="bouns_1" ref="bouns">{{bouns}}</span>點(<span>{{bouns}}</span>元)
                        <p class="all_bonus_pnone" v-if="show">{{msg}}</p>
                    </div>
                        <!--紅利點數會從資料庫回傳-->
                </div>
                <!-- 付款&寄送方式 -->
                <div class="cart_pay">
                    <div class="pay">
                        <label for="">付款方式</label>
                        <select name="" id="">
                            <option value="">信用卡(支援國內外VISA、Master、JCB)</option>
                        </select>
                    </div>
                    <div class="send">
                        <label for="">寄送方式</label>
                        <select name="" id="">
                            <option value="宅配">宅配</option>
                            <!-- <option value="7-11超商取貨">7-11超商取貨</option> -->
                        </select>
                        <!-- <div class="store_choose font16">
                           <p>選擇門市</p> 
                             <div class="choose">
                                <p>{{shop}}</p>
                                <button type="button" class="inCart_btn1" @click="chooseShop">選擇門市</button>
                            </div>
                            <p class="font12 text gray">當包裹送達您指定之7-11門市時，隔日將會發送簡訊到貨通知。<br>門市純取貨之訂單，收件人務必填寫與身分證上相符的姓名，並攜帶證件至門市領取包裹
                            </p>
                        </div> -->
                    </div>
                </div>
                <!-- 商城總計 -->
                <!-- 總計 -->
                <div class="total_next">
                    <div class="total_container font16">
                        <div class="item">小計</div>
                        <div class="item">NT$<span id="detail_total">{{cartTotal}}</span></div>
                        <!-- <div class="item">加購價</div>
                        <div class="item">NT$<span id="detail_total">250</span></div> -->
                        <div class="item">紅利點數</div>
                        <div class="item">-NT$<span id="detail_total">{{point}}</span></div>
                        <div class="item">總金額
                        </div>
                        <div class="item">NT$<span id="detail_total">{{detailTotal}}</span></div>
                    </div>
                    <!-- 下一步按鈕 -->
                    <div class="next_btn btn" @click="changePage(1);toTop()">下一步</div>
                </div>
            </section>
            <!-- 步驟1中間區塊主要內容結束=========== -->
            <!-- 步驟2中間區塊主要內容=========== -->
            <section class="cart_2_content" v-if="process.step === 2 " >
                <!-- 購物車商品 --> 
                <div class="cart_product cart_none" :class="{'cart_open' : process.step === 2 }" >
                    <!-- 商品標題 -->
                    <div class="title">
                        <p class="item1">商品資訊</p>
                        <p class="item2">單價</p>
                        <p class="item3">數量</p>
                        <p class="item4">小計</p>
                        <p class="item5"></p>
                    </div>
                    <!-- 商品list -->
                    <div class="product_detail" v-for="(item, i) in inputShoppingData" :key="this.inputShoppingData[i]">
                        <div class="item1 green-1">
                            <div class="item1_img">
                                <img :src="item.IMG" alt="">
                       
                            </div>
                    
                            <h6 class="product_name">{{item.Name}}</h6>
                        </div>
                        <div class="item2">
                            <h6>NT$<span class="product_money">{{item.Price}}</span></h6>
                        </div>
                        <div class="item3">
                            <div class="count">{{item.amount}}</div>
                        </div>
                        <div class="item4">
                            <h6>NT$<span class="product_money_2">{{item.Price * item.amount}}</span></h6>

                        </div>
                    </div>

                </div>
                <!-- 商城總計 -->
                <!-- 總計 -->
                <div class="total_container font16">
                    <div class="item">小計</div>
                    <div class="item">NT$<span id="detail_total">{{cartTotal}}</span></div>
                    <!-- <div class="item">加購價</div>
                    <div class="item">NT$<span id="detail_total">250</span></div> -->
                    <div class="item">紅利點數</div>
                    <div class="item">-NT$<span id="detail_total" >{{point}}</span></div>
                    <div class="item">總金額
                    </div>
                    <div class="item">NT$<span id="detail_total">{{detailTotal}}</span></div>
                </div>

                <!-- 訂購人資訊 -->
                <div class="cart_info">
                    <!-- 標題 -->
                    <div class="cart_title">
                        <h6 class="green-1">訂購人資訊</h6>
                        <!-- checkbox -->
                        <div class="info_check gray">
                            <input type="checkbox" name="info_check" id="info_check_yes">
                            <label for="info_check" @click=""> 
                                <!--這裡按了click會帶入會員資料,會員資料是從會員登入後selectDB存在localstorage的陣列-->
                                <p class="font16">同會員資料</p>
                            </label>
                        </div>
                    </div>
                    <div class="buy_content">
                        <label for="">姓名</label>
                        <input type="text" placeholder="請輸入姓名" v-model="orderInfo.name">
                        <label for="">手機號碼</label>
                        <input type="text" placeholder="請輸入手機號碼" v-model="orderInfo.phone">
                        <label for="">地址</label>
                        <input type="text" placeholder="請輸入地址"  v-model="orderInfo.address">
                        <!-- <select name="member_city" class="member_city">
                            <option value="none" selected="selected" disabled="disabled" hidden="hidden">請選擇縣市</option>
                        </select>
                        <select name="member_area" class="member_area">
                            <option value="none" selected="selected" disabled="disabled" hidden="hidden">請選擇區域</option>
                        </select> -->
                  
                    </div>
                </div>
                <!-- 收件人資訊 -->
                <div class="cart_info2">
                    <!-- 標題 -->
                    <div class="cart_title">
                        <h6 class="green-1">收件人資訊</h6>
                        <!-- checkbox -->
                        <div class="info_check gray">
                            <input type="checkbox" name="info_check" id="info_check_yes" @click="checkOrderValue">
                            <label for="info_check">
                                <p class="font16" >同訂購人資料</p>
                            </label>
                        </div>
                    </div>
                    <div class="get_content">
                        <label for="">姓名</label>
                        <input type="text" placeholder="請輸入姓名" v-model="reviInfo.name">
                        <label for="" >手機號碼</label>
                        <input type="text" placeholder="請輸入手機號碼" v-model="reviInfo.phone"> 
                        <label for="" >地址</label>
                        <!-- <select name="member_city" class="member_city">
                            <option value="none" selected="selected" disabled="disabled" hidden="hidden">請選擇縣市</option>
                        </select>
                        <select name="member_area" class="member_area">
                            <option value="none" selected="selected" disabled="disabled" hidden="hidden">請選擇區域</option>
                        </select> -->
                        <input type="text" class="member_addr" placeholder="請輸入地址" v-model="reviInfo.address">
                    </div>
                </div>
                <!-- 配送/發票 -->
                <div class="deliver_invoice">
                    <label for="deliver">配送時間</label>
                    <select name="deliver" id="deliver" value="不指定">
                        <option value="不指定">不指定</option>
                        <option value="早">早上(9點-12點)</option>
                        <option value="午">中午(13點-17點)</option>
                        <option value="晚">晚上(18點-21點)</option>
                    </select>
                    <label for="invoice">發票及載具</label>
                    <select name="invoice" id="invoice" value="不使用載具-索取紙本發票" v-model="selectedOption">
                        <!--當選擇紙本時其他兩個option要反灰,其他兩個option一樣-->
                        <option :value="option.value" v-for="option in options">{{option.text}}</option>
                        <!-- <option :value="options.value">電子發票載具</option>
                        <option :value="options.value">開立統一編號</option> -->
                        <!-- <option value="捐贈發票">捐贈發票</option> -->
                    </select>
                    <label for="">電子發票載具</label>
                    <!-- v-bind 設定class的bgc設為gray,pointer-events:none,當option不等2的時候 disabled會取消 -->
                    <input type="text" placeholder="/開頭"  :class="{'disabled': selectedOption !== 'option2'}" type="text">
                    <label for="">統一編號</label>
                    <input type="text" placeholder="請輸入統一編號"  :class="{'disabled': selectedOption !== 'option3'}" type="text">
                </div>
                <!-- 付款資訊 -->
                <div class="cart_title">
                    <h6 class="green-1">付款資訊<span class="font14 gray title_pay">已選擇支付方式(VISA、Master、JCB)</span></h6>
                </div>
                <div class="creditcard_pay">
                    <input type="text" placeholder="卡號">
                    <input type="text" placeholder="持卡人姓名">
                    <div class="creditcard_2">
                        <input type="text" class="creditcard_date" placeholder="有效日期(MM/YY)">
                    <input type="text" class="creditcard_cvc" placeholder="檢核碼">
                    </div>
                    
                </div>
                <!-- checkbox -->
                <div class="info_check">
                    <input type="checkbox" name="info_check" id="info_check_yes" v-if="agree">
                    <label for="info_check">
                        <p class="font16" >我同意接受服務條款 & 隱私權政策。
                        </p>
                    </label>
                </div>
                <div class="cart_product_btn">
                <!-- 下一步按鈕 -->
                    <div class="next_btn" @click="changePage(1)">下一步</div>
                <!-- 上一步按鈕 -->
                    <div class="prev_btn btn" @click="changePage(-1);toTop()">返回上一步</div>
                    </div>
                <div class="clear_both"></div>
            </section>
            <!-- 步驟2中間區塊主要內容結束=========== -->
            <!-- 步驟3完成訂單畫面-->
            <section class="cart_3_content" v-if="process.step ===3 ">
                    <div class="cart_content cart_none" class="{'cart_open' : process.step === 3 }">
                    <i class="fa-solid fa-check"></i>
                    <h3>訂單已完成(訂單編號：202212345678) </h3>
                    </div>
                    <div class="btn_flex">
                        <button class="checkorder_btn">查詢訂單</button>
                        <button class="checkorder_btn">繼續購物</button>
                    </div>
            </section>
            <!-- 步驟3完成訂單畫面結束=========== -->
        </main>

        <!-- @@include('layout/footer.html') -->
        <script src="./js/vender/Vue/vue.global.js"></script>
        <!-- <script src="https://unpkg.com/vue@next" defer></script> -->

        <script>
             const app = Vue.createApp({
            
                data() {
                    return {

                        //控制流程
                        process:{
                            // checked步驟一、二、三加上class
                            step:1,
                        },
                        //商品list的內->這裡寫死,但之後應該要接從購物車傳進來的值,這裡已經被inputShoppingData的陣列取代,不再使用
                        product_list : [
                        
                        {
                            id:'1',
                            product_name:'黑鮪刺身',
                            img_url:'img/atcart_img/atcart_addp.jpg',
                            price:'700',
                            count:'2'
                        },
                        {
                            id:'2',
                            product_name:'北海道海膽壽司',
                            img_url:'img/atcart_img/Rectangle1.jpg',
                            price:'750',
                            count:'1'
                        },
                        {
                            id:'3',
                            product_name:'大黑鮪生魚片',
                            img_url:'img/atcart_img/Rectangle2.jpg',
                            // url:'./aboutUs.html',
                            price:'650',
                            count:'5'
                        },
                        {
                            id:'4',
                            product_name:'北海道松葉蟹蒸蛋',
                            img_url:'img/atcart_img/atcart_addp.jpg',
                            price:'700',
                            count:'3'
                        },
            

                        ],

                        //回傳point的空字串
                        point:'',

                        //回傳7-11門市的名稱,目前先將7-11取貨功能取消[沒有使用]
                        shop:'',

                        //回傳紅利點數的金額,
                        //讓input限制最高只能輸入紅利點數的上限 
                        //這裡要接資料庫select後的值
                        bouns:"",

                        //用v-if渲染出若金額大於會員點數會出現紅字
                        msg:'*紅利點數折抵必須小於或等於您目前的會員點數',
                        show: false,
                   

                        //商城傳回的資料
                        inputShoppingData : [

                            {
                                ID:'',
                                Name:'',
                                IMG:'',
                                Price:'',
                                amount:'',
                                // heart:'',
                                // img2:'',
                                // img3:'',
                            },
                        ],

                        //訂購人的資料用get方法
                        //訂購人資訊
                        orderInfo : [
                            {
                                name: "",
                                phone:"",
                                address:"", 
                            },
                        ],
                        
                        

                        // 1. 同會員資料的內容要藉由取得登入後member_ID到資料庫撈會員資訊
                        // 2. 再用陣列轉字串的方式放到這裡
                        // 3. 再寫一個methods放@click到同會員資料的check後填入memberInfo的資料



                        //收件人資訊
                        reviInfo : [
                            {
                                name: "",
                                phone:"",
                                address:"",
                                deliveryTime:"",
                                invoice:"",
                            },
                        ],

                        //同意接受服務條款的v-if
                        agree:true,

                        selectedOption:'',
                        // input標籤 v-for渲染
                        options : [
                            { 
                                value:'option1', 
                                text:'不使用載具-索取紙本發票',
                            },
                            {
                                value:'option2',
                                text:'電子發票載具',
                            },
                            {
                                value:'option3',
                                text:'開立統一編號',
                            },

                        ],
                   
                       
                    }
                },

            //生命週期
            created () {
                    let shoppingData = localStorage.getItem("shoppingData");
                    // console.log(shoppingData);
                    if (shoppingData) {
                        this.inputShoppingData = JSON.parse(shoppingData);
                        // console.log(this.inputShoppingData);
                    }
           
            },

            mounted() {
                //抓取localStorage的memberID
                let member_ID = localStorage.getItem("member_ID");
                // this.inputShoppingData[0] = shoppingData;
                // console.log(this.inputShoppingData[0]);
                let that = this ;

                //取得會員點數
                $.ajax({
                        
                        method: "POST",
                        url: "php/frontpage/member/member_point.php",
                        data: {
                        member_ID: member_ID,
                        },
                        dataType: "text",
                        success: function (response) {
                            // console.log(that.bouns);
                            that.bouns = response;
                        },
                        error: function (exception) {
                            alert("發生錯誤: " + exception.status);
                        }
                    });

         
                    //如果顧客直接輸入購物車的網址
                        // 1. 進到購物車的畫面要先判斷有沒有登入就跳出沒有登入的alert
                        
                        // 2. 跳回首頁(location."index_home.html")
                        // 3. 再跳出登入popon

            },
            
        
            computed:{
                //小計的所有金額
                cartTotal () {
                    let cartTotal = 0;
                    for(let i in this.inputShoppingData){
                        cartTotal += this.inputShoppingData[i].Price * this.inputShoppingData[i].amount;
                    }
                    return cartTotal;
                },

                //總金額=小計+加價購(要再刪掉)-紅利點數
                detailTotal (){
                    let detailTotal = 0;
                    detailTotal = this.cartTotal-this.point;
                    return detailTotal;
                },
              
                
                
            },
            methods : {
                //換下一步
                changePage(val){
                    this.process.step += val;
                },

                //數量加
                dealPlus(item){
                    // console.log(item);
                    item.amount++;
                },
                 //數量減
                dealMinus(item){
                    // console.log(item);
                    if(item.amount > 1){
                        item.amount--;
                    }
                },
                //刪除點選到的商品 ->垃圾桶
                dealDelete(index){
                    this.inputShoppingData.splice(index,1);
                },
                //選擇門市
                chooseShop(){
                    this.shop = "維群門市";
                },
                //按下一步或上一步會回到最上方
                toTop(){
                    window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                    })
                },
                //當keyup/keydown的時候觸發的blur事件會
                //判斷輸入的數字是否大於會員本身的紅利點數
                check_bouns(e){
                    //設定當輸入英文字母時會取代為空字串
                    let str = (e.target.value).replace(/\D/g, "");
                    e.target.value = str;
                    //取得目前會員點數的金額
                    let bounsVal = e.path[1].nextElementSibling.children[0].firstElementChild.innerText;
                    // console.log(bounsVal);
                    //
                    if(parseInt(e.target.value) > bounsVal){
                    this.show = true; 
                    // console.log(bounsVal);
                    e.target.value = bounsVal
                    }else if((e.which >= 48 && e.which <= 57) || e.which == 8){
                        // console.log(`ttt`);
                    }
                    else {
                        e.preventDefault();
                    }
                },

                //確認訂購人資訊的格式
                  // 1. 姓名 -> 不用檢核格式 , 只要確定不是空值即可
           
                

                //點擊收件人的[同訂購人資料]會將上方訂購人的資訊帶到下方的input裡
                checkOrderValue(){
                    if(this.reviInfo.name && this.reviInfo.phone && this.reviInfo.address){
                        this.reviInfo.name = "";
                        this.reviInfo.phone="";
                        this.reviInfo.address = "";
                    }else{
                        this.reviInfo.name = this.orderInfo.name;
                        this.reviInfo.phone = this.orderInfo.phone;
                        this.reviInfo.address =this.orderInfo.address;
                    }
                },
                changeOption(){
                    if(this.selectedOption === 'disabled'){

                    }

                },
            },
                
        });

            
      

        app.mount("#cart_detail");

        </script>
    </body>

</html>