<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>私廚陣容</title>
        <link rel="icon" href="./img/index_img/logo2-03 1.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">           
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">    
    </head>
    <body>
        @@include('layout/header_01.html')
        <div class="fulid_wrapper chef">
            <div class="banner">
                <div class="wrapper">
                    <h1 class="green-1 font_family_eng">CHEF</h1>
                </div>
                <div class="banner_container swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner1.png" alt=""></div>
                        <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner4.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner5.jpg" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="fulid_wrapper app1">
                <div class="_chef_tab" 
                v-for="(item, index) in chef_tab"
                :key="index"
                >
                    <!------------------------- 廚師長1 ------------------------->
                    <input id="chef1" type="radio" name="chef" checked="checked"/>

                    <label for="chef1">
                        <!-- 立雁杉廚師長 -->
                        {{item.LederName}}
                    </label>
                    
                    <div class="_chef_content " v-if="chef_data === 'chef1'">
                        <div class="_chef_line"></div>
                        <div class="_chef_top">
                            <div class="part1">
                                <div class="part1_img">
                                    <!-- <img src="./img/chefteam_img/chef1.png"> -->
                                    <img :src="item.IMG" alt=""/>
                                    
                                </div>
                                <div class="part1_info">
                                    <h2 class="font_family_eng green-1 font_bold">01</h2>
                                    <h4 class="font_family_tc font_bold green-1">立雁杉 廚師長</h4>
                                    <div class="text1">
                                        <h6>
                                            {{item.LederProfile}}
                                        </h6>
                                        <div class="text2">
                                            <h6 class="text_white">
                                                {{item.LederProfile}}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="_chef_bottom">
                            <div class="_chef_grid">
                               <template  v-for="cheiflist in item.member"> 
                                <div class="_chef_grid_1">
                                    <!-- v-for="cheiflist in item.member" -->
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf1.png" alt=""/>
                                        
                                    </div>
                                    <p>
                                        立雁山&nbsp廚師長
                                    </p>
                                </div>
                            </template>
                                <div class="_chef_grid_2">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf2.png" alt=""/>
                                    </div>
                                    <p>
                                        吳健智&nbsp副主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_3">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf3.png" alt=""/>
                                    </div>
                                    <p>
                                        蔡恕君&nbsp副主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_4">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf4.png" alt=""/>
                                    </div>
                                    <p>
                                        蔡宇亭&nbsp冷盤廚師
                                    </p>
                                </div>
                                <div class="_chef_grid_5">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf5.png" alt=""/>
                                    </div>
                                    <p>
                                        張佳琦&nbsp甜點師
                                    </p>
                                </div>
                                <div class="_chef_grid_6">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf6.png" alt=""/>
                                    </div>
                                    <p>
                                        李藝廷&nbsp行政主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_7">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf7.png" alt=""/>
                                    </div>
                                    <p>
                                        陳早安&nbsp幫廚
                                    </p>
                                </div>
                                <div class="_chef_grid_8">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf8.png" alt=""/>
                                    </div>
                                    <p>
                                        夏午查&nbsp幫廚
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!------------------------- 廚師長2 ------------------------->
                    <!-- <input id="chef2" type="radio" name="chef"/>
                    <label for="chef2">菜雨停廚師長</label>
                    <div class="_chef_content">
                        <div class="_chef_line"></div>
                        <div class="_chef_top">
                            <div class="part1">
                                <div class="part1_img">
                                    <img src="./img/chefteam_img/chef2.png">
                                </div>
                                <div class="part1_info">
                                    <h2 class="font_family_eng green-1 font_bold">02</h2>
                                    <h4 class="font_family_tc font_bold green-1">菜雨停 廚師長</h4>
                                    <div class="text1">
                                        <h6>
                                            秉持面對食材一心一意的嚴謹<br>
                                            翻轉著日系傳統經典的菜色與形式<br>
                                            加入過去師承的日式料理及兒時記憶中的懷舊滋味<br>
                                            細膩原味的正統和食，用心款待的感動時刻<br>
                                            讓每位客人，在最後都能帶著幸福、滿足的笑容離開
                                        </h6>
                                    <div class="text2">
                                        <h6 class="text_white">
                                            秉持面對食材一心一意的嚴謹<br>
                                            翻轉著日系傳統經典的菜色與形式<br>
                                            加入過去師承的日式料理及兒時記憶中的懷舊滋味<br>
                                            細膩原味的正統和食，用心款待的感動時刻<br>
                                            讓每位客人，在最後都能帶著幸福、滿足的笑容離開
                                        </h6>
                                    </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="_chef_bottom">
                            <div class="_chef_grid">
                                <div class="_chef_grid_1">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf9.png" alt=""/>
                                    </div>
                                    <p>
                                        菜雨停&nbsp廚師長
                                    </p>
                                </div>
                                <div class="_chef_grid_2">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf10.png" alt=""/>
                                    </div>
                                    <p>
                                        陳品鞍&nbsp副主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_3">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf11.png" alt=""/>
                                    </div>
                                    <p>
                                        戴秀軒&nbsp副主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_4">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf12.png" alt=""/>
                                    </div>
                                    <p>
                                        初原菌&nbsp冷盤廚師
                                    </p>
                                </div>
                                <div class="_chef_grid_5">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf13.png" alt=""/>
                                    </div>
                                    <p>
                                        陳一璇&nbsp甜點師
                                    </p>
                                </div>
                                <div class="_chef_grid_6">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf14.png" alt=""/>
                                    </div>
                                    <p>
                                        陳幼榕&nbsp行政主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_7">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf15.png" alt=""/>
                                    </div>
                                    <p>
                                        蔡漢頤&nbsp幫廚
                                    </p>
                                </div>
                                <div class="_chef_grid_8">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf16.png" alt=""/>
                                    </div>
                                    <p>
                                        許皓文&nbsp幫廚
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div> -->
                    <!------------------------- 廚師長3 ------------------------->
                    <!-- <input id="chef3" type="radio" name="chef"/>
                    <label for="chef3">吳薦痣廚師長</label>
                    <div class="_chef_content">
                        <div class="_chef_line"></div>
                        <div class="_chef_top">
                            <div class="part1">
                                <div class="part1_img">
                                    <img src="./img/chefteam_img/chef3.png">
                                </div>
                                <div class="part1_info">
                                    <h2 class="font_family_eng green-1 font_bold">03</h2>
                                    <h4 class="font_family_tc font_bold green-1">吳薦痣 廚師長</h4>
                                    <div class="text1">
                                        <h6>
                                            美味來自看不見的細節<br>
                                            料理人們日日嚴守和食之道<br>
                                            展現在對每道菜餚背後的細節與堅持<br>
                                            近百道和食料理，感受來自季節的風土與料理的溫度<br>
                                            全心傾注在這一份華麗、精緻、豪邁又平價的天丼料理中
                                        </h6>
                                    <div class="text2">
                                        <h6 class="text_white">
                                            美味來自看不見的細節<br>
                                            料理人們日日嚴守和食之道<br>
                                            展現在對每道菜餚背後的細節與堅持<br>
                                            近百道和食料理，感受來自季節的風土與料理的溫度<br>
                                            全心傾注在這一份華麗、精緻、豪邁又平價的天丼料理中
                                        </h6>
                                    </div>
                                </div>
                            </div>
                                
                            </div>
                        </div>
                        <div class="_chef_bottom">
                            <div class="_chef_grid">
                                <div class="_chef_grid_1">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf17.png" alt=""/>
                                    </div>
                                    <p>
                                        吳薦痣&nbsp廚師長
                                    </p>
                                </div>
                                <div class="_chef_grid_2">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf18.png" alt=""/>
                                    </div>
                                    <p>
                                        盧顴骨&nbsp副主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_3">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf19.png" alt=""/>
                                    </div>
                                    <p>
                                        陳品猿&nbsp副主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_4">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf20.png" alt=""/>
                                    </div>
                                    <p>
                                        張勝劫&nbsp冷盤廚師
                                    </p>
                                </div>
                                <div class="_chef_grid_5">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf21.png" alt=""/>
                                    </div>
                                    <p>
                                        鍋子寧&nbsp甜點師
                                    </p>
                                </div>
                                <div class="_chef_grid_6">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf22.png" alt=""/>
                                    </div>
                                    <p>
                                        張恩瓶&nbsp行政主廚
                                    </p>
                                </div>
                                <div class="_chef_grid_7">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf23.png" alt=""/>
                                    </div>
                                    <p>
                                        楊子融&nbsp幫廚
                                    </p>
                                </div>
                                <div class="_chef_grid_8">
                                    <div class="content_hidden">
                                        <img src="img/chefteam_img/cf24.png " alt=""/>
                                    </div>
                                    <p>
                                        董怡軍&nbsp幫廚
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div> -->
        </div>
        @@include('layout/serve.html') @@include('layout/footer.html')
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper(".mySwiper", {
              loop: true,
              loopFillGroupWithBlank: true,
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              autoplay:true,
              autoplay: {
                delay: 5000,
                disableOnInteraction: false,
              }
            });
        </script>
        <script>
            

      //---------------------ajax---------------------//
      
      let app1 = Vue.createApp({

        data(){
            return{
                current_tab:"chef",
                chef_tab:[],
                chef_data:'chef1'
            };
        },
        
        mounted(){
            this.chefrender();
            // this.log1();
        },

        methods:{

            chefrender(){
                this.chef_tab=[];
                let _this = this;
                $.ajax({
                    method:"POST/GET",
                    url:"php/fronx`tpage/chefteam.php",
                    data:{},
                    dataType:"json",
                    success:function(response){
                        //更新html內容
                        // $("#result").html(response);
                        // console.log(response);
                        response.forEach(element => {
                            _this.chef_tab.push(element);
                        });
                        console.log(_this.chef_tab);
                    },
                    error:function(exception){
                        alert("發生錯誤: " + exception.status);
                    }
                });
            },
            // chefrender(){
            //     console.log("aaa")
            // },

            // 換至內容
            isChecked(e) {
                if (e) {
                    this.chef_data = e.target.value
                }
            },

        },

    });
    app1.mount(".app1");




                


            //---------------tab---------------//
        //   let member = Vue.createApp({
        //     data(){
        //       return {
        //         // tab
        //         current_tab:"chefs",
        //         member_tab:[

        //           {
        //             team_id:"1",
        //             name:"立雁山",
        //                 img:"",
        //                 desc:'',
        //                 member:[
        //                     {name:'',job:'',title:'',img:''}
        //                 ]
        //           },

        //           {
        //            team_id:"2",
        //             name:"菜雨停",
        //                 img:"",
        //                 desc:'',
        //                 member:[
        //                     {name:'',job:'',title:'',img:''}
        //                 ]
        //           },

        //           {
        //             team_id:"3",
        //             name:"吳薦痣",
        //                 img:"",
        //                 desc:'',
        //                 member:[
        //                     {name:'',job:'',title:'',img:''}
        //                 ]
        //           }

        //         ]}
        //     }   
        // }).mount('#chefs');
             
        
        </script>

    </body>
</html>