<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', { "title": "私覓SMEET-私廚陣容", })
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>私廚陣容</title>
    <link rel="icon" href="./img/index_img/logo2-03 1.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    @@include('layout/header_01.html')
    <div class="fulid_wrapper chef">
        <div class="banner">
            <div class="wrapper">
                <h1 class="green-1 font_family_eng">CHEF</h1>
            </div>
            <div class="banner_container swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner1.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/chefteam_img/team_headbanner5.jpg" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="fulid_wrapper app1">
            <div class="_chef_tab">
        
                
                


                <!-- <template v-for="(item, index) in chef_tab" :key="index"
                    @click="current_tab = item.Type" 
                    :class="{ on_tab : currentTab === item.Type}"> -->
                    <!-- <p>{{item}}</p> -->
                <template v-for="(item, index) in chef_tab" :key="index">
                    <!------------------------- 廚師長1 ------------------------->
                    <input :id="'chef1_' + index" type="radio" name="chef" :checked="index == 0" />
                    <label :for="'chef1_' + index" @click="clicklable(item.ID)">
                        <!-- @click="currentTab = item.ID" -->
                        <!-- :class="{active: currentTab === index}" -->
                        <!-- 立雁杉廚師長 -->
                        {{item.LederName}}&nbsp廚師長
                    </label>
                    <div class="_chef_content">
                        <div class="_chef_line"></div>
                        <div class="_chef_top">
                            <div class="part1">
                                <div class="part1_img">
                                    <!-- <img src="./img/chefteam_img/chef1.png"> -->
                                    <img :src="item.IMG" alt="" />

                                </div>
                                <div class="part1_info">
                                    <h2 class="font_family_eng green-1 font_bold">0{{ item.ID }}</h2>
                                    <h4 class="font_family_tc font_bold green-1">{{item.LederName}}&nbsp廚師長</h4>
                                    <div class="text1">
                                        <h6>
                                            {{item.LederProfile}}
                                        </h6>
                                        <div class="text2">
                                            <h6 class="text_white">
                                                {{item.LederProfile}}
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="_chef_bottom">
                            <div class="_chef_grid">
                                <div class="_chef_grid_1" v-for="(item2, index) in item.team" :key="index">

                                    <div class="content_hidden">
                                        <img :src="item2.IMG" alt="" />
                                        <!-- <img src="img/chefteam_img/cf1.png" alt=""/> -->

                                    </div>
                                    <p>
                                        <!-- 立雁山&nbsp廚師長 -->
                                        {{item2.Name}}&nbsp{{item2.Job}}
                                    </p>
                                </div>

            </div>

            @@include('layout/serve.html') @@include('layout/footer.html')
            <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
            <script src="js/header.js"></script>
            <script src="js/vender/Vue/vue.global.js"></script>
            <script src="js/frontpage/cart_pop.js"></script>
            <script src="https://smtpjs.com/v3/smtp.js"></script>
            <script src="js/frontpage/login.js"></script>
            <script src="js/frontpage/login_check.js"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    autoplay: true,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false,
                    }
                });
            </script>


            <script>
                //---------------------ajax---------------------//

                let app1 = Vue.createApp({

                    data() {
                        return {

                            //----- 廚師長 -----//
                            chef_tab: [],
                            
                            // chef_data: 'chef1',
                            // chef_tab_all: [],    

                            //----- 廚師團隊 -----//
                            chef_bottom: [],

                            currentTab: 1,

                            // 現有分頁的data
                            shopMall_tab:[
                                {
                                    ID:1,
                                    name:"厲燕山"
                                },
                                {
                                    ID:2,
                                    name:"菜雨停"
                                },
                                {
                                    ID:3,
                                    name:"吳薦痣"
                                }
                            ],
                            
                        };
                       
                        
                    },

                    computed: {
                        // ========= 原本菜單陣列依照curren_tab過濾 ========= //
                        filtered_list(){
                            let filtered =  this.chef_tab.filter((post) => {

                            //     console.log(this.current_tab);
                            //     // console.log(post.Type);
                            //     // console.log(this.current_tab == post.Type);
                                
                                return this.currentTab == post.ID;

                            //     // return  post.title.toLowerCase().includes(this.keyword.toLowerCase());
                                
                             });
                            // return filtered
                            
                            // console.log(filtered);
                            // return '1'
                            return filtered

                        }
                    },
        
                    mounted() {
                        this.chefrender();

                    },

                    methods: {
                        
                        clicklable(lableID){
                            this.currentTab = lableID
                            // console.log(lableID);
                        },
                       

                        chefrender() {

                            let _this = this;
                            $.ajax({
                                method: "GET",
                                url: "php/frontpage/chefTeam.php",
                                data: {},
                                dataType: "json",
                                success: function (response) {
                                    //更新html內容
                                    // $("#result").html(response);
                                    // console.log(response);
                                    response.forEach(element => {
                                        if (element.ID == 1) {
                                            //    console.log(element);
                                            _this.chef_tab[0] = element;
                                        };
                                        if (element.ID == 2) {

                                            _this.chef_tab[1] = element;
                                        };
                                        if (element.ID == 3) {

                                            _this.chef_tab[2] = element;
                                        };
                                    });
                                    // console.log(_this.chef_tab);
                                    _this.$nextTick(function () {

                                        let _this = this
                                        // console.log(_this.chef_tab[0]);
                                        _this.chef_tab[0].team = [];
                                        _this.chef_tab[1].team = [];
                                        _this.chef_tab[2].team = [];

                                        $.ajax({
                                            method: "GET",
                                            url: "php/frontpage/chefs.php",
                                            data: {},
                                            dataType: "json",
                                            success: function (response) {

                                                response.forEach(element => {
                                                    if (element.TeamID == 1) {
                                                        // console.log(element);
                                                        _this.chef_tab[0].team.push(element);
                                                    }
                                                    if (element.TeamID == 2) {
                                                        _this.chef_tab[1].team.push(element);
                                                    }
                                                    if (element.TeamID == 3) {
                                                        _this.chef_tab[2].team.push(element);
                                                    }
                                                    // _this.chef_bottom.push(element);

                                                });
                                            },
                                            error: function (exception) {
                                                alert("發生錯誤: " + exception.status);
                                            },

                                        });
                                        ;
                                    })

                                },
                                error: function (exception) {
                                    alert("發生錯誤: " + exception.status);
                                },

                            });
                        },
                    },
                });
                app1.mount(".app1");

            </script>

</body>

</html>