<!DOCTYPE html>
<html lang="en">
    <head>
        @@include('layout/meta.html', { "title": "私覓SMEET", })
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="./img/index_img/logo2-03 1.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    </head>
    <body>
        @@include('layout/header_index.html')
        <!-- @@include('layout/header_01.html') -->
        <div class="fulid_wrapper index" id="app">

            <!--------------------------- 招牌菜單 --------------------------->

            <div class="_index_menu">
                <div class="wrapper">
                    <div class="index_menu_left " data-aos="fade-right" data-aos-duration="2000">
                        <h2 class="font_bold font_family_tc green-1">招牌菜單</h2>
                        <div class="_index_line"></div>
                        <h3 class="red">極炙鮮美&nbsp&nbsp&nbsp岩燒日料</h3>
                        <p>取自取自日本男鹿半島傳統岩燒料理方式<br>
                            天然岩板直火加熱至300度<br>
                            接觸瞬間完美保存食材原汁原味<br>
                            征服您的味蕾<br>
                        </p>
                        <div class="btn_view">
                            <p>查看菜單</p>
                            <span>
                                <p>view</p>
                            </span>
                        </div>
                    </div>
                    <div class="index_menu_right" data-aos="fade-right" data-aos-duration="2000">
                        <img src="./img/index_img/index_hotmenu.jpg" alt="">
                    </div>
                </div>
            </div>

            <!--------------------------- 線上商城 --------------------------->
            <div class="fulid_wrapper index_shop">
                <div class="_index_reserve">
                    <h2 class="font_bold font_family_tc green-1">線上商城</h2>
                    <div class="_index_line"></div>
                </div>
                <div class="swiper mySwiper wrapper">
                    <div class="shop_card swiper-wrapper">
                        <template 
                        v-for="(item, index) in AjaxMealsInfo"
                        :key="item.ID">
                            <!-- <p>{{item}}<p> -->
                            <div class="swiper-slide">
                                <li class="collect_list ">
                                    <a :href="'shopMallDetail.html?ID='+ item.ID">
                                        <div class="product_img">
                                            <img :src="item.IMG[0]" alt=""/>
                                            <!-- <i class="fa-solid fa-heart"></i> -->
                                        </div>
                                        <div class="product_content green-1">
                                            <h6 class="product_title">{{item.Name}}</h6>
                                            <p class="font16">$<span class="product_money">{{item.Price}}</span></p>
                                            <!-- <button type="button" class="cart_link" href="">
                                                <i class="fa-solid fa-cart-shopping" 
                                                @click="shopCar(item.ID, item.Name, item.Price, item.IMG[0], item.heart, item.qty)"
                                                @click.prevent
                                                ></i>
                                            </button> -->
                                        </div>
                                    </a>
                                </li>
                            </div>
                        
                        
                        </template>
                    </div>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>

            <!--------------------------- 預約日程 --------------------------->
            <div class="wrapper index_reserve">
                <div class="_reserve_date" data-aos="fade-left" data-aos-duration="2000">
                    <h2 class="font_bold font_family_tc green-1">預約日程</h2>
                    <div class="_line_box">
                        <div class="_index_line"></div>
                    </div>
                    <div id='calendar'></div>
                </div>
                <div class="btn_view">
                    <p>立即預約</p>
                    <span>
                        <p>view</p>
                    </span>
                </div>
            </div>
            <!--------------------------- 最新動態 --------------------------->
            <div class="_index_news fulid_wrapper">
                <div class="wrapper">
                    <h2 class="font_bold font_family_tc green-1">最新動態</h2>
                    <div class="_index_line"></div>

                    <div class="div_index_newsbox" >

                        <div class="_index_news_left">
                            <img src="./img/index_img/index_news.jpg" alt="">
                        </div>

                        <div class="_index_news_right" > 
                            <ul v-for="News in NewsList" :key="index">
                                <li>
                                    <a class="_news_table">
                                        <p class="font16 news_date red">
                                            <!-- 2022.11.08 -->
                                            {{News.date}}
                                        </p>
                                        <p class="font18 news_title green-2">
                                            <!-- 京都百年老鋪聯名和食旬滋味，打造冬季旬鮮味 -->
                                            {{News.Article}}
                                        </p>
                                    </a>
                                </li>
                                <div class="_news_line"></div>
                                <!-- <li>
                                    <a class="_news_table" href="">
                                        <p class="font16 news_date">2022.10.25</p>
                                        <p class="font18 news_title">中信銀行JCB 日本吉鶴信用卡優惠｜私覓｜消費｜菜品</p>
                                    </a>
                                </li>
                                <div class="_news_line"></div>
                                <li>
                                    <a class="_news_table" href="">
                                        <p class="font16 news_date">2022.10.19</p>
                                        <p class="font18 news_title">【美麗佳人】推薦，最適合拍照的日式視覺饗宴</p>
                                    </a>
                                </li>
                                <div class="_news_line"></div>
                                <li>
                                    <a class="_news_table" href="">
                                        <p class="font16 news_date">2022.09.08</p>
                                        <p class="font18 news_title">10月中秋預定-私密各所有私廚團隊已全數額滿</p>
                                    </a>
                                </li>
                                <div class="_news_line"></div>
                                <li>
                                    <a class="_news_table" href="">
                                        <p class="font16 news_date">2022.08.11</p>
                                        <p class="font18 news_title">MuHUA日本京都抹茶-私覓獨家代理｜限定販售</p>
                                    </a>
                                </li>
                                <div class="_news_line"></div> -->
                            </ul>
                            <div class="btn_more">
                                <p>more</p>
                                <span><i class="fa-sharp fa-solid fa-arrow-right"></i></span>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <!--------------------------- 顧客評價 --------------------------->

            <div class="_index_evaluation wrapper">
                <h2 class="font_bold font_family_tc green-1">顧客評價</h2>
                <div class="_line_box">
                    <div class="_index_line"></div>
                </div>

                <div class="swiper mySwiper2 wrapper">
                    <div class="_index_feeback swiper-wrapper">

                        <div class="_if1 swiper-slide" >
                            <div class="if_img"><img src="./img/index_img/index_feedback1.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">陳O庵</p>
                                <p class="_p12">上週五舉辦孩子的慶生派對，廚師超用心還特製超可愛和菓子，一條龍服務讓家長非常放心。</p>

                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-07-21</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if2 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback2.jpg" alt=""></div>
                            
                            <div class="_if_body">
                                <p class="_p14">吳O痣</p>
                                <p class="_p12">公司要求辦內部聚餐，老闆超滿意這次的餐點，不知道日料也有私廚！海鮮都很鮮甜，超級棒。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-06-15</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if3 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback3.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">蔡O军</p>
                                <p class="_p12">濱崎步廚師超厲害，每一道料理都心意滿滿，無可挑剔！以後都不想吃外面的日本餐廳了。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-11-04</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if2 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback2.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">吳O痣</p>
                                <p class="_p12">公司要求辦內部聚餐，老闆超滿意這次的餐點，不知道日料也有私廚！海鮮都很鮮甜，超級棒。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-06-15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_if1 swiper-slide" >
                            <div class="if_img"><img src="./img/index_img/index_feedback1.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">陳O庵</p>
                                <p class="_p12">上週五舉辦孩子的慶生派對，廚師超用心還特製超可愛和菓子，一條龍服務讓家長非常放心。</p>

                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-07-21</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if2 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback2.jpg" alt=""></div>
                            
                            <div class="_if_body">
                                <p class="_p14">吳O痣</p>
                                <p class="_p12">公司要求辦內部聚餐，老闆超滿意這次的餐點，不知道日料也有私廚！海鮮都很鮮甜，超級棒。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-06-15</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if3 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback3.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">蔡O军</p>
                                <p class="_p12">濱崎步廚師超厲害，每一道料理都心意滿滿，無可挑剔！以後都不想吃外面的日本餐廳了。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-11-04</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if2 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback2.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">吳O痣</p>
                                <p class="_p12">公司要求辦內部聚餐，老闆超滿意這次的餐點，不知道日料也有私廚！海鮮都很鮮甜，超級棒。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-06-15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_if1 swiper-slide" >
                            <div class="if_img"><img src="./img/index_img/index_feedback1.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">陳O庵</p>
                                <p class="_p12">上週五舉辦孩子的慶生派對，廚師超用心還特製超可愛和菓子，一條龍服務讓家長非常放心。</p>

                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-07-21</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if2 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback2.jpg" alt=""></div>
                            
                            <div class="_if_body">
                                <p class="_p14">吳O痣</p>
                                <p class="_p12">公司要求辦內部聚餐，老闆超滿意這次的餐點，不知道日料也有私廚！海鮮都很鮮甜，超級棒。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-06-15</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if3 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback3.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">蔡O军</p>
                                <p class="_p12">濱崎步廚師超厲害，每一道料理都心意滿滿，無可挑剔！以後都不想吃外面的日本餐廳了。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-11-04</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_if2 swiper-slide">
                            <div class="if_img"><img src="./img/index_img/index_feedback2.jpg" alt=""></div>
                            <div class="_if_body">
                                <p class="_p14">吳O痣</p>
                                <p class="_p12">公司要求辦內部聚餐，老闆超滿意這次的餐點，不知道日料也有私廚！海鮮都很鮮甜，超級棒。</p>
                                <div class="_if_bottom">
                                    <p class="_p12">顧客評價:</p>
                                    <div class="_star">
                                        <div class="_ratings">
                                            <div class="_empty_star">★★★★★</div>
                                            <div class="_full_star2">★★★★★</div>
                                        </div>
                                        <div class="_star_line"></div>
                                        <p class="_p12">2022-06-15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- <div class="Swiper-pagination"></div> -->
                </div>
            </div>
        </div>
    </div> 
    @@include('layout/serve.html') @@include('layout/footer.html')
    <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
    <script src="js/header.js"></script>
    <script src="js/index_header.js"></script>
    <script src="js/vender/Vue/vue.global.js"></script>
    <script src="js/frontpage/cart_pop.js"></script>
    <script src="js/frontpage/login.js"></script>
    <script src="js/frontpage/login_check.js"></script>
    <script src="js/frontpage/index_login.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha512-ZHauUc/vByS6JUz/Hl1o8s2kd4QJVLAbkz8clgjtbKUJT+AG1c735aMtVLJftKQYo+LD62QryvoNa+uqy+rCHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Initialize Swiper -->

    <!-- Vue -->
    <script src="./js/vender/Vue/vue.global.js"></script>
    <!-- Jquery -->
    <script src="./js/vender/Jquery/jquery-3.6.1.js"></script>
    <!-- Calender -->
    <script src="./js/vender/calender/calender.js"></script>
    <script src="./js/vender/calender/index.global.js"></script>
    <!-- 頁面動畫 -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

     <script>
        
        //---------------------菜品評價---------------------//

    //   var swiper = new Swiper(".mySwiper", {
    //     breakpoints: {
    //         slidesPerGroup: 4,
    //         720: {
    //             slidesPerGroup: 4,
    //         },
    //         428: {
    //             slidesPerGroup: 3,
    //         },
    //         1: {
    //             slidesPerGroup: 2,
    //         }
    //     },
    //     slidesPerView: 'auto',
    //     loop: true,
    //     loopFillGroupWithBlank: true,
    //     pagination: {
    //       el: ".swiper-pagination",
    //       clickable: true,
    //     },
    //   });
      
      //---------------------顧客評價輪播---------------------//
      
      var swiper = new Swiper(".mySwiper2", {
        slidesPerView: 'auto',
        slidesPerGroup: 1,
      });

      //---------------------ajax---------------------//

    //   $.ajax({
    //     method:"GET",
    //     url:"php/frontpage/index_shop.php",
    //     data:{},
    //     dataType:"text",
    //     success:function(response){
    //         //更新html內容
    //         $("#result").html(response);
    //     },
    //     error:function(exception){
    //         alert("發生錯誤: " + exception.status);
    //     }
    //   });



    // -----------------------------------Vue--------------------------------------- //
    
    const app = Vue.createApp({

        data(){

            return{

            // ----------- 商城 ----------- //
                popupData: {
                    ID: "",
                    IMG: "",
                    Name: "",
                    Price: "",
                    heart: "",
                    qty: "",
                },      
                MealsInfo: [],
                AjaxMealsInfo: [],

                // ----------- 消息 ----------- //
                NewsList: [],
            
                // ----------- Calender ----------- //

            };

        },

        created(){

            // ----------- 商城 ----------- //
            window.addEventListener("popstate", function () {
                // 第二步，加上 tab_active 函式
                member.page();
                // console.log('aaa');
            });

            // ----------- 消息 ----------- //
            this.newsrender();

        },

        mounted(){
            // 主要商品data AJAX 傳入
            this.getCate();
        },

        methods:{

            // ----------- 商城 ----------- //
            getCate(){    

                $.ajax({            

                    method: "GET",
                    url: "./php/frontpage/index_shop.php",
                    data:{},
                    dataType: "json",
                    success: (response)=> {
                        if(response != ""){
                            // console.log(response);

                            // 將qty及heart資料帶入，變成新陣列
                            const adjusted_res = response.map((x) => {
                                x.heart = false
                                x.qty = 0  // 預設值: 在消費者行為前為 0
                                return x
                            });
                            // 調整後的data 回傳到 AjaxMealsInfo 陣列
                            this.AjaxMealsInfo = adjusted_res;
                            // console.log(this.AjaxMealsInfo);
                                    
                            // 將三張 img 轉陣列並塞回 data
                            let xxx = this.AjaxMealsInfo;
                            for(let i =0; i < xxx.length; i++){

                                // 將img存到新陣列
                                let img = this.AjaxMealsInfo[i].IMG
                                        
                                const imgs = img.split(" ");

                                // 回傳AjaxMealsInfo
                                this.AjaxMealsInfo[i].IMG = imgs
                                // console.log(this.AjaxMealsInfo[i].IMG);
                            }
                            // console.log("123");
                            // console.log(this.AjaxMealsInfo);
                                    
                            // this.selectCollections();
                        }                
                    },
                    error: (exception)=> {
                        alert("數據載入失敗: " + exception.status);
                    }
                });
            },
            
            // ----------- 消息 ----------- //

            newsrender() {
                let _this = this;

                $.ajax({
                    method: "POST",
                    url: "php/frontpage/index_news.php",
                    data: {},
                    dataType: "json",
                    success: function (response) {
                        // console.log(response);
                        response.forEach(element => {

                            if(element.date){
                                // console.log('before',element.date)
                                let temp = element.date.substr(0, 10)
                                // console.log('after',temp)
                                element.date  = temp
                            }
                            _this.NewsList.push(element);
                        });
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    },
                })
            },
        }
    });
    const vm = app.mount('#app')

</script> 

</body>
</html>