<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('layout/meta.html', { "title":"私覓SMEET-會員中心" })
    <link rel="stylesheet" href="css/style.css" />
    <!-- fontawesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    @@include('layout/header_01.html')
    <div class="fulid_wrapper member" id="member">
      <main>
        
        <!-- MEMBER標題 -->
        <h1 class="green-1 font_family_eng">MEMBER</h1>
        <!-- 會員中心標題 -->
        <div class="member_title">
          <h2 class="green-1 font_bold font_family_tc">會員中心</h2>
        </div>
        <!-- tabbbbbbbbbb -->
        <nav class="member_tab">
          <ul class="font16 Camel-1">
            <template v-for="tab in member_tab">
              <li >
                <a :class="[{ now: current_tab == tab.id }, tab.member_tab_4 ]" @click="current_tab = tab.id ; tab_page(); ">{{ tab.name }} 
                  <span :id="tab.member_msg">{{ tab.msg_count }}</span>
                </a>
              </li>
            </template>
            <!-- <li class="member_tab_2"><a href="">訂單查詢</a></li>
            <li class="member_tab_3"><a href="">收藏菜品</a></li>
            <li class="member_tab_4">
              <a href="">訊息中心<span id="member_msg">3</span></a>
            </li>
            <li class="member_tab_5"><a href="">常見問題</a></li> -->
          </ul>
        </nav>
        <!-- 登出測試 -->
        <!-- <button type="button" onclick="logout_test()">登出</button> -->
        <!-- ======會員中心內容===== -->
        <section class="member_section" v-show="current_tab == 'member' ">
          <div class="member_info">
            <h6 class="member_section_title">個人資訊</h6>
            <div id="info">
              <input type="text" id="member_name" placeholder="請輸入姓名" v-model="member_info.name"/>
              <div class="date_sex">
                <input type="date" id="member_date" placeholder="請輸入生日"  v-model="member_info.birthday" />
                <select name="member_sex" id="member_sex" value="請選擇性別"  v-model="member_info.sex">
                  <option value="" selected disabled >
                    請選擇性別
                  </option>
                  <option value="男">男</option>
                  <option value="女">女</option>
                </select>
              </div>
              <input
                type="text"
                id="member_phone"
                placeholder="請輸入手機號碼" maxlength="10" v-model.trim="member_info.phone"
              />
              <!-- <div class="city_area">
                <select name="member_city" id="member_city">
                  <option value="none" selected disabled hidden>
                    請選擇縣市
                  </option>
                </select>
                <select name="member_area" id="member_area">
                  <option value="none" selected disabled hidden>
                    請選擇區域
                  </option>
                </select>
              </div> -->
              <input type="text" id="member_addr" placeholder="請輸入地址"   v-model.trim="member_info.addr"/>
              <div class="bonus">
                <p class="font16">
                  目前累計會員紅利點數<span class="bonus_member"  >{{member_info.bonus}}</span>點
                </p>
              </div>
              <div class="member_news">
                <input
                  type="checkbox"
                  name="member_news"
                  id="member_news_yes"
                />
                <label for="member_news_yes">
                  <p class="font16">我願意收到最新優惠消息</p>
                </label>
              </div>

              <button type="button" id="btn_info" class="inCart_btn2" @click="info_change">
                確認修改
              </button>
              <!-- {{member_info}} -->
            </div>
          </div>
          <div class="member_pwd">
            <h6 class="member_section_title">修改密碼</h6>
            <div id="pwd" >
              <div class="content">
                <label for="member_account">帳號</label>
                <input type="text" id="member_account" v-model.trim="update_pwd.account" />
                <p class="m_text_no">*請填寫正確的帳號</p>
              </div>
              <div class="content">
                <label for="member_pwd_old"  >請輸入舊密碼</label>
                <input type="password" id="member_pwd_old" v-model.trim="update_pwd.pwd_old" />
                <i class="fa-regular fa-eye-slash" @click="eye_icon"></i>
                <p class="m_text_no">*請填寫正確的密碼</p>
              </div>
              <div class="content">
                <label for="member_pwd_new" >請輸入新密碼</label>
                <input
                  type="password" id="member_pwd_new" 
                  placeholder="請使用 8 個字元以上的字母、數字" v-model.trim="update_pwd.pwd_new"
                />
                <i class="fa-regular fa-eye-slash" @click="eye_icon"></i>
                <p class="m_text_no">*請填寫正確的密碼格式</p>
              </div>
              <div class="content">
                <label for="member_pwd_confirm">請確認新密碼</label>
                <input type="password" id="member_pwd_confirm"/>
                <i class="fa-regular fa-eye-slash" @click="eye_icon"></i>
                <p class="m_text_no">*請填寫正確的密碼格式</p>
              </div>

              <button type="button" id="btn_pwd" class="inCart_btn2" @click="pwd_change">
                確認修改
              </button>
              <!-- {{update_pwd}} -->

            </div>
          </div>
        </section>
        <!-- ======會員中心內容END===== -->
        <!-- ======訂單查詢===== -->
        <!-- 預約訂單 -->
        <div class="list_cat green-1" v-show="current_tab == 'list' ">私廚預約訂單</div>
        <section class="order_list_section member_product_section" v-show="current_tab == 'list' ">
          <div class="order_list_title font14 gray">
            <!-- <p class="list1">類別</p> -->
            <p class="list2">訂單日期</p>
            <p class="list3">訂單編號</p>
            <p class="list4">訂單金額</p>
            <p class="list5">訂單狀態</p>
            <div class="list6"></div>
          </div>
          <template v-for="(item, key) in orderlist">
            <div class="order_list_content font16">
              <!-- <p class="list1">{{item.cat}}</p> -->
              <p class="list2">{{item.date}}</p>
              <p class="list3">{{item.num}}</p>
              <p class="list4">NT$<span class="list4_money">{{item.price}}</span></p>
              <p class="list5">{{item.statue}}</p>
              <div class="list6">
                <a :href="'orderList_r.html?ID='+ item.num">
                  <button class="inCart_btn1">查看詳情</button>
                </a>
              </div>
            </div>
          </template>
        </section>
          <!-- 商城訂單 -->
          <div class="list_cat2  green-1" v-show="current_tab == 'list'">商城訂單</div>
        <section class="order_list_section member_product_section" v-show="current_tab == 'list' ">
          <div class="order_list_title font14 gray">
            <!-- <p class="list1">類別</p> -->
            <p class="list2">訂單日期</p>
            <p class="list3">訂單編號</p>
            <p class="list4">訂單金額</p>
            <p class="list5">訂單狀態</p>
            <div class="list6"></div>
          </div>
          <template v-for="(item, key) in mall_orderlist">
            <div class="order_list_content font16">
              <!-- <p class="list1">{{item.cat}}</p> -->
              <p class="list2">{{item.date}}</p>
              <p class="list3">{{item.num}}</p>
              <p class="list4">NT$<span class="list4_money">{{item.price}}</span></p>
              <p class="list5">{{item.statue}}</p>
              <div class="list6">
                <a :href="'orderList_m.html?ID='+ item.num">
                  <button class="inCart_btn1">查看詳情</button>
                </a> 
              </div>
            </div>
          </template>
          <!-- <div class="order_list_content font16">
            <p class="list1">商城</p>
            <p class="list2">2022/08/31</p>
            <p class="list3">2022123456789</p>
            <p class="list4">NT$<span class="list4_money">5,000</span></p>
            <p class="list5">訂單成立已付款</p>
            <div class="list6">
              <button class="inCart_btn1" onclick="location.href='orderList.html';">查看詳情</button>
            </div>
          </div> -->
        </section>
        <!-- ======訂單查詢結束===== -->
        <!-- ======收藏菜品====== -->
        <section class="collect_section member_product_section" id="member_collect" v-show="current_tab == 'collection' ">
          <ul>
            <template v-for="(item, key) in collection" :key="item.name">
              <li class="collect_list">
                <a>
                  <div class="product_img"><img :src=item.IMG>
        
                    <i class="fa-solid fa-heart " @click="cancel_collect(key)"></i>
                  </div>
                  <div class="product_content green-1">
                    <h6 class="product_title">{{item.Name}}</h6>
                    <p class="font16">$<span class="product_money">{{item.Price}}</span></p>
                    <button type="button" class="cart_link" href="">
                      <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                  </div>
                </a>
              </li>
            </template>
            <!-- <li class="collect_list">
              <a href="">
                <div class="product_img">
                  <img src="img/member_img/member_wish1.jpg" alt="" />
                  <i class="fa-solid fa-heart"></i>
                </div>
                <div class="product_content green-1">
                  <h6 class="product_title">黑鮪刺身</h6>
                  <p class="font16">$<span class="product_money">700</span></p>
                  <button type="button" class="cart_link" href="">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </div>
              </a>
            </li> -->
          </ul>
        </section>
        <!-- ======收藏菜品結束====== -->
        <!-- ======訊息中心====== -->
        <!-- <section class="message_section member_product_section" v-show="current_tab == 'tab4' ">
          <ul class="fuild_wrapper">
            <li class="message_content">
              <div class="message_import">
                <img src="./img/logo_img/logo_black-03.png" alt="" />
                <p>
                  您好，這邊是您預定12/24的聖誕饗宴，這邊提供您賣場連結♥♥♥<br />https://www.iloveit.fpe39fj23fpkxj1-0dfj12
                </p>
              </div>
              <p class="time_cover">12 hour ago</p>
            </li>
            <li class="message_customer">
              <div class="customer_import">
                <p>好的，謝謝。</p>
                <i class="fa-solid fa-user"></i>
              </div>
              <p class="time_cover">4 hour ago</p>
            </li>
            <div class="message_textarea">
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                class="customer_respond"
              >
  完成繳費了，帳號後五碼ＯＯＯＯＯ。</textarea
              >
            </div>
            <div class="upload">
              <div class="upload_plus">
                <i class="fa-regular fa-plus"></i>
                <p>加入圖片</p>
              </div>
              <button class="inCart_btn1">傳送</button>
            </div>
          </ul>
        </section> -->
        <!-- ======訊息中心結束====== -->

        <!-- ======常見問題====== -->
        <section class="question_section member_product_section" v-show="current_tab == 'faq' ">
          <ul>
            <h5>預約流程</h5>
            <li class="question_section_li li_1">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus "></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為6人</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有提供素食餐點嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>不好意思，目前暫無提供全素食餐點。</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問廚師預約的時段有哪些呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  預約流程中會顯示廚師們可預約的時段，透過行事曆也可以查看目前廚師們的空檔唷！
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問提供租借服務有要加選什麼項目呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  全額退款的最晚取消為當日到府服務的15天前（不含服務當天）
                  10-14天內取消預約則退款70% 不足10天則不予退款。
                  （如欲政府發佈之天災狀況不在以上限制，可延期一次）
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為6人</h6>
              </div>
            </li>
          </ul>
          <ul>
            <h5>付款問題</h5>
            <li class="question_section_li  li_1">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為6人</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有提供素食餐點嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>不好意思，目前暫無提供全素食餐點。</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問廚師預約的時段有哪些呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  預約流程中會顯示廚師們可預約的時段，透過行事曆也可以查看目前廚師們的空檔唷！
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問提供租借服務有要加選什麼項目呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  全額退款的最晚取消為當日到府服務的15天前（不含服務當天）
                  10-14天內取消預約則退款70% 不足10天則不予退款。
                  （如欲政府發佈之天災狀況不在以上限制，可延期一次）
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為６人</h6>
              </div>
            </li>
          </ul>
          <ul>
            <h5>租借服務</h5>
            <li class="question_section_li li_1">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為6人</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有提供素食餐點嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>不好意思，目前暫無提供全素食餐點。</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問廚師預約的時段有哪些呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  預約流程中會顯示廚師們可預約的時段，透過行事曆也可以查看目前廚師們的空檔唷！
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問提供租借服務有要加選什麼項目呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  全額退款的最晚取消為當日到府服務的15天前（不含服務當天）
                  10-14天內取消預約則退款70% 不足10天則不予退款。
                  （如欲政府發佈之天災狀況不在以上限制，可延期一次）
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為６人</h6>
              </div>
            </li>
          </ul>
          <ul>
            <h5>退貨問題</h5>
            <li class="question_section_li li_1">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為6人</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有提供素食餐點嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>不好意思，目前暫無提供全素食餐點。</h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問廚師預約的時段有哪些呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  預約流程中會顯示廚師們可預約的時段，透過行事曆也可以查看目前廚師們的空檔唷！
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問提供租借服務有要加選什麼項目呢？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>
                  全額退款的最晚取消為當日到府服務的15天前（不含服務當天）
                  10-14天內取消預約則退款70% 不足10天則不予退款。
                  （如欲政府發佈之天災狀況不在以上限制，可延期一次）
                </h6>
              </div>
            </li>

            <li class="question_section_li">
              <div class="question_flex">
                <i class="fa-solid fa-q"></i>
                <h6>請問有最低用餐人數嗎？</h6>
                <i class="fa-solid fa-plus"></i>
                <!-- <i class="fa-solid fa-minus"></i> -->
              </div>
              <div class="question_none">
                <i class="fa-solid fa-a"></i>
                <h6>有的，最低廚師預約人數為６人</h6>
              </div>
            </li>
          </ul>
        </section>
        <!-- ======常見問題結束====== -->
      </main>
      @@include('layout/footer.html')
    </div>
    <script src="js/vender/Vue/vue.global.js"></script>
    <script src="./js/vender/Jquery/jquery-3.6.1.js"></script>
    <script src="js/frontpage/login_check.js"></script>
    <script>
      //取得會員id
      let member_ID = localStorage.getItem("member_ID");
      //header 會員登入測試
      // let user_icon = document.querySelector('.slide_user');
      // user_icon.addEventListener('click',function(e){
      //   // console.log('qqq')
      //   e.preventDefault();
      //   login_check();
      // })
      let member = Vue.createApp({
        data(){
          return {
            // tab
            current_tab:"member",
            member_tab:[
              {
                id:"member",
                name:"會員中心",

              },
              {
                id:"list",
                name:"訂單查詢",

                
              },
              {
                id:"collection",
                name:"收藏菜品",
                member_tab_4:"member_tab_4",
                member_msg:"member_msg",
                msg_count:3,
                
              },
              {
                id:"faq",
                name:"常見問題",

              }
            ],
            // 會員中心-個人資訊
            member_info:{
              account:"",
              pwd:"",
              name:"",
              birthday:"",
              sex:"",
              phone:"",
              addr:"",
              bonus:"0",
            },
            // 會員中心-修改密碼
            update_pwd:{
              account:"",
              pwd_old:"",
              pwd_new:""
            },
            //預約訂單
            orderlist:[],
            //商城訂單
            mall_orderlist:[],
            // 收藏
            collection:[{}],
          }
        },
        mounted(){
          if(member_ID){
            this.info_show();
            this.get_order_list();
            this.get_mallorder_list();
            this.page();
            this.collection_s();
          }
        },
        computed: {},
        methods:{
          // ==========================會員中心===========================
          //顯示會員資訊
          info_show(){
            let that = this ;
            if( member_ID ){
              $.ajax({
                    method: "POST",
                    url: "php/frontpage/member/member_info.php",
                    data: {
                      member_ID:member_ID
                    },
                    dataType: "json",
                    success: function (response) {
                      // console.log(response);
                      // console.log(response[0].name);
                      // console.log(that.member_info);
                      that.member_info = response[0];
                      that.get_point();
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    }
                });
            }
            
          },
          //會員中心-個人資訊 確認修改按鈕按下
          info_change(){
            let that = this ;
            let name = this.member_info.name;
            let birthday = this.member_info.birthday;
            let sex = this.member_info.sex;
            let phone = this.member_info.phone;
            let addr = this.member_info.addr;
            //修改會員資訊
            if(member_ID){
              $.ajax({
                    method: "POST",
                    url: "php/frontpage/member/member_info_update.php",
                    data: {
                      member_ID:member_ID,
                      name:name,
                      birthday:birthday,
                      sex:sex,
                      phone:phone,
                      addr:addr
                    },
                    dataType: "text",
                    success: function (response) {
                      // console.log(response);
                      alert('修改完成');
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    }
                });

            }
          },
          //修改會員密碼
          pwd_change(){
            let account = this.update_pwd.account;
            let pwd_old = this.update_pwd.pwd_old;
            let pwd_new = this.update_pwd.pwd_new;
            let pwd_confirm = document.getElementById('member_pwd_confirm');
            let change = true ;
            if(member_ID){
              //判斷帳號相等且不為空值
              if(account !== "" && account == this.member_info.account){
                $("#member_account").next().removeClass('appear');
              }else{
                //如果帳號不等於
                $("#member_account").next().addClass('appear');
                change = false ;
              };
              //判斷舊密碼相等且不為空值
              if(pwd_old == this.member_info.pwd && pwd_old !== ""){
                $('#member_pwd_old').next().next().removeClass('appear');
              }else{
                //舊密碼不相等
                $('#member_pwd_old').next().next().addClass('appear');
                change = false ;
  
              };
              //舊密碼不等於新密碼
              if(pwd_old !== pwd_new && pwd_new !== ""){
                $('#member_pwd_new').next().next().removeClass('appear');
                //判斷密碼長度再8到16
                if(pwd_new.length <= 16 && pwd_new.length >= 8 ){
                  $('#member_pwd_new').next().next().removeClass('appear');
                }else{
                  $('#member_pwd_new').next().next().addClass('appear');
                change = false ;
  
                };
              }else{
                $('#member_pwd_new').next().next().addClass('appear');
                change = false ;
  
              };
              //新密碼等於確認密碼
              if(pwd_new == pwd_confirm.value && pwd_confirm.value !== ""){
                $('#member_pwd_confirm').next().next().removeClass('appear');
              }else{
                $('#member_pwd_confirm').next().next().addClass('appear');
                change = false ;
  
              };
              if(change){
                //更改密碼
                $.ajax({
                    method: "POST",
                    url: "php/frontpage/member/member_pwd_update.php",
                    data: {
                      member_ID:member_ID,
                      pwd_new: pwd_new
                    },
                    dataType: "text",
                    success: function (response) {
                        alert('修改成功');
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    }
                });
              }else{
                return false;
  
              }

            }
          },
          //取得會員點數
          get_point(){
            let member_ID = localStorage.getItem("member_ID");
            let that = this ;
            // let bonus_member = document.querySelector('.bonus_member')
            //取得會員點數
            if(member_ID){
              $.ajax({
                    method: "POST",
                    url: "php/frontpage/member/member_point.php",
                    data: {
                      member_ID: member_ID,
                    },
                    dataType: "text",
                    success: function (response) {
                      // bonus_member.innerHTML = response ;
                      that.member_info.bonus = response;
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    }
                });

            }


          },
          //眼睛icon
          eye_icon(e){
                    let pwd_type = e.target.previousSibling;
                    console.log(pwd_type.type);
                    if(pwd_type.type == "password"){
                        pwd_type.type = "text";
                        e.target.classList.remove('fa-eye-slash');
                        e.target.classList.add('fa-eye');
                    }else{
                        pwd_type.type = "password";
                        e.target.classList.add('fa-eye-slash');
                        e.target.classList.remove('fa-eye');
                    }
          },
          // ==========================會員中心結束===========================
          // ==========================訂單===========================
          //拿到預約訂單資訊
          get_order_list(){
            if( member_ID ){
            $.ajax({
                    method: "POST",
                    url: "php/frontpage/member/member_list_order.php",
                    data: {
                      member_ID:member_ID,
                    },
                    dataType: "json",
                    success: (response) => {
                      this.orderlist = response;
                      
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    }
                });
              }
          },
          //拿到商城訂單資訊
          get_mallorder_list(){
            if( member_ID ){
            $.ajax({
                    method: "POST",
                    url: "php/frontpage/member/member_list_mall.php",
                    data: {
                      member_ID:member_ID,
                    },
                    dataType: "json",
                    success: (response) => {
                      this.mall_orderlist = response;
                      
                    },
                    error: function (exception) {
                        alert("發生錯誤: " + exception.status);
                    }
                });
              }
          },

          // ==========================訂單結束===========================
          
          // ==========================收藏===========================
          //愛心點擊後取消收藏(移除陣列資訊)
          cancel_collect(i){
            // console.log(i);
            if(member_ID){
              let r = confirm('確定取消收藏');
              // 這個ID是favorite table 的ID
              let ID = this.collection[i].ID
              // console.log(ID);
              if(r){
                // 刪除資料庫的收藏
                $.ajax({
                      method: "POST",
                      url: "php/frontpage/member/collect_d.php",
                      data: {
                        ID:ID,
                      },
                      dataType: "text",
                      success: (response) => {
                        setTimeout(()=>{
                          this.collection.splice(i,1);
                        },500);
                        console.log('aa')
                      },
                      error: function (exception) {
                          alert("發生錯誤: " + exception.status);
                      }
                  });
              }
            }
          },
          // select渲染到畫面上
          collection_s(){
            if(member_ID){
              $.ajax({
                      method: "POST",
                      url: "php/frontpage/member/collect_s.php",
                      data: {
                        member_ID:member_ID,
                  
                      },
                      dataType: "json",
                      success:  (response) => {
                        // console.log(response);
                        if(response != ""){
                          this.collection = response ;
                          // 將三張 img 轉陣列並塞回 data
                          let xxx = this.collection;
                          for(let i =0; i < xxx.length; i++){

                            // 將img存到新陣列
                            let img = this.collection[i].IMG
                                    
                            const imgs = img.split(" ");
                            
                            // 回傳AjaxMealsInfo
                            this.collection[i].IMG = imgs[0]
                            // console.log(this.collection[i].IMG);
                          }
                          console.log(this.collection);
                        }
                      },
                      error: function (exception) {
                          alert("發生錯誤: " + exception.status);
                      }
                  });

            }
          },
          // ==========================收藏結束===========================
          
          // 分頁紀錄
          tab_page(){
            history.pushState(null, null, "#" + this.current_tab);

          },
          page(){
            let url = window.location.hash;
            // console.log(url); 
            if(url){
              this.current_tab = url.slice(1,15);

            }
          }
        }
      }).mount('#member');

      // ==========================常見問題===========================
      $(function () {
          $(this).siblings().toggleClass("active");

        $(".question_section_li").on("click",function(e){
          e.preventDefault();
          $(this).find('.question_none').toggleClass("active");
        })
      });

        $(".question_flex").click(function (e) {
          if ($(this).children("i.fa-solid").hasClass("fa-plus")) {
            // console.log(this);
            $(this).children("i:nth-child(3)").removeClass("fa-plus")
            $(this).children("i:nth-child(3)").addClass("fa-minus")
          }
            else if($(this).children("i.fa-solid").hasClass("fa-minus")){
              // console.log(`ttt`);
              $(this).children("i:nth-child(3)").removeClass("fa-minus")
            $(this).children("i:nth-child(3)").addClass("fa-plus")
            }
          });
      // ==========================常見問題結束===========================
    </script>
  </body>
</html>
