<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('layout/meta.html', { "title": "私覓SMEET-最新動態", })
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <!-- <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      />
      <link rel="stylesheet" href="./css/style.css" />
      <title>最新動態</title>
    </head> -->

    <body class="news-page">
      @@include('layout/header_01.html')

      <!-- Navigation-->
      @@include('layout/banner.html',{ "title":"NEWS",
      "src":"./img/news_img/news_headbanner.jpg" })

      <!-- banner component 
      <div class="banner">
        <div class="wrapper">
          <h1 class="green-1 font_family_eng">NEWS</h1>
        </div>
        <div class="banner_container">
          <img src="./img/news_img/news_headbanner.jpg" alt="" />
        </div>
      </div> -->

      <!-- tab -->
    <div id="newsALL">
              <main id="news" >
                <ul>
                  <div class="wrapper tab_container" id="tab_change"  >
                    <li id="all" v-for="item in Tab" :key="item.id">
                        <a href=""  @click.prevent=" currentTab = item.title">
                        <h4  :class="{ tab_point : currentTab  === item.title}">{{item.title}}</h4>
                        <span :class="{ tab_point : currentTab  === item.title}">{{item.span}}</span>
                      </a>
                    </li>
                    <!-- <li id="ft" @click="changeTab(1)">
                      <a href="">
                        <h4>聯名限定</h4>
                        <span>ft.</span>
                      </a>
                    </li>
                    <li id="sales" @click="changeTab(1)">
                      <a href="">
                        <h4>限時優惠</h4>
                        <span>sales</span>
                      </a>
                    </li> -->
                  </div>
                </ul>

          <!-- search-->
              <!-- <div class="wrapper search_container">
                <div class="search">
                  <div class="search_container_item right">
                    <input type="text" placeholder="Search..." />
                  </div>
                  <div class="search_container_item">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                </div>
              </div> -->

          <!-- content-->
              <div class="app1">
                <div class="content wrapper">
                  <div class="content_grid">
                    <div class="content_grid_item" v-for="News in filtered_list()" :key="News.id">
                      <a :href="'./newsDetail.html?ID='+ News.ID">
                      <div class="content_hidden">
                        <span class="item_mark font12 Camel-3">
                          <!-- 最新動態 -->
                          {{News.Category}}
                        </span>
                        <img :src="News.IMG" alt="" />

                      </div>
                      <div class="text">
                        <p class="font12">
                          <!-- 2022/11/25 -->
                          {{News.Date}}
                        </p>
                        <h6 class="green-1">
                          <!-- 冬季暖心 -->
                          {{News.Title}}
                        </h6>
                        <p class="news_item">
                          <!-- 鮟鱇魚富含膠原蛋白且低脂肪熱量，味道
                          鮮甜淡雅，是健康又美味的海水魚 -->
                          {{News.Article}}
                        </p>
                      </div>
                      <button class="btn_more">
                        <p>more</p>
                        <span><i class="fa-sharp fa-solid fa-arrow-right"></i></span>
                      </button>
                    </a>
                    </div>
                
                  </div>
                </div>
              </div>

          <!-- 頁碼-->
              <!-- <div class="news_page wrapper">
                <ul class="news_page_ul">
                  <li><a href="#" class="Camel-3 font_light page_now">1</a></li> -->
                  <!-- <li><a href="#" class="Camel-3 font_light">2</a></li>
                  <li><a href="#" class="Camel-3 font_light">3</a></li>
                  <li><a href="#" class="Camel-3 font_light">4</a></li> -->
                <!-- </ul>
              </div> -->
    </div>
  <!-- <button id="news_btn">回傳資料</button> -->
  @@include('layout/serve.html')
  @@include('layout/footer.html')
</body>
<script src="js/vender/Jquery/jquery-3.6.1.js"></script>
<script src="js/header.js"></script> 
<script src="js/vender/Vue/vue.global.prod.js"></script>
<script src="js/frontpage/cart_pop.js"></script>
<script src="js/frontpage/login.js"></script>
<script src="js/frontpage/login_check.js"></script>
<script>
  let app = Vue.createApp({
    data() {
      return {
        NewsList: [
          // {
          //   Article:"",
          //   Category:"",
          //   Condition:"",
          //   Date:"",
          //   ID:"",
          //   IMG:"",
          //   Title:"",
          // }

        ],
        Tab : [
          {
            id:1,
            title:'最新動態',
            span:'all'
        },
        {
            id:2,
            title:'聯名限定',
            span:'ft.'
        },
        {
            id:3,
            title:'限時優惠',
            span:'sales'
        }
      ],

      currentTab :'最新動態',
 

      };
    },

    computed :{
    
      
    },
    created() {
      this.newsrender();
    
    },
    methods: {

      //回傳news的data
      newsrender() {
        let _this = this;
        $.ajax({
          method: "POST",
          url: "php/frontpage/news.php",
          data: {

          },

          dataType: "json",
          success: function (response) {
           
            response.forEach((element) => { //每個資料的名字
              element.Date = element.Date.substr(0, 10);
              if(element.Article.length > 50){
                element.Article = element.Article.substr(0,50)+"...";
              }
              _this.NewsList.push(element);
            });
          },
          error: function (exception) {
            alert("發生錯誤: " + exception.status);
          },
        });

      },
      
      filtered_list(){
        let filtered_tab = this.NewsList.filter((el)=> {
          return this.currentTab == el.Category;
        });
        return filtered_tab;

    },
    }

  });
  app.mount("#newsALL");
</script>

</html>

</html>
