<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title":"私覓SMEET-訂單查詢"
    })
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body>
    @@include('layout/header_01.html')
    <div class="fulid_wrapper order_list" id="orderlist_r">
        <main>
            <!-- MEMBER標題 -->
            <h1 class="green-1 font_family_eng">MEMBER</h1>
            <!-- 會員中心標題 -->
            <div class="member_title">
                <h2 class="green-1 font_bold font_family_tc">訂單查詢</h2>
            </div>
            <!-- 回到列表 -->
            <a class="back font16 gray" @click="go_back">
                <i class="fa-solid fa-chevron-left"></i>
                <span >回到列表</span>
            </a>
            <!-- 訂單編號 -->
            <div class="list_number">
                <div class="list_title">
                    <h6 class="green-1">訂單編號</h6>
                    <h6 id="order_ID">{{reserve_data.ID}}</h6>
                </div>
                <!-- <button class="inCart_btn1">再次購買</button> -->
            </div>
            <!-- 上方訂單日期金額進度 -->
            <div class="list_top">
                <div class="top_content gray">
                    <div class="item">預約日期</div>
                    <div class="item">訂單金額</div>
                    <div class="item">支付方式</div>
                    <div class="item">處理進度</div>
                </div>
                <div class="top_content">
                    <div class="item">{{reserve_data.AppointmentDate}}</div>
                    <div class="item">NT$<span class="money">{{reserve_data.TotalPrice}}</span></div>
                    <div class="item">信用卡</div>
                    <div class="item">{{reserve_data.Condition}}</div>
                </div>
            </div>
            <!-- 訂單內容明細 -->
            <!-- 私廚套餐 -->
            <div class="list_r">
                <h4 class="detail_title green-1">私廚預約</h4>
                <div class="meal_container">
                    <h6 class="meal_title">{{reserve_data.SetName}}</h6>
                    <div class="meal_cate font16" v-for="(item, key) in dish_title">
                        <p class="item gray">{{item}}</p>
                        <div class="meal_content font16">
                            <template  v-for="(value, index) in dish_data[key]">
                                <p class="item item2">{{value.dishName}} <span class="item_qty gray">x {{value.qty}}</span></p>
                            </template>
                        </div>
                    </div>
                    <!-- <div class="meal_content font16">
                        <p class="item" v-for="(item, key) in dish_data">{{item.name}} <span class="item_qty gray">x{{item.qty}}</span></p> -->
                        <!-- 湯物 -->
                        <!-- <p class="item">奶香牛肝菌野菇濃湯</p>
                        <p class="item">石斑海鮮清湯</p> -->
                        <!-- 前菜 -->
                        <!-- <p class="item">燻鮭魚番茄佐優格醬</p>
                        <p class="item">深海魚皮野蔬沙拉佐醋醬</p> -->
                        <!-- 刺身 -->
                        <!-- <p class="item">大間本鮪中腹、秋鮭、貝類、牡丹蝦</p> -->
                        <!-- 主食 -->
                        <!-- <p class="item">嫩煎干貝佐松露菲力</p>
                        <p class="item">日本小田和牛壽喜燒</p>
                        <p class="item">龍蝦佐鮑魚海鮮拼盤</p> -->
                        <!-- 甜點 -->
                        <!-- <p class="item">抹茶布丁搭配綿密金時紅豆</p>
                        <p class="item">栗子羊羹</p>
                        <p class="item">春手毬和菓子</p> -->
                        <!-- 飲品 -->
                        <!-- <p class="item">抹茶海鹽奶蓋</p>
                        <p class="item">烘焙曼巴咖啡</p>
                        <p class="item">高山金萱茶</p>
                        <p class="item">檸檬海鹽氣泡飲</p> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- 單點加購 -->
            <div class="list_one">
                <h4 class="detail_title green-1">單點加購</h4>
                <div class="meal_container">
                    <div class="meal_cate2 font16" v-for="(item, key) in one_dish_title">
                        <p class="item gray">{{item}}</p>
                        <div class="meal_content font16">
                            <template  v-for="(value, index) in one_dish[key]">
                                <p class="item item2">{{value.dishName}} <span class="item_qty gray">x {{value.qty}}</span></p>
                            </template>
                        </div>
                    </div>
                    <!-- <ul class="one_container"> -->
                        <!-- <li class="one_item" v-for="(item, key) in one_dish">{{item.name}}<div class="one_count">x {{item.qty}}</div></li> -->
                        <!-- <li class="one_item">北海道松葉蟹蒸蛋<div class="one_count">x 2</div></li>
                    </ul> -->
                </div>
            </div>
            <!-- 訂單資料 -->
            <div class="list_info">
                <h4 class="detail_title green-1">訂單資料</h4>
                
                    <ul class="detail_info">
                        
                        <li class="item">訂購人</li>
                        <li class="item" >
                            <div class="detail_list_name" id="detail_name">{{reserve_data.Name}} </div>
                            <div class="detail_list_name" id="detail_phone">{{reserve_data.Phone}}</div>
                            <div class="detail_list_name" id="detail_phone">{{reserve_data.Email}}</div>
                        </li>
                        <li class="item">地址</li>
                        <li class="item" id="detail_addr">{{reserve_data.Address}}</li>
                        <li class="item">餐點明細</li>
                        <li class="item gray">
                            <div class="cate">餐別<span id="detail_cate">{{reserve_data.Scheduled}}</span></div>
                            <div class="people">人數<span id="detail_people">{{reserve_data.Count}}人</span></div>
                        </li>
                    </ul>
            </div>
             
            <!-- 總計 -->
            <div class="total_container font16">
                <div class="item_r">小計</div>
                <div class="item_r">NT$<span id="detail_total">{{reserve_data.Subtotal}}</span></div>
                <div class="item_r">加購價</div>
                <div class="item_r">NT$<span id="detail_total">25,000</span></div>
                <div class="item_r">紅利點數</div>
                <div class="item_r">-NT$<span id="detail_total">{{reserve_data.point}}</span></div>
                <div class="item_r">總金額 </div>
                <div class="item_r">NT$<span id="detail_total">{{reserve_data.TotalPrice}}</span></div>
            </div>
            <div class="clear_both"></div>
        </main>
        <!-- {{reserve_data}} -->
        <!-- {{one_dish}} -->
    </div>
    
    @@include('layout/footer.html')
    <script src="./js/vender/Vue/vue.global.js"></script>   
    <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
    <script>
        const orderlist_r = Vue.createApp({
            data(){
                return{
                    reserve_data:{
                    },
                    dish_data:[{
                    }],
                    one_dish:[{}],
                    dish_title:["湯物", "前菜", "刺身", "主食", "甜點", "飲品"],
                    one_dish_title:["單點", "服務"],
                }
                
            },
            mounted(){
                this.get_data();
            },
            methods :{
                //從網址抓ID 接API 渲染畫面
                // 將 id 以 AJAX方式 傳到 API，API抓資料庫資料，再傳到前台渲染
                get_data(){
                    let urlParams = new URLSearchParams(window.location.search);
                    // console.log(urlParams.get('ID')); 
                    let reserve_id = urlParams.get('ID');
                    this.reserve_data.id = reserve_id;
                    // console.log(this.reserve_data);
                    // 抓取訂單資訊
                    $.ajax({
                        method: "POST",
                        url: "php/frontpage/member/order_list.php",
                        data: {
                            reserve_id:reserve_id,
                        },
                        dataType: "json",
                        success: (response) => {
                            //把api取到的所有資訊存到reserve_data
                            this.reserve_data = response[0] ;
                            let c = this.reserve_data.Count;
                            let p = this.reserve_data.SetPrice
                            // 小計
                            this.reserve_data.Subtotal = c * p;
                            // console.log(response);
                            
                            // 把餐點名稱存到dish_data陣列================ 
                            for(let i = 0 ; i < 6 ; i++){
                                let a$ = response.filter(function(item, index){
                                return (item.Type == i+1);
                                });
                                this.dish_data[i] = a$;
                            }

                            // 把單點+服務存到one_dish陣列================ 
                            let b1 = response.filter(function(item, index){
                                return (item.Type == 7);
                            });
                            this.one_dish[0] = b1 ;

                            let b2 = response.filter(function(item, index){
                                return (item.Type == 11);
                            });
                            this.one_dish[1] = b2 ;

                            // console.log(a1);
                            console.log(this.dish_data);
                            // console.log(this.one_dish);
                        },
                        error: function (exception) {
                            alert("發生錯誤: " + exception.status);
                        }
                    });
                },
                // 返回列表
                go_back(){
                    history.go(-1); 
                }
            }
        }).mount('#orderlist_r');
    </script>
</body>
</html>