<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title": "私覓SMEET-預約須知",
    })
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    @@include('layout/header_01.html')
    <div class="reseve fulid_wrapper ">
        <div class="wrapper">
            <div class="reseve_list">
                <h1 class="font_family_eng green-1 reseve_title">RESERVE</h1>
                <div class="reseve_notice">
                    <h2 class="notice_title green-1 font_family_tc font_bold">預約須知</h2>
                    <div class="text-area">
                        <ul class="noticeTxt">
                            <h6 class="green-1">【預約注意事項】</h6>

                            <li>為防止新型冠狀病毒感染擴大，進入貴廚前會測量體溫並進行消毒。如果您當天體溫為37.5℃或更高，我們可能會停止提供該服務並延期。</li>
                            <li>我們的商店是一個完整的預訂系統。您可以在預訂日期的前一天的 15:00 之前進行預訂</li>
                            <li>我們可能無法滿足您的選座要求。</li>
                            <li>如果您想使用私人房間，請通過電話進行預訂。</li>
                            <li>12人以上預約時，或中學生以下兒童預約時，請直接與店鋪聯繫。</li>
                            <li>我們會根據預訂提前幾天準備食物，因此如果您想更改人數，取消等，請至少提前2天通過電話告知我們。<span>*根據當天的預訂情況，可能無法更改。</span></li>


                            <li>如果我們在您預訂時間的 30 分鐘內無法聯繫到您，我們將不可避免地視為取消。對於給您帶來的不便，我們深表歉意，但如果您遲到了，請務必與我們聯繫。</li>

                            <li>我們會根據預訂提前幾天準備食物，因此如果您想更改人數，取消等，請至少提前2天通過電話告知我們。</li>
                            <li>如果您在預訂時沒有提出有關過敏成分或您不擅長的成分的要求，請注意，當天無法更改。</li>
                            <li>我們可能會在預訂日期前至少 2 天致電您確認您的預訂。</li>
                            <li>未與我們聯繫而不來店的顧客將無法進行以後的預訂。</li>

                        </ul>
                        <div class="cancelTxt">
                            <h6 class="green-1">【取消政策】</h6>
                            <p class="red">預訂確認後，除特殊情況外，自預訂日期前3天起收取取消費。請注意。</p>
                            <p>3天前至2天前取消，收取費用的 50%。</p>
                            <p>從前一天到當天取消是價格的 100%。</p>
                            <p>如果取消，恕不另行通知，價格的 100%。</p>
                        </div>
                    </div>

                </div>
                <div class="reseve-form">
                    <div id="reseve_detail">

                        <div class="form-input" id="agreement">
                            <label for="agrees">
                                <input type="checkbox" name="agree" id="agrees" v-model="inputData.agress"><span class=" font14 font_med">我已確認已閱讀「商家通知」</span>
                            </label>
                            <span class="warning_title db font_med" v-if="vaildAgress">＊項目尚未勾選</span>
                        </div>

                        <div class="form-input" id="choose_set">
                            <img src="./img/reserve_img/reserve_icon01.svg" alt="">
                            <select v-model="inputData.sets">
                                <option value="" selected disabled>--套餐--</option>
                                <option v-for="set in data.sets" :key="set.id" :value="set.id">{{set.setName}}</option>
                            </select>
                            <span class="warning_title" v-if="vaildSets">＊欄位尚未填寫</span>
                        </div>

                        <div class="form-input" id="count_people">
                            <img src="./img/reserve_img/reserve_icon02.svg" alt="">
                            <select v-model="inputData.peoCount">
                                <i class="fa-solid fa-user "></i>
                                <option value="" selected disabled>--人數--</option>
                                <option v-for="idx in 12" :value="idx">{{idx}}人</option>
                            </select>
                            <span class="warning_title" v-if="vaildPeo">＊欄位尚未填寫</span>
                        </div>

                        <div class="form-input" id="order_date" >
                            <img src="./img/reserve_img/reserve_icon03.svg" alt="">
                            <input type="date" id="start" :min="nowDate" :max="getMaxDate"  v-model="inputData.date"  @change="dateHandler">
                            <span class="warning_title" v-if="vaildDate">＊欄位尚未填寫</span>
                        </div>
                        <div class="form-input" id="perofTime">
                            <img src="./img/reserve_img/reserve_icon04.svg" alt="">
                            <select v-model="inputData.orderTime" :disabled="dateClick"> 
                                <option value="" selected disabled >--時間--</option>
                                <option v-for="(order,index) in data.oderTime" :value="order.id" :key="index">{{order.time}}</option>
                            </select>
                            <span class="warning_title" v-if="vaildTime">＊欄位尚未填寫</span>
                        </div>
                        <div class="form-input" id="cheif_team">
                            <img src="./img/reserve_img/reserve_icon05.svg" alt="">
                            <select  v-model="inputData.chefTeam" :disabled="dateClick">
                                <option  value="" selected disabled>--廚師團隊--</option>
                                <option v-for="leder in data.chefScheduled" :key="leder.id" :value="leder.team">{{leder.name}}</option>
                            </select>
                            <span class="warning_title" v-if="vaildTeam">＊欄位尚未填寫</span>
                        </div>

                        <!-- 測試用先別管 -->
                        <!-- <ul>
                            <li v-for="(member, key) in inputData"> 項目:{{key}} / 使用者選填的:{{member}}</li>
                        </ul> -->
                        <!-- 測試用先別管 -->

                        

                        <button class="next_btn" @click="vaildDataLists($event)">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('layout/footer.html')
    <script src="./js//vender/Vue/vue.global.js"></script>
    <script>
         const app = Vue.createApp({
            data() {
                return {
                    data:{
                        // 套餐資料
                        sets:[
                            {id:1,setName:'名物 私套餐'},
                            {id:2,setName:'極上 會席套餐'},
                            {id:3,setName:'苑 春堂套餐'}
                        ],
                        // 廚師團隊
                        chefTeam:[
                            {id:1,team:'a',name:'麗燕山'},
                            {id:2,team:'b',name:'吳寶劍'},
                            {id:3,team:'c',name:'陳平安'}
                        ],

                        // 預定時間
                        oderTime:[
                            {id:1,txt:'午餐',time:'11:00-14:00'},
                            {id:2,txt:'下午茶',time:'11:00-14:00'},
                            {id:3,txt:'晚餐',time:'18:00-21:00'},
                        ] , 
                        
                        // 可預約的廚師團隊
                        chefScheduled:[]
                    },
                    
                    //使用者所選擇的下拉選單項目(要送到reseve02.html) 
                    inputData:{
                        agress: "",  // 同意書
                        sets:"",  // 套餐 
                        peoCount:"", // 人數
                        date: '', // 預約日期
                        orderTime:"", // 預約時段
                        chefTeam:"", //廚師團隊
                    },

                    // 由後臺撈回來的單日歷史訂單(目前先全撈資料,方便做測試)
                    historylist:[
                        {id:1,date:'2022-12-31',teams:'a'},
                        {id:2,date:'2022-12-31',teams:'b'},
                        {id:3,date:'2022-12-30',teams:'c'},
                        {id:4,date:'2023-01-11',teams:'b'},
                        {id:5,date:'2023-01-11',teams:'c'},
                        {id:6,date:'2023-01-12',teams:'a'},
                        {id:7,date:'2023-01-13',teams:'b'},
                        {id:8,date:'2023-01-13',teams:'a'},
                        {id:9,date:'2023-01-14',teams:'a'},
                        {id:10,date:'2023-01-14',teams:'b'},
                        {id:11,date:'2023-01-14',teams:'c'},
                    ]
                    
                };
            },
            computed:{
                // 取得當天日期
                nowDate(){
                    let nowDate = new Date().toISOString().slice(0,10)
                    return nowDate
                },
                // 取得近兩個月的日期
                getMaxDate(){
                    let nowDate = new Date()
                    nowDate.setDate(nowDate.getDate() + 60);
                    return nowDate.toISOString().slice(0,10);
                },
                // 使用者要勾選日期才可以選擇 "時段" 及 "團隊"
                dateClick(){
                    if(this.inputData.date !==''){
                        return false;
                    }else{
                        return true;
                    }
                },

                // 當使用者按下日期重新渲染團隊
                dateHandler(){
                    let isOrderTeam = []
                    
                    // 每當觸發日期有改變就去後台撈單日資料
                    // historylist 以後要去後台撈歷史訂單的資料
                    let filterItems = this.historylist.filter((historyOneDay)=>{
                        // console.log(history)
                        if(historyOneDay.date === this.inputData.date){
                            // 今天有訂單的話，把有訂單的團隊給記錄起來
                            isOrderTeam.push(historyOneDay.teams)
                            return historyOneDay 
                        }
                    })
                    // console.log(filterItems.length)
                    // 假若有訂單的話
                    if(filterItems.length> 0 && filterItems.length < 3){                       
                        this.data.chefScheduled = this.data.chefTeam.filter(el=>{
                            // Object.values(el)[1]:團隊編號
                            // isOrderTeam : 歷史訂單團隊編號
                            if(!isOrderTeam.includes(Object.values(el)[1])){
                                // console.log(isOrderTeam.includes(Object.values(el)[1]))
                                return el
                            }
                        })
                    }else if(filterItems.length ===3){
                        this.data.chefScheduled=[]
                        this.inputData.chefTeam =''
                        alert(`今天預約已滿`)
                    }else{
                        // 不用修改下拉選單團隊資料
                        this.data.chefScheduled = this.data.chefTeam
                    }
                             
                },
                 // 尚未填寫
                vaildAgress(){
                    return this.inputData.agress ==="" || this.inputData.agress == false
                } ,
                vaildSets(){
                    return this.inputData.sets ===""
                },
                vaildPeo(){
                    return this.inputData.peoCount ===""
                },
                vaildDate(){
                    return this.inputData.date ===""
                },
                vaildTime(){
                    return this.inputData.orderTime ===""
                },
                vaildTeam(){
                    return this.inputData.chefTeam ===""
                }
               

                // {
                //     'AGRESS':{
                //         ERROE:'尚未確認預約須知'
                //     },
                //     'AGRESS':{
                //         ERROE:'尚未確認預約須知'
                //     }
                // }
            },
            methods:{
                // 驗證使用者下拉選單
                vaildDataLists(e){
                    // console.log(this.inputData)

                    let vaildResult = []
                    for (const [key, value] of Object.entries(this.inputData)) {
                        // console.log(`${key}: ${value}`);
                        switch(key){
                            case 'agress':
                                if(value === '' || value === false){
                                    alert(`尚未確認預約須知`)
                                    vaildResult.push(false)
                                }else{
                                    vaildResult.push(true)
                                }
                                break;
                            case 'sets':
                                if(value === '' || value === false){
                                    alert(`套餐未選擇`)
                                    vaildResult.push(false)
                                }else{
                                    vaildResult.push(true)
                                }
                            break;
                            case 'peoCount':
                                if(value === '' || value === false){
                                    alert(`人數未選擇`)
                                    vaildResult.push(false)
                                }else{
                                    vaildResult.push(true)
                                }
                            break;
                            case 'date':
                                if(value === '' || value === false){
                                    alert(`預約日期未選擇`)
                                    vaildResult.push(false)
                                }else{
                                        vaildResult.push(true)
                                }
                            break;
                            case 'orderTime':
                                if(value === '' || value === false){
                                    alert(`預約時段未選擇`)
                                    vaildResult.push(false)
                                }else{
                                        vaildResult.push(true)
                                }
                            break;
                            case 'chefTeam':
                                if(value === '' || value === false){
                                    alert(`尚未選擇預約時段`)
                                    vaildResult.push(false)
                                }else{
                                    vaildResult.push(true)
                                }
                            break;
                        }
                        // if(!vaildResult) break;
                        // if(value === '' || value === false){
                        //     alert(`${key} : 請填選資料`)
                        //     break;
                        // }
                        
                    }

                    // 使用者六個項目有一個沒有就停止以下動作
                    if(vaildResult.includes(false))return

                    this.sentToNextPage();

                    // for(let good in this.inputData){
                    //     console.log(good)
                    //     console.log(this.inputDat.good)
                    // }
                    // this.saveLocalStroage()
                },
                saveLocalStroage(){
                    // console.log(`儲存使用者資訊`)
                    localStorage.setItem('reseverOrder',JSON.stringify(this.inputData))
                },
                sentToNextPage(){
                    let c  = confirm(`確認送出資料嗎?`)
                    if(c){
                        // 送出表單前儲存資訊
                        this.saveLocalStroage();
                        // console.log(`切換頁面並將資料送出`)
                        location.href = 'reseve02.html';
                    }
                },
               
            },
            mounted(){
                // 這邊之後要放入API
                // 要取得團隊名稱, 時段, 

                // localStroe 放入 
                let LS = JSON.parse(localStorage.getItem('reseverOrder'))
                if(LS !== null){
                    this.inputData  = LS
                }
            }
            
        });
        app.mount("#reseve_detail");
    </script>

</body>

</html>