<!DOCTYPE html>
<html lang="en">
    <head>
        @@include('layout/meta.html', { "title": "私覓SMEET-e.購物商城", })
        <link rel="stylesheet" href="./css/style.css"/>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    </head>

    <body>
        @@include('layout/header_01.html')
        <!-- banner -->
        @@include('layout/banner.html',{
            "title":"SHOP",
            "src":"./img/shopmall_img/shopmall_headbanner.jpg"
        })
        <main class="wrapper shopMall" id="app" @click="xxx()">
            <!-- 商城tab+排序 -->
            <div class="shop_up">
                <!-- tab -->
                <!-- <ul class="shop_tab">
                    <li class="shop_tabItem" >
                        <a href="" data-tablink="one" class="on_tab"><h6>主食</h6></a>
                    </li>
                    <li class="shop_tabItem">
                        <a href="" data-tablink="two"><h6>湯品</h6></a>
                    </li>
                    <li class="shop_tabItem">
                        <a href="" data-tablink="three"><h6>甜品</h6></a>
                    </li>
                </ul> -->
                <ul class="shop_tab " style="margin-top: 100px;">
                    <template v-for="tab in shopMall_tab">
                        <li class="shop_tabItem" >
                            <a href="" 
                            class="green-1" 
                            @click.prevent 
                            @click="current_tab = tab.id" 
                            :class="{ on_tab : current_tab ===  tab.id}"><h6>{{ tab.name }}</h6></a>
                        </li>
                    </template>
                </ul>

                <!-- 商品排序 -->
                <select name="" id="">
                    <option value="none" selected disabled hidden>商品排序</option> 
                    <option value="最新">最新</option>
                    <option value="價格：由高到低">價格：由高到低</option>
                    <option value="價格：由低到高">價格：由低到高</option>
                </select>
            </div>
            <!-- 商城卡片 -->
            <section class="collect_section ">

                <ul id="three" class="tab-inner">
                    <template 
                    v-for="(item, i) in filtered_list" 
                    :key="item.name">
                
                        <li class="collect_list" data-inside="true">
                            <div>
                                <div class="product_img" data-inside="true">
                                    <a href="./shopMallDetail.html" data-inside="true">
                                        <img :src="item.img" alt="" data-inside="true">
                                    </a>
                                    <i class="fa-solid fa-heart"
                                    :class="{shopMall_checkHeart: item.heart}" 
                                    @click="collect_heart(item)"
                                    data-inside="true"></i>
                                </div>
                                <div class="product_content green-1" data-inside="true">
                                    <h6 class="product_title" data-inside="true">{{ item.name }}</h6>
                                    <p class="font16" data-inside="true">$<span class="product_money" data-inside="true">{{ item.price }}</span></p>
                                    <button type="button" class="cart_link" href="" data-inside="true">
                                        <i class="fa-solid fa-cart-shopping" 
                                        @click="shopCar(item.id, item.name, item.price, item.img)"
                                        data-inside="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </template>

            </section>

            <!-- 收藏燈箱 -->
            <div class="wrapper overlay1" v-if="success_popup !== '' ">
                
                <article>
                    <div class="check_text">
                        <i class="fa-solid fa-circle-check"></i>
                        <h6 >{{success_popup}}</h6> 
                    </div>
                </article>
            </div>


            <!-- cart 燈箱 -->
            <div class="wrapper product_pop" id="product_pop" v-if="isShow" @click="popUp_Close()" :class="{shopMallOverfloat : isShow}">
                <div class="container" :data-id="this.popupData.id" @click="popUp_ClosePreventD(e)">
                    <i class="fa-solid fa-xmark" id="close_popUp" @click="close_popUp()"></i>
                    <div class="img_product">
                        <img :src="popupData.img" alt="">
                    </div>
                    <h6>{{popupData.name}}</h6>
                    <p class="font16">$<span class="money_pop">{{popupData.price}}</span></p>
                    <div class="count_btn">
                        <div class="plus_minus">
                            <!-- 的methods -->
                            <div class="minus"><i class="fa-solid fa-minus" @click=""></i></div>
                            <div class="number">{{popupData.amount}}</div>
                            <!-- 減少的methods -->
                            <div class="plus"><i class="fa-solid fa-plus" @click=""></i></div>
                        </div>
                        <button type="button" class="inCart_btn1">加入購物車</button>
                    </div>
                </div>
            </div>
        </main>



        
        

        @@include('layout/footer.html')
        <script src="./js/vender/Vue/vue.global.js"></script>
        <script src="./js/vender/Jquery/jquery-3.6.1.js"></script>
        <script>



            const app = Vue.createApp({
                data(){
                    return{

                        // 當點擊購物車將菜單中的資料抓進來，彈窗顯示這裡的資料
                        popupData: {
                            id: "",
                            img: "",
                            name: "",
                            price: "",
                            amount: 1
                        },

                        // 控制popup開關
                        isShow:false, 

                        // 清空原本分頁資料
                        success_popup_interval:null,
                        success_popup:'',

                        // 當前分頁狀態
                        current_tab: "tab1",

                        // 現有分頁的data
                        shopMall_tab:[
                            {
                                id: "tab1",
                                name:"主食"
                            },
                            {
                                id: "tab2",
                                name:"湯品"
                            },
                            {
                                id: "tab3",
                                name:"甜品"
                            }
                        ],
                        
                        // 商品清單假資料
                        MealsInfo: [
                            {
                                category:'tab1',
                                id: "1",
                                img: "./img/shopmall_img/shopmall_product01.jpg",
                                heart: false,
                                name: "黑鮪刺身",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab1',
                                id: "2",
                                img: "./img/shopmall_img/shopmall_product02.jpg",
                                heart: false,
                                name: "北海道海膽壽司",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab1',
                                id: "3",
                                img: "./img/shopmall_img/shopmall_product03.jpg",
                                heart: false,
                                name: "蘆筍蝦手捲",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab2',
                                id: "4",
                                img: "./img/shopmall_img/shopmall_product04.jpg",
                                heart: false,
                                name: "極品生魚片",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab2',
                                id: "5",
                                img: "./img/shopmall_img/shopmall_product05.jpg",
                                heart: false,
                                name: "番茄海鮮清湯",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab2',
                                id: "6",
                                img: "./img/shopmall_img/shopmall_product06.jpg",
                                heart: false,
                                name: "奶香牛肝菌野菇濃湯",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab3',
                                id: "7",
                                img: "./img/shopmall_img/shopmall_product07.jpg",
                                heart: false,
                                name: "手沖牛肉湯",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab3',
                                id: "8",
                                img: "./img/shopmall_img/shopmall_product08.jpg",
                                heart: false,
                                name: "酒焰龍蝦盛宴",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                            {
                                category:'tab3',
                                id: "9",
                                img: "./img/shopmall_img/shopmall_product10.jpg",
                                heart: false,
                                name: "繡球花和菓子",
                                price: "700",
                                collectTime: new Date(),
                                amount:1
                            },
                        ],
                    };
                },
                computed: {
                    // 原本菜單陣列依照curren_tab過濾
                    filtered_list(){
                        const filtered =  this.MealsInfo.filter((post) => {
                        return this.current_tab === post.category
                            // return  post.title.toLowerCase().includes(this.keyword.toLowerCase());
                        });
                        return filtered
                    }
                },

                methods: {
                    
                    // 點擊 X 關閉popUp並清空資料
                    popUp_xClose(id, name, price, img){
                        
                        // 關閉popUp
                        this.isShow = false;
                        // 清空資料
                        this.popupData.name = ""
                        this.popupData.id = ""
                        this.popupData.price = ""
                        this.popupData.img = ""
                    },
                    // FIXME 怎麼觸及燈箱以外的地方，就可以讓燈箱關閉（目前在html結構上加上data-inside=”true“來判斷），但是這樣會報錯
                    // xxx(){
                    //     const target = e.target

                    //     if (!target.matches('[data-inside]')) { 
                    //         this.isShow = false;
                    //     }
                    // },

                    
                    // 點擊加入購物車 資料存到 loacalStorage，且關閉popUp

                    

                    // 清空popUp資料

                    // 增加加商品數量

                    // 減少商品數量

                    // 點擊購物車 icon 後 顯示 popUp
                    shopCar(id, name, price, img){
                        // 開啟popUp
                        this.isShow = true;
                        // console.log(id, name, price, img);

                        // asign 資料到popUp
                        this.popupData.name = name
                        this.popupData.id = id
                        this.popupData.price = price
                        this.popupData.img = img

                        // 增加overfloat：hidden，使其不能滾動及點擊其他項目

                    },

                    // 商品愛心 收藏 及 移除
                    collect_heart(item){
                        // 加减爱心
                        console.log(item.heart);
                        if(item.heart == true){
                            item.heart = false;
                            this.success_popup = '移除收藏成功'
                        }else{
                            item.heart = true;
                            this.success_popup = '加入收藏成功'
                        }
                        // 收藏成功 PopOn
                        clearInterval(this.success_popup_interval)
                        this.success_popup_interval = setInterval(() => {
                            this.success_popup= ''
                        }, 1000);

                    }
                },
            });

            const vm = app.mount("#app");

            


        </script>
    </body>
</html>