<!DOCTYPE html>
<html lang="en">
    <head>
        @@include('layout/meta.html', { "title": "私覓SMEET-商品詳情", })
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="./css/style.css"/>
    </head>
    <body class="shop-page">
        <!--         ------  slide_header  ------          -->
        @@include('layout/header_01.html')

        <div class="wrapper shopMallDetail" style="margin-top: 80px;" id="app">
            <!-- 商品詳情 -->
            <div class="shop_product">
                <!-- 左邊小圖換大圖 -->

                <div class="left_img">
                    <img class="big" ref="bigbig" :src="img_info.img[current_img]" alt="" title="pic1">
                    <img class="small" :src="img" alt="" title="pic1"  @click="current_img = key" v-for="(img,key) in img_info.img">
                </div>
                
                <!-- 右邊標題 -->               
                <div class="right_text">
                    <h3 class="green-1 title" >{{shopMallDetailInfo.Name}}</h3>
                    <p class="font18 summary">{{ shopMallDetailInfo.shopPoint}}</p>
                    <div class="money_love">
                        <h3>$<span>{{ shopMallDetailInfo.Price }}</span></h3>
                        <i class="fa-solid fa-heart" 
                        :class="{shopMallDetail_checkHeart: shopMallDetailInfo.heart}" 
                        @click="detailAddCollectLogin_check(shopMallDetailInfo)"
                        ></i> 
                    </div>
                    <!-- 加減數量 -->
                    
                    <div class="cart_minus_plus">
                        <div class="minus" @click="qtyMinus()">
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        <div class="count">{{ shopMallDetailInfo.qty}}</div>
                        <div class="plus" @click="qtyPlus()">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <!-- 按鈕(加入購物車/立即結帳) -->
                    <div class="btn_add_buy">
                        <button class="inCart_btn2 add" @click="addShoppingCart1(shopMallDetailInfo)">加入購物車</button>
                        <button class="inCart_btn2 buy" @click="addShoppingCart_check(shopMallDetailInfo)" href="./cartDetail.html">立即結帳</button>
                    </div>
                </div>
            </div>
            <!-- 中間商品詳情簡介 -->
            <div class="shopmall_product_content">
                <p class="title font16 gray">商品詳情簡介</p>
                <p class="text font18">{{shopMallDetailInfo.Introduction}}</p>
            </div>




            <!-- ====================== // 下面需要篩選最新的商品資料 ====================== -->
            
            <!-- 最後最新商品 -->
            <div class="collect_section new_product">
                <h6 class="new_product_title">最新商品</h6>
                <ul class="">
                    <template 
                    v-for="(item, i) in latestProduct" 
                    :key="item.Name">
                
                        <a class="collect_list" data-inside="true" :href="'./shopMallDetail.html?ID='+ item.ID">
                            <div>

                                <div class="product_img" data-inside="true">
                                    <img :src="item.IMG[0]" alt="" data-inside="true">
                                    <i class="fa-solid fa-heart"
                                    @click.prevent
                                    :class="{shopMall_checkHeart: item.heart}" 
                                    @click="addCollectLogin_check(item)"
                                    data-inside="true"></i>
                                </div>

                                <div class="product_content green-1" data-inside="true">
                                    <h6 class="product_title" data-inside="true">{{ item.Name }}</h6>
                                    <p class="font16" data-inside="true">$<span class="product_money" data-inside="true">{{ item.Price }}</span></p>
                                    <button type="button" class="cart_link" href="" data-inside="true">
                                        <i class="fa-solid fa-cart-shopping" 
                                        @click="shopCar(item.ID, item.Name, item.Price, item.IMG, item.qty)"
                                        @click.prevent
                                        data-inside="true"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </template>
                    
                </ul>
            </div>

            <!-- ========== 購物車 加入成功 & 移除成功 燈箱 ========== -->
            <div class="overlay1" :class="{ product_popNone : shopCartsuccess_popup ==''}"  v-if="shopCartsuccess_popup !== ''" style="display: none;" :style="success_popup !== '' ? 'display:block' : 'display:none'">
                
                <article>
                    <div class="check_text">
                        <i class="fa-solid fa-circle-check"></i>
                        <h6 >{{shopCartsuccess_popup}}</h6> 
                    </div>
                </article>
            </div>

            <!-- 收藏 加入成功 & 移除成功 燈箱 -->
            <div class="overlay1" v-if="success_popup !== '' " style="display: none;" :style="success_popup !== '' ? 'display:block' : 'display:none'">
                
                <article>
                    <div class="check_text">
                        <i class="fa-solid fa-circle-check"></i>
                        <h6 >{{success_popup}}</h6> 
                    </div>
                </article>
            </div>

            <!-- cart 燈箱 -->
            <div class="product_pop" 
            id="product_pop" 
            v-if="isShow" 
            style="display: none;" 
            :style="isShow? 'display:block' : 'display:none'"
            @click="product_pop_close()"
            >
                <div class="container" :data-id="this.popupData.id" @click.stop>
                    <i class="fa-solid fa-xmark" id="close_popUp" @click="popUp_xClose(popupData.ID, popupData.Name, popupData.Price, popupData.IMG, popupData.qty)"></i>
                    <div class="img_product">
                        <img :src="popupData.IMG[0]" alt="">
                    </div>
                    <h6>{{popupData.Name}}</h6>
                    <p class="font16">$<span class="money_pop">{{popupData.Price}}</span></p>
                    <div class="count_btn">
                        <div class="plus_minus">
                            <!-- 的methods -->
                            <div class="minus" @click="popUpMinus(popupData.qty)"><i class="fa-solid fa-minus" @click=""></i></div>
                            <div class="number">{{popupData.qty}}</div>
                            <!-- 減少的methods -->
                            <div class="plus" @click="popUpPlus(popupData.qty)"><i class="fa-solid fa-plus" @click=""></i></div>
                        </div>
                        <button type="button" class="inCart_btn1" @click="addShoppingCart2(popupData)">加入購物車</button>
                    </div>
                </div>
            </div>

        </div>
        <!--         ------  no_img_footer  ------          -->
        @@include('layout/footer.html')
        
    <script src="js/vender/Jquery/jquery-3.6.1.js"></script>
    <script src="js/header.js"></script>
    <script src="js/vender/Vue/vue.global.prod.js"></script>
    <!-- <script src="js/vender/Vue/vue.global.js"></script> -->
    <script src="js/frontpage/cart_pop.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="js/frontpage/login.js"></script>
    <script src="js/frontpage/login_check.js"></script>
    <script>
        // header
        $(function () {

            $(".slide_ham").on("click", function () {
                // console.log("qwert");
                $(".header_bar").toggleClass("-on")
                $(".user_ham").toggleClass("-on")
            })
        })


        const app = Vue.createApp({

            data(){
                return{
                    // ========= popUp ========= //
                    // 控制卡片 popup 開關
                    isShow: false, 
                    

                    // 燈箱資料，資料源自 MealsInfo
                    popupData: {
                        ID: "",
                        IMG: "",
                        Name: "",
                        Price: "",
                        heart: "",
                        qty: "",
                    },

                    // ========= 收藏後的資料會帶到這裡 ========= //
                    collect_heart_data_list:[],

                    // ========= 點擊購物車的資料會帶到這裡 ========= //
                    // Detail的購物車
                    
                    ShoppingCartList: [],
                    
                    // ========= popUp ========= // 

                    // 控制popUp開關
                    success_popup:'',
                    shopCartsuccess_popup:'',
                    
                    // 清空原本popUp資料
                    success_popup_interval:null,

                    
                    // ========= 分頁 ========= // 

                        // 當前分頁狀態
                        current_tab: 8,

                        // 現有分頁的data
                        shopMall_tab:[
                            {
                                Type: 8,
                                name:"主食"
                            },
                            {
                                Type: 9,
                                name:"湯品"
                            },
                            {
                                Type: 10,
                                name:"甜品"
                            }
                        ],
                    current_img: 0, // 當前照片預設值
                    img_info:{
                        img:[]
                    },

                    // ===== AJAX傳入資料 ===== //
                    // 主要商品
                    shopMallDetailInfo: [],

                    // 最新商品
                    latestProduct:[]
                };
            },
            computed: {
                filtered_list(){
                        const filtered =  this.AjaxMealsInfo.filter((post) => {
                        // console.log(this.current_tab);
                        // console.log(post.Type);
                        // console.log(this.current_tab === post.Type);
                        return this.current_tab === post.Type
                            // return  post.title.toLowerCase().includes(this.keyword.toLowerCase());
                        });
                        return filtered
                    }

            },

            mounted() {
                // 主要商品data AJAX 傳入
                this.getCate();

                // 最新商品data AJAX 傳入
                this.getLatestProduct();

                // 同步購物車QTY
                this.ShopCartQty();

                // 進商品詳情頁就抓購物車資料
                this.getCartLocalStorage();
                
            },

            methods: {

                // ========== 共用區 ========== //

                // shoppingData 的 Storage不是空值就拿購物車資料，空值就不拿購物車資料
                getCartLocalStorage(){
                    let local_storage = localStorage.getItem("shoppingData")

                    if(local_storage){
                        let LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) 
                        
                        this.ShoppingCartList = LSGetItem;
                        // console.log('DETAIL:',LSGetItem)
                    }
                    
                },
                
                ShopCartQty(){
                    let car_num = document.getElementById('car_num');
                    let car_num2 = document.getElementById('car_num2');

                    const LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) 
                    // console.log(LSGetItem.length);
                    // 如果 this.ShoppingCartList 有商品，就渲染購物車 icon
                    if(LSGetItem == [] || LSGetItem == "" || LSGetItem == null){
                        // 判斷當前頁面,清空對應qty
                        if (document.location.href.includes('index_home.html')) {
                            car_num2.classList.add('none');
                            car_num2.innerHTML ="";

                            car_num.classList.add('none');
                            car_num.innerHTML = "";
                        }else{
                            car_num.classList.add('none');
                            car_num.innerHTML = "";
                        }
                    }else{
                        // 判斷當前頁面，並同步Vue.$data.shoppingCarList
                        if (document.location.href.includes('index_home.html')) {
                            let car_num2 = document.getElementById('car_num2');
                            car_num2.classList.remove('none');
                            car_num2.innerHTML = LSGetItem.length;

                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;

                        }else if(document.location.href.includes('shopMall.html')){
                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;
                            
                        }else if(document.location.href.includes('shopMallDetail.html')){
                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;
                        }
                    }
                },

                // 立即結帳前檢查是否登入會員，已登入就跳轉畫面到結賬頁面
                addShoppingCart_check(shopMallDetailInfo){    
                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/login_check.php",
                        data:{},            
                        dataType: "text",
                        success: (response) => {
                            if(response == ""){
                                //尚未登入->跳出會員登入畫面
                                login_pop();
                            }else{
                                

                                const addCartListEl = JSON.parse(JSON.stringify(shopMallDetailInfo)) 
                                // console.log(addCartListEl.IMG[0]);

                                let obj = addCartListEl
                                obj.IMG = addCartListEl.IMG[0]
                                // console.log(obj);

                                if(this.ShoppingCartList.length !==0){
                                    
                                    // ID 重複
                                    let result = false;
                                    let idx = null;

                                    for(let i = 0; i < this.ShoppingCartList.length;i++){

                                        if(this.ShoppingCartList[i].ID === obj.ID){
                                            result = true;
                                            idx = i
                                        }
                                    }    
                                    if(result){
                                        this.ShoppingCartList[idx].qty += obj.qty
                                    }else{

                                        this.ShoppingCartList.push(obj)    
                                    }
                                
                                }else{
                                    this.ShoppingCartList.push(obj)
                                }

                                // 商品加到 Storage
                                localStorage.setItem("shoppingData", JSON.stringify(this.ShoppingCartList))
                                                
                                // 改變shoppingcar QTY
                                ShoppingCartQty();

                                // 轉網址到結賬頁面     
                                this.addlocation();
                            }              
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },


                // 取得商品清單
                getCate(){    
                    // 將 id 以 AJAX方式 傳到 API，API抓資料庫資料，再傳到前台渲染
                    let urlParams = new URLSearchParams(window.location.search);
                    let DetailData = urlParams.get('ID');
                    // console.log(DetailData);
                    $.ajax({            
                        method: "POST",
                        url: "./php/frontpage/shopMallDetail.php",
                        data:{
                            ID: DetailData // 变数
                        },            
                        dataType: "json",
                        success: (response) =>{
                            if(response != ""){
                                
                                // 將qty及heart資料帶入，變成新陣列
                                const adjusted_res = response.map((x) => {
                                    x.heart = false
                                    x.qty = 0  // 預設值: 在消費者行為前為 0
                                    return x
                                });
                                // 調整後的data 回傳到 AjaxMealsInfo 陣列
                                this.shopMallDetailInfo = adjusted_res[0];
                                
                                // 將 qty 預設設定為 1
                                this.shopMallDetailInfo.qty = 1;

                                // 將 response 的 IMG 字串轉陣列
                                const adjusted_IMG = response[0].IMG.split(" ");
                                // console.log(adjusted_IMG)

                                // 將調整過的 IMG 陣列回傳至 shopMallDetailInfo 的 IMG Key
                                this.img_info.img = adjusted_IMG;

                                // 將調整過的 IMG 陣列回傳至 shopMallDetailInfo
                                this.shopMallDetailInfo.IMG = adjusted_IMG;
                            }                
                            this.selectCollections1()
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                // 取得最新商品清單
                getLatestProduct(){    

                    $.ajax({            
                        method: "GET",
                        url: "./php/frontpage/shopMall_latestProduct.php",
                        data:{},            
                        dataType: "json",
                        success: (response) =>{
                            if(response != ""){
                                // console.log(response);
                                // 將qty及heart資料帶入，變成新陣列
                                const adjusted_res = response.map((x) => {
                                    x.heart = false
                                    x.qty = 0  // 預設值: 在消費者行為前為 0
                                    return x
                                });
                                // 調整後的data 回傳到 AjaxMealsInfo 陣列
                                this.latestProduct = adjusted_res;
                                // console.log(this.AjaxMealsInfo);
                                
                                // 將三張 img 轉陣列並塞回 data
                                let xxx = this.latestProduct;
                                for(let i =0; i < xxx.length; i++){

                                    // 將img存到新陣列
                                    let img = this.latestProduct[i].IMG
                                    
                                    const imgs = img.split(" ");

                                    // 回傳AjaxMealsInfo
                                    this.latestProduct[i].IMG = imgs
                                } 

                                this.selectCollections2();

                                // console.log(this.latestProduct); //物件
                                
                            }                
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },


                // ========== 購物車行為 ========== //

                // 詳情商品加入購物車
                addShoppingCart1(shopMallDetailInfo){

                    const addCartListEl = JSON.parse(JSON.stringify(shopMallDetailInfo)) 
                    // console.log(addCartListEl.IMG[0]);

                    let obj = addCartListEl
                    obj.IMG = addCartListEl.IMG[0]
                    // console.log(obj);

                    if(this.ShoppingCartList.length !==0){
                        
                        // ID 重複
                        let result = false;
                        let idx = null;

                        for(let i = 0; i < this.ShoppingCartList.length;i++){

                            if(this.ShoppingCartList[i].ID === obj.ID){
                                result = true;
                                idx = i
                            }
                        }    
                        if(result){
                            this.ShoppingCartList[idx].qty += obj.qty
                        }else{

                            this.ShoppingCartList.push(obj)    
                        }
                    
                    }else{
                        this.ShoppingCartList.push(obj)
                    }

                    // 商品加到 Storage
                    localStorage.setItem("shoppingData", JSON.stringify(this.ShoppingCartList))
                    
                                    
                    // 改變shoppingcar QTY
                    ShoppingCartQty();

                },
                ShoppingCartQty(){
                    let car_num = document.getElementById('car_num');
                    let car_num2 = document.getElementById('car_num2');
                    const LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) 
                    console.log(LSGetItem.length);
                
                    // 如果 this.ShoppingCartList 有商品，就渲染購物車 icon
                    if(LSGetItem == [] || LSGetItem == "" || LSGetItem == null){
                        car_num.innerHTML = "";
                        car_num2.innerHTML = "";
                        return ;
                    }else{
                        // 判斷當前頁面，並同步Vue.$data.shoppingCarList
                        if (document.location.href.includes('index_home.html')) {
                            car_num2.classList.remove('none');
                            car_num2.innerHTML = LSGetItem.length;

                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;
                        }else{
                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;
                        }
                    }
                },

                // 詳情商品數量加
                qtyPlus(){
                    // console.log(qty);
                    this.shopMallDetailInfo.qty ++;
                },
                // 詳情商品數量減
                qtyMinus(){
                    // console.log(qty);
                    if(this.shopMallDetailInfo.qty > 1){
                        this.shopMallDetailInfo.qty --;
                    }
                },

                // 轉址到購物車清單
                addlocation(){
                    location.href = './cartDetail.html'
                },

                // ========= 商品收藏 ========= //

                // 詳情收藏商品資料加入空陣列
                addCollectList(){
                    // push 到新的陣列以便存到 localStorage
                    this.collect_heart_data_list.push(this.shopMallDetailInfo);
                    // console.log(this.shopMallDetailInfo);
                },

                // 詳情收藏商品資料移除
                removeCollectList(){
                    this.collect_heart_data_list.shift(this.shopMallDetailInfo);
                },
                

                // 詳情收藏商品 愛心渲染
                selectCollections1(){    
                    const member_ID =localStorage.getItem("member_ID");
                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/member/collect_s.php",
                        data:{
                            member_ID
                        },            
                        dataType: "text",
                        success: (response) => {
                            const adjusted_resp = JSON.parse(response)
                            // console.log(adjusted_resp);
                            
                            for (let index = 0; index < adjusted_resp.length; index++) {
                                const element = adjusted_resp[index];
                                const id = element.DishID
                                // console.log(id); // 資料庫favorite的ID
                                if(id === this.shopMallDetailInfo.ID){
                                    this.shopMallDetailInfo.heart = true;
                                }
                            }
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                // 詳情加入收藏前檢查是否登入會員
                detailAddCollectLogin_check(shopMallDetailInfo){    
                    
                    const member_ID =localStorage.getItem("member_ID");
                    const dish_ID = shopMallDetailInfo.ID ;
                    
                    // console.log(member_ID);
                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/login_check.php",
                        data:{},            
                        dataType: "text",
                        success:  (response)=>{
                            if(response == ""){
                                //尚未登入->跳出會員登入畫面
                                login_pop();
                                
                            }else{
                                //已有登入的話 執行.....
                                // 會員icon顯示
                                let user_pop = document.querySelector('.user_pop');
                                user_pop.classList.remove('none');
                                
                                // 如果收藏成功就insert資料
                                if(shopMallDetailInfo.heart == false){
                                    shopMallDetailInfo.heart = true;

                                    
                                    
                                    // insert收藏 
                                    $.ajax({            
                                        method: "POST",
                                        url: "php/frontpage/member/collect_i.php",
                                        data:{
                                            member_ID, // 這個變數的宣告在 login.js
                                            dish_ID
                                        },            
                                        dataType: "text",
                                        success: (response)=> {

                                            // 加入收藏 popUp
                                            this.success_popup = '加入收藏成功'
                                            // 
                                            let body = document.querySelector('body');
                                            body.style.overflow = "hidden";
                                        },
                                        error: function(exception) {
                                            alert("數據載入失敗: " + exception.status);
                                        }
                                    });

                                }else if(shopMallDetailInfo.heart == true){
                                    
                                    shopMallDetailInfo.heart = false;
                                    
                                    // 移除 Data
                                    this.removeCollectList(this.shopMallDetailInf)


                                    // delete收藏
                                    $.ajax({            
                                        method: "POST",
                                        url: "php/frontpage/member/collect_d.php",
                                        data:{
                                            member_ID: member_ID, // 這個變數的宣告在 login.js
                                            dish_ID: dish_ID
                                        },            
                                        dataType: "text",
                                        success: (response)=> {
                                            // 移除收藏 popUp
                                            this.success_popup = '移除收藏成功'
                                            let body = document.querySelector('body');
                                            body.style.overflow = "hidden";
                                            
                                        },
                                        error: function(exception) {
                                            alert("數據載入失敗: " + exception.status);
                                        }
                                    });
                                }
                                    
                                
                                

                                // // 收藏 & 移除 PopOn 消失
                                clearInterval(this.success_popup_interval)
                                this.success_popup_interval = setInterval(() => {
                                    this.success_popup= ''
                                    let body = document.querySelector('body');
                                    body.style.overflow = "auto";
                                }, 1000);
                            }              
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                

                // ================== 最新商品 ================== //

                // 點擊卡片購物車 icon 後 顯示 popUp
                shopCar(ID, Name, Price, IMG, qty){
                    // 開啟popUp
                    this.isShow = true;
                    
                    // 停止滑動
                    let body = document.querySelector('body');
                    body.style.overflow = "hidden";
                    
                    // asign 資料到popUp
                    this.popupData.ID = ID;
                    this.popupData.Name = Name;
                    this.popupData.Price = Price;
                    this.popupData.IMG = IMG;
                    this.popupData.qty = 1;

                },

                // 點擊 container 關掉 popUp
                product_pop_close(){
                    this.isShow = false;

                    // overfloat: auto
                    let body = document.querySelector('body');
                    body.style.overflow = "auto";
                },

                // 點擊卡片 X 關閉popUp並清空資料
                popUp_xClose(ID, Name, Price, IMG, heart, qty){

                    // 關閉popUp
                    this.isShow = false;
                    // 清空資料
                    this.popupData.qty = 1;

                    // overfloat: auto
                    let body = document.querySelector('body');
                    body.style.overflow = "auto";
                },

                // 卡片商品數量加
                popUpPlus(qty){
                    // console.log(qty);
                    this.popupData.qty ++;
                },
                // 卡片商品數量減
                popUpMinus(qty){
                    // console.log(qty);
                    if(this.popupData.qty > 1){
                        this.popupData.qty --;
                    }
                },

                
                // 卡片加入購物車
                addShoppingCart2(popupData){
                    
                    const addCartListEl =JSON.parse(JSON.stringify(popupData)) 
                    let obj = addCartListEl
                    obj.IMG = addCartListEl.IMG[0]

                    if(this.ShoppingCartList.length !==0){
                        
                        // ID 重複
                        let result = false;
                        let idx = null;

                        for(let i = 0; i < this.ShoppingCartList.length;i++){

                            if(this.ShoppingCartList[i].ID === addCartListEl.ID){
                                result = true;
                                idx = i
                            }
                        }    
                        if(result){
                            this.ShoppingCartList[idx].qty += addCartListEl.qty
                        }else{
                            this.ShoppingCartList.push(addCartListEl)    
                        }
                    
                    }else{
                        this.ShoppingCartList.push(addCartListEl)
                    }
                    // console.log(this.ShoppingCartList);

                    // 商品加到 Storage
                    localStorage.setItem("shoppingData", JSON.stringify(this.ShoppingCartList));

                    // 改變shoppingcar icon QTY
                    ShoppingCartQty();

                    // 控制購物車popUp
                    if(popupData != ""){
                        this.shopCartsuccess_popup = '加入購物車成功'
                        
                        // overfloat: hidden
                        let body = document.querySelector('body');
                        body.style.overflow = "hidden";
                    }
                    // PopOn 消失
                    clearInterval(this.success_popup_interval)
                    this.success_popup_interval = setInterval(() => {
                        this.shopCartsuccess_popup= ''
                        
                        // overfloat: auto
                        let body = document.querySelector('body');
                        body.style.overflow = "auto";
                    }, 1000);

                    // 關閉購物車
                    this.isShow = false;
                    // 數量回到初始值
                    this.popupData.qty = 1;
                },

                // ========= 商品收藏 ========= //


                 // 最新收藏商品 愛心渲染
                selectCollections2(){    
                    const member_ID =localStorage.getItem("member_ID");
                    
                    // console.log(this.latestProduct);

                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/member/collect_s.php",
                        data:{
                            member_ID
                        },            
                        dataType: "text",
                        success: (response) => {
                            const adjusted_resp = JSON.parse(response)
                            // console.log(adjusted_resp);
                            
                            for (let index = 0; index < adjusted_resp.length; index++) {
                                const element = adjusted_resp[index];
                                const id = element.DishID
                                // console.log(id);

                                
                                for (let i = 0; i < this.latestProduct.length; i++) {
                                    const element = this.latestProduct[i];
                                    // console.log(element);
                                    const latestProductID = element.ID;

                                    if(id === latestProductID){
                                        this.latestProduct[i].heart = true;
                                    }
                                }
                            }
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                // 卡片加入收藏前檢查是否登入會員
                addCollectLogin_check(item){
                    // 宣告 dish_ID
                    const dish_ID = item.ID
                    // console.log(dish_ID);
                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/login_check.php",
                        data:{},            
                        dataType: "text",
                        success:  (response)=>{
                            if(response == ""){
                                //尚未登入->跳出會員登入畫面
                                login_pop();
                            }else{
                                
                                // 如果收藏成功就insert資料
                                if(item.heart == false){

                                    item.heart = true;
                                    // 加入 data
                                    this.addCollectList(item)
                                    
                                    // insert收藏
                                    $.ajax({            
                                        method: "POST",
                                        url: "php/frontpage/member/collect_i.php",
                                        data:{
                                            member_ID: member_ID, // 這個變數的宣告在 login.js
                                            dish_ID: dish_ID
                                        },            
                                        dataType: "text",
                                        success: (response)=> {
                                            // 加入收藏 popUp
                                            this.success_popup = '加入收藏成功'

                                            // overfloat: hidden
                                            let body = document.querySelector('body');
                                            body.style.overflow = "hidden";
                                        },
                                        error: function(exception) {
                                            alert("數據載入失敗: " + exception.status);
                                        }
                                    });

                                }else if(item.heart == true){
                                    
                                    item.heart = false;
                                    // 移除 Data
                                    this.removeCollectList(item)


                                    // delete收藏
                                    $.ajax({            
                                        method: "POST",
                                        url: "php/frontpage/member/collect_d.php",
                                        data:{
                                            member_ID: member_ID, // 這個變數的宣告在 login.js
                                            dish_ID: dish_ID
                                        },            
                                        dataType: "text",
                                        success: (response)=> {
                                            // 移除收藏 popUp
                                            this.success_popup = '移除收藏成功'
                                            
                                            // overfloat: hidden
                                            let body = document.querySelector('body');
                                            body.style.overflow = "hidden";
                                        },
                                        error: function(exception) {
                                            alert("數據載入失敗: " + exception.status);
                                        }
                                    });
                                }
                                    
                                // 加入 Storage
                                localStorage.setItem("shopCollect", JSON.stringify(this.collect_heart_data_list));
                                

                                // // 收藏 & 移除 PopOn 消失
                                clearInterval(this.success_popup_interval)
                                this.success_popup_interval = setInterval(() => {
                                    this.success_popup= ''

                                    // overfloat: auto
                                    let body = document.querySelector('body');
                                    body.style.overflow = "auto";
                                }, 1000);
                            }              
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                
            },
        });

        const vm_shopmallDetail = app.mount("#app");

        
    </script>
    </body>
</html>