<!DOCTYPE html>
<html lang="en">
    <head>
        @@include('layout/meta.html', { "title": "私覓SMEET-線上商城", })
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="./css/style.css"/>
    </head>

    <body class="shop-page" >
        <!--         ------  slide_header  ------          -->
        @@include('layout/header_01.html')

        <!-- ========== banner component ========== -->
<div class="banner">
    <div class="wrapper">
        <h1 class="green-1 font_family_eng">SHOP</h1>
    </div>
    <div class="banner_container">
        <img src=./img/shopmall_img/shopmall_headbanner.jpg alt="" />
    </div>
</div>
        <main class="wrapper shopMall" id="app">
            <!-- ========== 商城tab+排序 ========== -->
            <div class="shop_up">
                <ul class="shop_tab " style="margin-top: 100px;">
                    <template v-for="tab in shopMall_tab" :key="tab.id">
                        <li class="shop_tabItem" >
                            <a href="" 
                            class="green-1" 
                            @click.prevent 
                            @click="current_tab = tab.Type" 
                            :class="{ on_tab : current_tab ===  tab.Type}"><h6>{{ tab.name }}</h6></a>
                        </li>
                    </template>
                </ul>

                <!-- ========== 商品搜尋 ========== -->
                <div class="search">
                    <div class="search_container_item">
                        <input type="text" placeholder="請輸入商品名稱..." @keyup="search" ref="search_name"/>
                    </div>
                    <div class="search_container_item" @click="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                
                
                <!-- ========== 商品排序 ========== -->
                <!-- <select name="" id="">
                    <option value="none" selected disabled hidden>商品排序</option> 
                    <option value="最新">最新</option>
                    <option value="價格：由高到低">價格：由高到低</option>
                    <option value="價格：由低到高">價格：由低到高</option>
                </select> -->
                
            </div>
            
            <!-- ========== 商城卡片 ========== -->
            <section class="collect_section ">

                <ul class="tab-inner">
                    
                    <template 
                    v-for="(item, i) in filtered_list" 
                    :key="item.ID">
                
                        <a class="collect_list" :href="'./shopMallDetail.html?ID='+ item.ID">
                            <div class="product_list">
                                
                                <div class="product_img">
                                    <img :src="item.IMG[0]" alt="">
                                    <i class="fa-solid fa-heart"
                                    :class="{shopMall_checkHeart: item.heart}" 
                                    @click="addCollectLogin_check(item)"
                                    @click.prevent
                                    ></i>
                                    
                                </div>
                                <div class="product_content green-1">
                                    
                                    <h6 class="product_title">{{item.Name}}</h6>
                                    <p class="font16">$<span class="product_money">{{ item.Price}}</span></p>
                                    <button type="button" class="cart_link" href="">
                                        <i class="fa-solid fa-cart-shopping" 
                                        @click="shopCar(item.ID, item.Name, item.Price, item.IMG[0], item.heart, item.qty)"
                                        @click.prevent
                                        ></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </template>
                </ul>
            </section>

            <!-- ========== 購物車 加入成功 & 移除成功 燈箱 ========== -->
            <div class="overlay1" :class="{ product_popNone : shopCartsuccess_popup ==''}"  v-if="isShow2" style="display: none;" :style="isShow2 ? 'display:block' : 'display:none'">
                
                <article>
                    <div class="check_text">
                        <i class="fa-solid fa-circle-check"></i>
                        <h6 >{{shopCartsuccess_popup}}</h6> 
                    </div>
                </article>
            </div>

            <!-- ========== 收藏 加入成功 & 移除成功 燈箱 ========== -->
            <div class="overlay1" :class="{ product_popNone : success_popup ==''}"  v-if="isShow2" style="display: none;" :style="isShow2 ? 'display:block' : 'display:none'">
                
                <article>
                    <div class="check_text">
                        <i class="fa-solid fa-circle-check"></i>
                        <h6 >{{success_popup}}</h6> 
                    </div>
                </article>
            </div>


            <!-- ========== cart 燈箱 ========== -->
            <div class="product_pop" 
            :class="{ product_popNone : isShow == false}" id="product_pop"
            v-if="isShow"
            @click="product_pop_close()"
            style="display: none;" :style="isShow ? 'display:block' : 'display:none'">
                <div class="container" id="product_pop_container" @click.stop>
                    <i class="fa-solid fa-xmark" id="close_popUp" @click="popUp_xClose(popupData.ID, popupData.Name, popupData.Price, popupData.IMG, popupData.heart, popupData.qty)"></i>
                    <div class="img_product">
                        <img :src="popupData.IMG" alt="">
                    </div>
                    <h6>{{popupData.Name}}</h6>
                    <p class="font16">$<span class="money_pop">{{popupData.Price}}</span></p>
                    <div class="count_btn">
                        <div class="plus_minus">
                            <!-- 的methods -->
                            <div class="minus" @click="popUpMinus(popupData.qty)"><i class="fa-solid fa-minus"></i></div>
                            <div class="number">{{popupData.qty}}</div>
                            <!-- 減少的methods -->
                            <div class="plus" @click="popUpPlus(popupData.qty)"><i class="fa-solid fa-plus"></i></div>
                        </div>
                        <button type="button" class="inCart_btn1" @click="addShoppingCart(popupData)">加入購物車</button>
                    </div>
                </div>
            </div>
        </main>



        
        

        <!--         ------  no_img_footer  ------          -->

@@include('layout/footer.html')
<script src="js/vender/Jquery/jquery-3.6.1.js"></script>
<script src="js/header.js"></script>
<script src="js/vender/Vue/vue.global.prod.js"></script>
<!-- <script src="js/vender/Vue/vue.global.js"></script> -->
<script src="js/frontpage/cart_pop.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="js/frontpage/login.js"></script>
<script src="js/frontpage/login_check.js"></script>
    <script>
        // 導覽列
        // console.log(ShoppingCartQty);
        $(function () {

            $(".slide_ham").on("click", function () {
                $(".header_bar").toggleClass("-on")
                $(".user_ham").toggleClass("-on")
            })
        })
            

            

        const app = Vue.createApp({

            data(){
                return{
                    // ========= popUp ========= //
                    // 控制卡片 popup 開關
                    isShow: false, 
                    isShow2: false, 

                    // 燈箱資料，資料源自 AjaxMealsInfo
                    popupData: {
                        ID: "",
                        IMG: "",
                        Name: "",
                        Price: "",
                        heart: "",
                        qty: "",
                    },

                    // ========= 收藏後的資料會帶到這裡 ========= //
                    collect_heart_data_list:[],

                    // ========= 點擊加入購物車的資料會帶到這裡 ========= //
                    ShoppingCartList: [],

                    // ========= popUp ========= // 

                    // 控制popUp開關
                    success_popup:'',
                    shopCartsuccess_popup:'',

                    // 清空原本popUp資料
                    success_popup_interval:null,


                    // ========= 分頁 ========= // 

                    // 當前分頁狀態
                    current_tab: 8,

                    // 現有分頁的data
                    shopMall_tab:[
                        {
                            Type: 8,
                            name:"主食"
                        },
                        {
                            Type: 9,
                            name:"湯品"
                        },
                        {
                            Type: 10,
                            name:"甜品"
                        }
                    ],


                    // ========= AJAX傳入 所有商品資料 ========= //
                    AjaxMealsInfo: [],
                };
            },
            

            computed: {
                // ========= 原本菜單陣列依照curren_tab過濾 ========= //
                filtered_list(){
                    let filtered =  this.AjaxMealsInfo.filter((post) => {

                        // console.log(this.current_tab);
                        // console.log(post.Type);
                        // console.log(this.current_tab == post.Type);
                        
                        return parseInt(this.current_tab) == parseInt(post.Type);

                        // return  post.title.toLowerCase().includes(this.keyword.toLowerCase());
                        
                    });
                    return filtered
                }
            },
        

            mounted() {
                
                // 主要商品data AJAX 傳入
                this.getCate();

                // 進商品詳情頁就抓購物車資料
                this.getCartLocalStorage();

            },

            methods: {
                // ========== 共用區 ========== //

                // shoppingData 的 Storage不是空值就拿購物車資料，空值就不拿購物車資料
                getCartLocalStorage(){
                    const local_storage = localStorage.getItem("shoppingData");

                    if(local_storage){
                        const LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) ;

                        this.ShoppingCartList = LSGetItem;
                        // console.log('Mall LS:',LSGetItem)
                    }
                },

                // ========= AJAX ========= //
                
                // 最新收藏商品 愛心渲染
                selectCollections(){    
                    const member_ID = localStorage.getItem("member_ID");
                    
                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/member/collect_s.php",
                        data:{
                            member_ID
                        },            
                        dataType: "text",
                        success: (response) => {
                            const adjusted_resp = JSON.parse(response)
                            // console.log(adjusted_resp);
                            
                            for (let index = 0; index < adjusted_resp.length; index++) {
                                const element = adjusted_resp[index];
                                const id = element.DishID
                                // console.log(id);

                                for (let i = 0; i < this.AjaxMealsInfo.length; i++) {
                                    const element = this.AjaxMealsInfo[i];
                                    // console.log(element);
                                    const AjaxMealsInfoID = element.ID;

                                    if(id === AjaxMealsInfoID){
                                        this.AjaxMealsInfo[i].heart = true;
                                    }
                                }
                            }
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                // 加入收藏前檢查是否登入會員
                addCollectLogin_check(item){    

                    const member_ID =localStorage.getItem("member_ID");
                    const dish_ID = item.ID ;
                    
                    // console.log(member_ID);
                    $.ajax({            
                        method: "POST",
                        url: "php/frontpage/login_check.php",
                        data:{},            
                        dataType: "text",
                        success:  (response)=>{
                            if(response == ""){
                                //尚未登入->跳出會員登入畫面
                                login_pop();
                                item.heart = false;
                            }else{
                                
                                // 如果收藏成功就insert資料
                                if(item.heart == false){
                                    item.heart = true;
                                    
                                    // insert收藏 
                                    $.ajax({            
                                        method: "POST",
                                        url: "php/frontpage/member/collect_i.php",
                                        data:{
                                            member_ID, // 這個變數的宣告在 login.js
                                            dish_ID
                                        },            
                                        dataType: "text",
                                        success: (response)=> {

                                            // 加入收藏 popUp
                                            this.success_popup = '加入收藏成功'
                                            this.isShow2 = true;
                                            
                                            let body = document.querySelector('body');
                                            body.style.overflow = "hidden";
                                        },
                                        error: function(exception) {
                                            alert("數據載入失敗: " + exception.status);
                                        }
                                    });

                                }else if(item.heart == true){
                                    
                                    item.heart = false;
                                    
                                    // 移除 Data
                                    this.removeCollectList(this.item);


                                    // delete收藏
                                    $.ajax({            
                                        method: "POST",
                                        url: "php/frontpage/member/collect_d.php",
                                        data:{
                                            member_ID: member_ID, // 這個變數的宣告在 login.js
                                            dish_ID: dish_ID
                                        },            
                                        dataType: "text",
                                        success: (response)=> {
                                            // 移除收藏 popUp
                                            this.success_popup = '移除收藏成功';
                                            this.isShow2 = true;
                                            let body = document.querySelector('body');
                                            body.style.overflow = "hidden";
                                            
                                        },
                                        error: function(exception) {
                                            alert("數據載入失敗: " + exception.status);
                                        }
                                    });
                                }

                                // 收藏 & 移除 PopOn 消失
                                clearInterval(this.success_popup_interval)
                                this.success_popup_interval = setInterval(() => {

                                    this.success_popup= '';
                                    let body = document.querySelector('body');
                                    body.style.overflow = "auto";
                                    this.isShow2 = false;
                                }, 1000);
                            }              
                        },
                        error: function(exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },


                // 取得商品清單
                getCate(){    
                    $.ajax({            

                        method: "GET",
                        url: "./php/frontpage/shopMall.php",
                        data:{},
                        dataType: "json",
                        success: (response)=> {
                            if(response != ""){
                                // console.log(response);

                                // 將qty及heart資料帶入，變成新陣列
                                const adjusted_res = response.map((x) => {
                                    x.heart = false
                                    x.qty = 0  // 預設值: 在消費者行為前為 0
                                    return x
                                });

                                // 調整後的data 回傳到 AjaxMealsInfo 陣列
                                this.AjaxMealsInfo = adjusted_res;
                                // console.log(this.AjaxMealsInfo);
                                
                                // 將三張 img 轉陣列並塞回 data
                                let xxx = this.AjaxMealsInfo;
                                for(let i =0; i < xxx.length; i++){

                                    // 將img存到新陣列
                                    let img = this.AjaxMealsInfo[i].IMG
                                    const imgs = img.split(" ");

                                    // 回傳AjaxMealsInfo
                                    this.AjaxMealsInfo[i].IMG = imgs
                                    // console.log(this.AjaxMealsInfo[i].IMG);
                                }
                                
                                this.selectCollections();
                            }                
                        },
                        error: (exception)=> {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },

                // ========= 購物車行為 ========= //

                // 點擊卡片購物車 icon 後 顯示 popUp
                shopCar(ID, Name, Price, IMG, qty){

                    // 開啟popUp
                    this.isShow = true;

                    // overfloat: hidden
                    let body = document.querySelector('body');
                    body.style.overflow = "hidden";

                    // 將 Mealinfo 的資料賦值到 popUpData
                    this.popupData.Name = Name
                    this.popupData.ID = ID
                    this.popupData.Price = Price
                    this.popupData.IMG = IMG
                    this.popupData.qty = 1 // 預設值 1
                },
                
                // 點擊 container 關掉 popUp
                product_pop_close(){
                    this.isShow = false;

                    // overfloat: auto
                    let body = document.querySelector('body');
                    body.style.overflow = "auto";
                },

                // 點擊 X 關閉popUp並清空資料
                popUp_xClose(ID, Name, Price, IMG, heart, qty){

                    // overfloat: auto
                    let body = document.querySelector('body');
                    body.style.overflow = "auto";
                    

                    // 關閉popUp
                    this.isShow = false;
                    // 清空資料
                    this.popupData.qty = 1;
                },

                // 商品數量加
                popUpPlus(qty){

                    // console.log(qty);
                    this.popupData.qty ++;
                },
                // 商品數量減
                popUpMinus(qty){

                    // console.log(qty);
                    if(this.popupData.qty > 1){
                        this.popupData.qty --;
                    }
                },
    

                

                // 商品加入購物車
                addShoppingCart(popupData){

                    const addCartListEl =JSON.parse(JSON.stringify(popupData)) 
                    // const LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) 

                    if(this.ShoppingCartList.length !==0){
                        // ID 重複
                        let result = false;
                        let idx = null;

                        for(let i = 0; i < this.ShoppingCartList.length;i++){

                            if(this.ShoppingCartList[i].ID === addCartListEl.ID){
                                result = true;
                                idx = i
                            }
                        }    
                        if(result){
                            this.ShoppingCartList[idx].qty += addCartListEl.qty
                        }else{
                            this.ShoppingCartList.push(addCartListEl)    
                        }
                    
                    }else{
                        this.ShoppingCartList.push(addCartListEl)
                    }

                    // 商品加到 Storage
                    localStorage.setItem("shoppingData", JSON.stringify(this.ShoppingCartList))

                    // 改變shoppingcar icon QTY
                    ShoppingCartQty();
                    
                    // popUp
                    if(popupData != ""){

                        this.shopCartsuccess_popup = '加入購物車成功';

                        // overfloat: hidden
                        let body = document.querySelector('body');
                        body.style.overflow = "hidden";
                    }

                    // PopOn 消失
                    clearInterval(this.success_popup_interval);

                    this.success_popup_interval = setInterval(() => {
                        this.shopCartsuccess_popup= '';

                        // overfloat: auto
                        let body = document.querySelector('body');
                        body.style.overflow = "auto";

                    }, 1000);

                    // 關閉購物車
                    this.isShow = false;
                    this.popupData.qty = 1;

                    
                },
                ShoppingCartQty(){
                    let car_num = document.getElementById('car_num');
                    let car_num2 = document.getElementById('car_num2');
                    const LSGetItem = JSON.parse(localStorage.getItem("shoppingData")) 
                    console.log(LSGetItem.length);
                
                    // 如果 this.ShoppingCartList 有商品，就渲染購物車 icon
                    if(LSGetItem == [] || LSGetItem == "" || LSGetItem == null){
                        car_num.innerHTML = "";
                        car_num2.innerHTML = "";
                        return ;
                    }else{
                        // 判斷當前頁面，並同步Vue.$data.shoppingCarList
                        if (document.location.href.includes('index_home.html')) {
                            car_num2.classList.remove('none');
                            car_num2.innerHTML = LSGetItem.length;

                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;
                        }else{
                            car_num.classList.remove('none');
                            car_num.innerHTML = LSGetItem.length;
                        }
                    }
                },

                // ========= 商品收藏 ========= //

                // 收藏商品資料加入空陣列
                addCollectList(item){
                    // console.log(item);
                    // push 到新的陣列以便存到 localStorage
                    this.collect_heart_data_list.push(item);
                    // console.log(this.collect_heart_data_list);
                },

                // 收藏商品資料移除
                removeCollectList(item){
                    this.collect_heart_data_list.shift(item);
                },
                

                // 商品愛心收藏及移除（樣式及提醒popUp）
                collect_heart(item){

                    // 加减爱心
                    // console.log(item.heart);
                    if(item.heart == true){
                        item.heart = false;
                        this.success_popup = '移除收藏成功'
                        this.isShow2 = true;
                        this.removeCollectList(item)
                        
                        // 使 scroll 無效
                        let body = document.querySelector('body');
                        body.style.overflow = "hidden";

                    }else{
                        item.heart = true;
                        this.success_popup = '加入收藏成功'
                        this.isShow2 = true;
                        this.addCollectList(item)

                        // 使 scroll 無效
                        let body = document.querySelector('body');
                        body.style.overflow = "hidden";
                    }

                    // 收藏 & 移除 PopOn 消失
                    clearInterval(this.success_popup_interval)
                    this.success_popup_interval = setInterval(() => {
                        this.success_popup= ''

                        // 一秒後開啟 scroll
                        let body = document.querySelector('body');
                        body.style.overflow = "auto";
                        this.isShow2 = false;
                    }, 1000);

                    // 收藏增加 Loaca  lStorage
                    // console.log(this.collect_heart_data_list); 
                    localStorage.setItem("shopCollect", JSON.stringify(this.collect_heart_data_list));

                },

                // 商品名稱關鍵字查詢
                search(){
                    let search_name = this.$refs.search_name.value;
                    console.log(search_name);
                    if(this.$refs.search_name.value == ""){
                        this.getCate();
                    }else{
                        $.ajax({
                            method: "POST",
                            url: "php/frontpage/shopMall_search.php",
                            data: {
                                search_name: search_name
                            },
                            dataType: "json",
                            success: (response) => {
                                if(response == "無資料"){
                                    this.AjaxMealsInfo = [];
                                    // return;
                                }else{
                                    // console.log(response);
                                    this.AjaxMealsInfo = response ;
                                    // 將三張 img 轉陣列並塞回 data
                                    let xxx = this.AjaxMealsInfo;
                                    for(let i =0; i < xxx.length; i++){

                                        // 將img存到新陣列
                                        let img = this.AjaxMealsInfo[i].IMG;
                                        const imgs = img.split(" ");

                                        // 回傳AjaxMealsInfo
                                        this.AjaxMealsInfo[i].IMG = imgs;
                                        // console.log(this.AjaxMealsInfo[i].IMG);
                                    }
                                }
                            },
                            error: function (exception) {
                                alert("數據載入失敗: " + exception.status);
                            }
                        });
                    }
                    
                },


            },
        });

        const vm_shopmall = app.mount("#app");

        

        </script>
    </body>
</html>