<!-- left_navigation -->
    <div class="article">
        <div class="side_nav">
            <div class="side_nav_wrap">
                <div class="side_nav_wrap_logo">
                    <a href="../back_index.html">
                        <p>私覓私廚</p>
                        <img src="/img/back_header/logo.png" alt="">
                    </a>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="../back_index.html" class="side_nav_wrap_text">
                            <img src="/img/back_header/index.png" alt="">
                            <p>&emsp;總覽&emsp;</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"
                                style="color:#0F3D3E"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"
                                style="color:#0F3D3E"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="../back_meberManger.html" class="side_nav_wrap_text">
                            <img src="/img/back_header/user.png" alt="">
                            <p>會員管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"
                                style="color:#0F3D3E"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"
                                style="color:#0F3D3E"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="#" class="side_nav_wrap_text" id="side_nav_wrap_text">
                            <img src="/img/back_header/customer.png" alt="">
                            <p>訂單管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"></ion-icon>
                        </a>
                        <div class="side_subNav_wrap">
                            <a href="../back_orderlist_shop.html">商城</a>
                            <a href="../back_orderlist_prev.html">預約</a>
                        </div>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="../back_feedback.html" class="side_nav_wrap_text">
                            <img src="/img/back_header/feedback.png" alt="">
                            <p>顧客評價</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"
                                style="color:#0F3D3E"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"
                                style="color:#0F3D3E"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="../back_cheifManger.html" class="side_nav_wrap_text">
                            <img src="/img/back_header/chef.png" alt="">
                            <p>廚師管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"
                                style="color:#0F3D3E"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"
                                style="color:#0F3D3E"></ion-icon>
                        </a>
                    </div>
                </div>

                <!-- 正在改商品管理 -->
                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="#" class="side_nav_wrap_text">
                            <img src="/img/back_header/product.png" alt="">
                            <p>商品管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"></ion-icon>
                        </a>
                        <div class="side_subNav_wrap">
                            <a href="../back_productManger.html">商品上架</a>
                            <a href="../back_reserve_productManger.html">私廚上架</a>
                        </div>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="#" class="side_nav_wrap_text">
                            <img src="/img/back_header/messege.png" alt="">
                            <p>訊息管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"></ion-icon>
                        </a>
                        <div class="side_subNav_wrap">
                            <a href="../back_contactUs.html">聯絡我們</a>
                            <a href="../back_message.html">訊息中心</a>
                        </div>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="../back_news.html" class="side_nav_wrap_text">
                            <img src="/img/back_header/announcement.png" alt="">
                            <p>動態管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"
                                style="color:#0F3D3E"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"
                                style="color:#0F3D3E"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="side_nav_wrap_select">
                    <div class="side_nav_wrap_item">
                        <a href="../back_common.html" class="side_nav_wrap_text">
                            <img src="/img/back_header/QA.png" alt="">
                            <p>ＱＡ管理</p>
                            <ion-icon name="chevron-down-outline" class="chevron_down" id="chevron_down"
                                style="color:#0F3D3E"></ion-icon>
                            <ion-icon name="chevron-up-outline" class="chevron_up" id="chevron_up"
                                style="color:#0F3D3E"></ion-icon>
                        </a>
                    </div>
                </div>

            </div>
            <!-- side_nav-wrap -->
        </div>
        <!-- side_nav -->
    </div>
    <!-- article -->