<!--         ------  no_img_footer  ------          -->
<div class="noimg_footer fulid_wrapper">
    <div class="footer_all wrapper">

        <div class="footer_btm">
            <div class="info_footer">
                <ul>
                    <h6>Info</h6>
                    <div class="info_rwd">
                        <a href="member.html" class="black">
                            <li>FAQs</li>
                        </a>
                        <a href="member.html" class="black">
                            <li>常見問題</li>
                        </a>
                        <!-- <a href="#" class="black">
                            <li>配送須知</li>
                        </a>
                        <a href="#" class="black">
                            <li>隱私權政策</li>
                        </a> -->
                        <a href="aboutUs.html" class="black">
                            <li>聯繫我們</li>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="label_footer">
                <ul>
                    <h6>Label</h6>
                    <div class="label_rwd">
                        <a href="aboutUs.html" class="black">
                            <li>關於我們</li>
                        </a>
                        <a href="chefTeam.html" class="black">
                            <li>私廚陣容</li>
                        </a>
                        <a href="reseve.html" class="black">
                            <li>到府私廚</li>
                        </a>
                        <a href="shopMall.html" class="black">
                            <li>線上商城</li>
                        </a>
                        <a href="news.html" class="black">
                            <li>最新動態</li>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="follow_footer">
                <ul>
                    <h6>Flollow us</h6>
                    <li>Lorem ipsum dolor sit amet consectetur. Quam risus cras nisl eros non. Gravida fringilla
                        pellentesque sed dictum aenean <br>本網站為緯育TibaMe前端設計工程師班第80期第__組學員專題成果作品，本平台僅供學習、展示之用。</li>
                    <div class="social_icon">
                        <a href="#"><i class="fa-brands fa-facebook black"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram black"></i></a>
                        <a href="#"><i class="fa-brands fa-line black"></i></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>