<!--         ------  index_header  ------          -->
<div class="wrap_header fulid_wrapper">
    <div class="header_scope wrapper">
        <header class="header_index">
            <div class="indexham_div">
                <ul class="indexheader_bar">
                    <li><a href="aboutUs.html" class="Camel-3">關於我們</a></li>
                    <li><a href="chefTeam.html" class="Camel-3">私廚陣容</a></li>
                    <li><a href="news.html" class="Camel-3">最新動態</a></li>
                    <li><a href="menu.html" class="Camel-3">到府私廚</a></li>
                    <li><a href="shopMall.html" class="Camel-3">線上商城</a></li>
                </ul>
                <div class="indexham_user">
                    <ul class="indexuser_ham">
                        <div class="indexborder_ham">
                            <li><a href="member.html" class="Camel-3">會員中心</a></li>
                            <li><a href="orderList.html" class="Camel-3">訂單查詢</a></li>
                            <li><a href="member.html" class="Camel-3">收藏菜品</a></li>
                            <li><a href="member.html" class="Camel-3">訊息中心</a></li>
                            <li><a href="member.html" class="Camel-3">常見問題</a></li>
                        </div>
                        <li><a href="member.html" class="indexlog_ham green-1">登入</a></li>
                    </ul>
                </div>
            </div>
            <ul class="indexheader_user">
                <a href="member.html" class="Camel-3 indexslide_user"><i class="fa-solid fa-user"></i></a>
                <a href="cartDetail.html" class="Camel-3 indexslide_cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#" class="indexslide_ham Camel-3"><i class="fa-solid fa-bars"></i></a>
            </ul>
        </header>

        <div class="indexhead_logo">
            <img src="./img/logo_img/logo_camel_2-04.png" alt="">
        </div>

        <nav>
            <a href="reserve01.html" class="Camel-3 index_reservebtn">
                <h6>立即預約</h6>
            </a>
            <span class="guide_line"></span>
        </nav>


    </div>
</div>

<script src="js/vender/Jquery/jquery-3.6.1.js"></script>
<script>

    $(function () {

        $(".indexslide_ham").on("click", function () {
            console.log("qwert");
            $(".indexheader_bar").toggleClass("indexham_div --on")
            $(".indexuser_ham").toggleClass("indexham_div --on")
        })
    })
</script>