<!--         ------  index_header  ------          -->
<div class="wrap_header fulid_wrapper">
    <div class="header_scope wrapper">
        <header class="header_index">
            <ul class="header_bar">
                <li><a href="aboutUs.html" class="Camel-3">關於我們</a></li>
                <li><a href="chefTeam.html" class="Camel-3">私廚陣容</a></li>
                <li><a href="news.html" class="Camel-3">最新動態</a></li>
                <li><a href="reseve.html" class="Camel-3">到府私廚</a></li>
                <li><a href="shopMall.html" class="Camel-3">線上商城</a></li>
            </ul>
            <ul class="header_user">
                <a href="member.html" class="Camel-3"><i class="fa-solid fa-user"></i></a>
                <a href="#" class="Camel-3"><i class="fa-solid fa-cart-shopping"></i></a>
            </ul>
        </header>

        <div class="head_logo">
            <img src="../img/logo_img/logo_camel_2-04.png" alt="">
        </div>

        <nav>
            <a href="reseve.html" class="Camel-3 index_reservebtn">
                <h6>立即預約</h6>
            </a>
            <span class="guide_line"></span>
        </nav>


    </div>
</div>