<div class="wrap_header fulid_wrapper">
    <div class="header_scope .wrapper">
        <header>
            <ul class="header_bar">
                <li><a href="#" class="Camel-3">關於我們</a></li>
                <li><a href="#" class="Camel-3">私廚陣容</a></li>
                <li><a href="#" class="Camel-3">最新動態</a></li>
                <li><a href="#" class="Camel-3">到府私廚</a></li>
                <li><a href="#" class="Camel-3">線上商城</a></li>
            </ul>
            <ul class="header_user">
                <a href="#" class="Camel-3"><i class="fa-regular fa-user"></i></a>
                <a href="#" class="Camel-3"><i class="fa-solid fa-cart-shopping"></i></a>
            </ul>
        </header>

        <div class="head_logo">
            <img src="/img/logo_img/logo_camel_2-04.png" alt="">
        </div>

        <nav>
            <a href="#" class="Camel-3">
                <h6>立即預約</h6>
            </a>
            <span class="guide_line"></span>
        </nav>
    </div>
</div>

<div class="slide_header fulid_wrapper">
    <div class="footer_scope .wrapper"></div>
    <div class="head_logo">
        <a href="#"><img src="/img/logo_img/logo_black-03.png" alt=""></a>
    </div>
    <header>
        <ul class="header_bar">
            <li><a href="#" class="black">關於我們</a></li>
            <li><a href="#" class="black">私廚陣容</a></li>
            <li><a href="#" class="black">最新動態</a></li>
            <li><a href="#" class="black">到府私廚</a></li>
            <li><a href="#" class="black">線上商城</a></li>
        </ul>

    </header>


    <nav>
        <ul class="header_user">
            <a href="#" class="black"><i class="fa-regular fa-user"></i></a>
            <a href="#" class="black"><i class="fa-solid fa-cart-shopping"></i></a>
        </ul>
        <a href="#" class="black">
            <img src="/img/btn_reserve_img/btn_reserve_c_img.png" alt="">
        </a>
    </nav>

    <span class="guide_line"></span>
</div>