<!--         ------  index_header  ------          -->
<div class="slide_header fulid_wrapper hide" id="slideforindex">


    <header class="header_all">
        <div class="contain wrapper">
            <div class="head_logo">
                <a href="index_home.html"><img src="./img/logo_img/logo_black-03.png" alt=""></a>
            </div>
            <div class="ham_div">
                <ul class="header_bar" id="header_bar">
                    <li><a href="aboutUs.html" class="black abouttab">關於我們</a></li>
                    <li><a href="chefTeam.html" class="black cheftab">私廚陣容</a></li>
                    <li><a href="news.html" class="black newstab">最新動態</a></li>
                    <li><a href="menu.html" class="black menutab">到府私廚</a></li>
                    <li><a href="shopMall.html" class="black shoptab">線上商城</a></li>
                </ul>
                <!-- <div class="ham_user"> -->
                <ul class="user_ham">
                    <div class="border_ham">
                        <li class="member_li"><a class="Camel-3 member_open member_li_1">會員中心</a></li>
                        <li class="member_li"><a class="Camel-3 member_open member_li_2">訂單查詢</a></li>
                        <li class="member_li"><a class="Camel-3 member_open member_li_3">收藏菜品<span
                                    class="msg_signal none" id="cart_num_ham">3</span></a></li>
                        <!-- <li class="member_li"><a href="member.html" class="Camel-3 member_open">訊息中心</a>
                        </li> -->
                        <li class="member_li"><a class="Camel-3 member_open member_li_4">常見問題</a></li>
                    </div>
                    <li><a href="member.html" class="log_ham green-1">登入</a></li>
                </ul>
                <!-- </div> -->
            </div>
            <nav>
                <ul class="header_user">
                    <li class="black slide_user user_click"><i class="fa-solid fa-user"></i>
                        <!-- 會員中心的popup -->
                        <ul class="user_pop none">
                            <li class="userpop_li"><a href="member.html#member" class="black userpop_open">會員中心</a></li>
                            <li class="userpop_li"><a href="member.html#list" class="black userpop_open">訂單查詢</a></li>
                            <li class="userpop_li"><a href="member.html#collection" class="black userpop_open">收藏菜品<span
                                        class="userpopmsg_signal none" id="cart_num">3</span></a></li>
                            <!-- <li class="userpop_li"><a href="member.html" class="black userpop_open">訊息中心</a>
                            </li> -->
                            <li class="userpop_li"><a href="member.html#faq" class="black userpop_open">常見問題</a></li>
                            <li class="userpop_log"><a href="member.html" class="gray userpop_a">登出</a></li>
                        </ul>
                    </li>
                    <li class="black slide_cart"><i class="fa-solid fa-cart-shopping"></i></li>
                    <li class="black slide_ham"><i class="fa-solid fa-bars"></i></li>
                    <a href="reserve01.html" class="black reserve_btn">
                        <img src="./img/btn_reserve_img/btn_reserve_c_img.png" alt="">
                    </a>
                </ul>
                <!-- 登出成功popup -->
                <div class="wrapper logout_pop none">

                    <article>
                        <div class="check_text">
                            <i class="fa-solid fa-circle-check"></i>
                            <h6>登出成功</h6>
                        </div>
                    </article>
                </div>
                <!-- <a href="reseve.html" class="black reserve_pad">
                    <img src="../img/btn_reserve_img/btn_reserve_c_img.png" alt="">
                </a> -->
            </nav>

        </div>
    </header>
    <div class="header_bg fulid_wrapper"></div>
</div>
<!-- <div class="header_mg fulid_wrapper"></div> -->

<div class="indexn_none" id="indexham_bg"></div>
<div class="wrap_header fulid_wrapper">
    <div class="header_scope wrapper">
        <header class="header_index">
            <div class="indexham_div">
                <ul class="indexheader_bar">
                    <li><a href="aboutUs.html" class="Camel-3">關於我們</a></li>
                    <li><a href="chefTeam.html" class="Camel-3">私廚陣容</a></li>
                    <li><a href="news.html" class="Camel-3">最新動態</a></li>
                    <li><a href="menu.html" class="Camel-3">到府私廚</a></li>
                    <li><a href="shopMall.html" class="Camel-3">線上商城</a></li>
                </ul>
                <!-- <div class="indexham_user"> -->
                <ul class="indexuser_ham">
                    <div class="indexborder_ham">
                        <li class="indexmember_li"><a class="Camel-3 indexmember_open member_li_1_index">會員中心</a></li>
                        <li class="indexmember_li"><a class="Camel-3 indexmember_open member_li_2_index">訂單查詢</a>
                        </li>
                        <li class="indexmember_li"><a 
                                class="Camel-3 indexmember_open member_li_3_index"><span
                                class="indexmsg_signal none" id="cart_num_ham_index">3</span>收藏菜品</a></li>
                        <!-- <li class="indexmember_li"><a href="member.html" class="Camel-3 indexmember_open">  訊息中心</a></li> -->
                        <li class="indexmember_li"><a class="Camel-3 indexmember_open member_li_4_index">常見問題</a>
                        </li>
                    </div>
                    <li><a href="member.html" class="indexlog_ham green-1">登入</a></li>
                </ul>
                <!-- </div> -->
            </div>
            <ul class="indexheader_user" id="indexforslide">
                <a href="member.html" class="Camel-3 indexslide_user"><i class="fa-solid fa-user"></i></a>
                <li class="Camel-3 indexslide_cart"><i class="fa-solid fa-cart-shopping">
                    <span class="carpopmsg_signal none" id="car_num">1</span></i></li>
                <li class="indexslide_ham Camel-3"><i class="fa-solid fa-bars ii_ham"></i></li>
                <a href="reserve01.html" class="black indexreserve_btn">
                    <img src="./img/btn_reserve_img/btn_reserve_c_img.png" alt="">
                </a>
                <!-- 會員中心的popup -->
                <ul class="user_pop_index none">
                    <li class="userpop_li"><a href="member.html#member" class="black userpop_open">會員中心</a></li>
                    <li class="userpop_li"><a href="member.html#list" class="black userpop_open">訂單查詢</a></li>
                    <li class="userpop_li"><a href="member.html#collection" class="black userpop_open">收藏菜品<span
                                class="userpopmsg_signal none" id="cart_num_index">3</span></a></li>
                    <!-- <li class="userpop_li"><a href="member.html" class="black userpop_open">訊息中心</a>
                    </li> -->
                    <li class="userpop_li"><a href="member.html#faq" class="black userpop_open">常見問題</a></li>
                    <li class="userpop_log userpop_log_index"><a href="member.html" class="gray userpop_a">登出</a></li>
                </ul>
            </ul>
        </header>


        <div class="indexhead_logo">
            <!-- <img src="./img/logo_img/logo_camel_2-04.png" alt=""> -->
        </div>

        <nav>
            <!-- <a href="reserve01.html" class="Camel-3 index_reservebtn">
                <h6>立即預約</h6>
            </a> -->
            <span class="guide_line"></span>
        </nav>

    </ul>
        <!-- 登出成功popup -->
        <div class="logout_pop logout_pop_index none">

            <article>
                <div class="check_text">
                    <i class="fa-solid fa-circle-check"></i>
                    <h6>登出成功</h6>
                </div>
            </article>
        </div>
    </div>
</div>
@@include('login.html')
@@include("../cart_pop.html")
