    <div class="fulid_wrapper login none" id="login_bg">
        <div class="container none" id="login">
            <!-- 註冊登入tab -->
            <div class="login_tab font16 Camel-1" ref="tab">
                <div class="tab_add " @click="add_tab" ref="tab1">註冊會員</div>
                <div class="tab_enter tab_line" @click="enter_tab" ref="tab2">會員登入</div>
            </div>
            <!-- 表單 -->
            <!-- ==========註冊表單============= -->
            <div action="" class="login_add none" ref="add_tab">
                <input type="text" name="" id="join_account" placeholder="請輸入信箱" @blur="checkEmail" v-model="user_add.account" >  
                <p class="text_no">*請填寫正確信箱</p>
                <div class="login_pwd">
                    <input type="password" name="" id="join_pwd" placeholder="密碼(請輸入8到16位的字母、數字)" @blur="check_pwd"  v-model="user_add.pwd">
                    <i class="fa-regular fa-eye-slash font12 gray" @click="eye_icon" ></i>
                    <p class="text_no">*請填寫正確的密碼格式</p>
                </div>
                <div class="login_pwd">
                    <input type="password" name="" id="join_again" placeholder="再次輸入密碼" @blur="check_pwd">
                    <i class="fa-regular fa-eye-slash font12 gray" @click="eye_icon" ></i>
                    <p class="text_no">*請填寫正確的密碼格式</p>
                    <!-- <i class="fa-regular fa-eye"></i> -->
                </div>
                <div class="login_news">
                    <input type="checkbox" name="login_news" id="login_news_yes1">
                    <label for="login_news_yes1">
                        <p class="font14">我願意接收私覓的最新消息、優惠相關訊息</p>
                    </label>
                </div>
                <div class="login_news">
                    <input type="checkbox" name="login_news" id="login_news_yes2">
                    <label for="login_news_yes2">
                        <p class="font14" id="login_news_yes2_p">我同意網站服務條款及隱私權政策</p>
                    </label>
                </div>
                <button type="submit" class="btn_login font18" @click="join_ajax">立即加入</button>
            </div>
            <!-- =========會員登入表單============ -->
            <div action="" class="login_enter" ref="enter_tab">
                <input type="text" name="" id="login_account" placeholder="請輸入信箱"@blur="checkEmail" v-model="user_enter.account">
                <p class="text_no">*請填寫正確的帳號或密碼</p>
                <div class="login_pwd">
                    <input type="password" name="" id="login_pwd" placeholder="請輸入密碼" minlength="8" maxlength="16"  @blur="check_pwd" v-model="user_enter.pwd">
                    <i class="fa-regular fa-eye-slash font12 gray" @click="eye_icon"></i>
                    <p class="text_no">*請填寫正確的帳號或密碼</p>

                </div>
                <button type="submit" id="login_ajax" class="btn_login font18" @click="login_ajax">會員登入</button>
                <a class="btn_forget" @click="forget">忘記密碼？</a>
            </div>
            <!-- 或 -->
            <div class="login_or" ref="or">
                <p class="font16 gray">或</p>
            </div>
            <!-- 第三方GOOGLE -->
            <!-- <div
                id="g_id_onload"
                data-client_id="559185697006-3p27f7jmn1dh15u89uigetihv8tkeqh5.apps.googleusercontent.com"
                data-login_uri="https://localhost"
                data-auto_prompt="false"
            ></div>
            <div
                class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left"
            ></div> -->
            <button type="button" class="btn_three font18 " ref="three"> 
                 <i class="fa-brands fa-line"></i>
                使用LINE快速登入
            </button>
            <!-- =========註冊成功畫面=============== -->
            <div class="login_success none" ref="join_ok">
                <div class="yes">
                    <i class="fa-solid fa-check"></i>
                </div>
                <h6>註冊成功</h6>
                <h6>請再次登入</h6>
                <button class="inCart_btn2" @click="add_ok">確定</button>
            </div>

            <!-- ==========忘記密碼畫面============= -->
            <div class="login_forget none" ref="forget">
                <h6>忘記密碼</h6>
                <div class="forget" action="">
                    <input type="text" placeholder="請輸入電子信箱">
                    <button class="inCart_btn1">傳送驗證碼</button>
                    <input type="text" placeholder="請輸入驗證碼">
                    <button class="inCart_btn1">驗證</button>
                </div>

                <div class="login_back login_tab font16 Camel-1">
                    <div class="back_add tab_add" @click="add_tab">註冊會員</div>
                    <div class="back_enter tab_enter" @click="enter_tab">會員登入</div>
                </div>

            </div>
        </div>
        <!-- 會員註冊{{user_add}} -->
        <!-- 會員登入{{user_enter}} -->
    </div>

    <!-- email -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!-- google api -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
    </script>